
.o_AutocompleteInputSuggestionItemView {
    &:hover {
        background-color: gray('100');
        cursor: pointer;
        font-weight: bold;
    }
    &.o-isActive {
        background-color: gray('200');
        cursor: pointer;
        font-weight: bold;
    }
}
