/* ---- My Orders page ---- */

.orders_vertical_align {
    display: flex;
    align-items: center;
}

.orders_label_text_align {
    vertical-align: 15%;
}

tr.o_is_line_note {
    color: #999;
}

tr.o_is_line_section {
    font-weight: bold;
    background-color: #EEE;
}
