.oe_card {
    border: 1px solid #ddd; /* Borde del card */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Margen inferior entre tarjetas */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
.o_list_view table.o_list_table {
    background-color: #f0f0f0;
}

/* Estilo para las celdas de la tabla */
.o_list_view table.o_list_table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilo para las filas impares de la tabla */
.o_list_view table.o_list_table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Estilo para las filas pares de la tabla */
.o_list_view table.o_list_table tr:nth-child(even) {
    background-color: #f9f9f9;
}