td.o_list_many2one {
    button.web_tree_many2one_clickable {
        margin-left: 0.5em;
        visibility: hidden;
    }

    &:hover button.web_tree_many2one_clickable {
        visibility: visible;
    }
}
