.table.o_sale_product_configurator_table {
    & tr:first-child > td {
        padding-top: 0 !important;
    }

    > :not(caption) > *:last-child > * {
        border-bottom: 0;
    }

    &:where(:not(.o_sale_product_configurator_table_optional)) {
        margin-bottom: $spacer !important;
    }
}

.o_sale_product_configurator_img {
    width: 40px;
    max-height: 240px;

    @include media-breakpoint-up(md) {
        width: 120px;
    }
}

@include media-breakpoint-up(md) {
    .o_sale_product_configurator_qty,
    .o_sale_product_configurator_price {
        width: 160px;
    }
}

.product_name_description {
    max-width: 8rem;
}

@include media-breakpoint-down(lg) {
    .impossible_combination_alert {
        margin-left: -3rem;
        margin-right: -9rem;
    }
}

.o_sale_product_configurator_uom_choice.active label {
    $-btn-secondary-design: map-get($o-btns-bs-override, "secondary");

    background-color: map-get($-btn-secondary-design, active-background);
    border-color: map-get($-btn-secondary-design, active-border);
    color: map-get($-btn-secondary-design, active-color);
}
