
.o_inventory_adjustments {

    button[name='action_set_inventory_quantity'] {
        pointer-events: auto;
    }
    .o_selected_row {
        button[name='action_set_inventory_quantity'] {
            pointer-events: none;
            color: $text-muted;
        }
    }
}
