<?xml version="1.0" ?>
<odoo>

    <record id="view_intrastat_company_form" model="ir.ui.view">
        <field name="name">view_form_intrastat_company</field>
        <field name="model">res.company</field>
        <field name="inherit_id" ref="base.view_company_form"/>
        <field name="arch" type="xml">

            <xpath expr="//page" position="inside">
                <group colspan="4">
                    <group string="Intrastat">
                        <field name="intrastat_ua_code"/>
                        <field name="intrastat_uom_kg_id"/>
                        <field name="intrastat_additional_unit_from"/>
                        <field name="intrastat_exclude_free_line"/>
                        <field name="intrastat_delegated_name"/>
                        <field name="intrastat_delegated_vat"/>
                        <field name="intrastat_export_file_name"/>
                        <field name="intrastat_min_amount"/>
                    </group>
                    <group string="Default sale values">
                        <field name="intrastat_sale_statistic_amount"/>
                        <field name="intrastat_sale_transation_nature_id"/>
                        <field name="intrastat_sale_delivery_code_id"/>
                        <field name="intrastat_sale_transport_code_id"/>
                        <field name="intrastat_sale_province_origin_id"/>
                    </group>
                    <group string="Default purchase values">
                        <field name="intrastat_purchase_statistic_amount"/>
                        <field name="intrastat_purchase_transation_nature_id"/>
                        <field name="intrastat_purchase_delivery_code_id"/>
                        <field name="intrastat_purchase_transport_code_id"/>
                        <field name="intrastat_purchase_province_destination_id" />
                    </group>
                </group>

            </xpath>

        </field>
    </record>

</odoo>
