        <template id="assets_frontend" inherit_id="website.assets_frontend" name="Theme Zen">
            <xpath expr=". position="inside">
                <link rel="stylesheet" type="text/css" href="/{{ module }}/static/src/css/{{ module }}_theme.css" />
            </xpath>
        </template>

