        <template id="assets_frontend" inherit_id="website.assets_frontend" name="Theme Zen">
            <xpath expr="." position="inside">
                <link rel="stylesheet" type="text/css" href="/{{ module }}/static/src/css/{{ module }}_theme.css" />
            </xpath>
        </template>

        <template id="website.page_{{ module }}" name="Page {{module}}">
            Page {{ module }}
        </template>

        <template id="{{module}}_snippets" name="{{ module }} Snippet" inherit_id="website.snippets">
            <xpath expr="//div[@id='snippet_content']" position="inside">
                <div>
                    <div class="oe_snippet_thumbnail">
                        <div style="background: white;box-shadow:none;-webkit-box-shadow:none;" class="oe_snippet_thumbnail_img">
                            <i class="fa fa-file-code-o fa-5x text-muted"></i>
                        </div>
                        <span class="oe_snippet_thumbnail_title">{{ module }} Snipper</span>
                    </div>
                    <section class="oe_snippet_body mb16 mt16">
                        <h1>{{ module }} snippet</h1>
                    </section>
                </div>
            </xpath>
        </template>

