// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ChannelInvitationForm {
    &_selectablePartnerAvatarContainer {
        width: 32px;
        height: 32px;
    }
    
    &_selectablePartnerAvatar {
        object-fit: cover;
    }
    
    &_selectablePartnerName {
        min-width: 0;
    }
    
    &_selectedPartners {
        max-height: 100px;
    }
}

