.o_stock_forecasted_page .o_report_replenishment .o_grid_warning {
  background-color: #f4cccc;
}
.o_stock_forecasted_page .o_report_replenishment .o_grid_match {
  background-color: #f0f0f0;
}
.o_stock_forecasted_page .o_priority {
  display: inline-block;
  padding: 0;
  border: 0;
}
.o_stock_forecasted_page .o_priority.o_priority_star {
  background-color: transparent;
  font-size: 1.35em;
}
.o_stock_forecasted_page .o_priority.o_priority_star.fa-star-o {
  color: #a8a8a8;
}
.o_stock_forecasted_page .o_priority.o_priority_star.fa-star-o:hover {
  color: gold;
}
.o_stock_forecasted_page .o_priority.o_priority_star.fa-star-o:hover:before {
  content: "\f005";
}
.o_stock_forecasted_page .o_priority.o_priority_star.fa-star {
  color: gold;
}
.o_stock_forecasted_page .o_priority.o_priority_star.fa-star:hover {
  color: #a8a8a8;
}
.o_stock_forecasted_page .o_priority.o_priority_star.fa-star:hover:before {
  content: "\f006";
}
.o_stock_forecasted_page .table td {
  vertical-align: middle;
}