.o_stock_forecast_droppable_active {
    border: 0px dashed transparent;

    &.o_stock_forecast_droppable_hover {
        display: block;
        cursor: pointer;
        background-color: rgba($o-brand-primary, 0.02);
        border: 1px dashed rgba($o-brand-primary, 0.5);
        padding: 10px;
        margin: 10px 0;
    }
}