// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ThreadIcon {
    display: flex;
    width: 13px;
    justify-content: center;
    flex: 0 0 auto;
}

.o_ThreadIcon_typing {
    flex: 1 1 auto;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_ThreadIcon_away {
    color: theme-color('warning');
}

.o_ThreadIcon_online {
    color: $o-enterprise-primary-color;
}
