// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o-CallInvitation-correspondent {
    width: 130px;
}

.o-CallInvitation img {
    width: 70%;
    height: 70%;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-CallInvitation img {
    border: 3px solid gray;
}
