.o-livechat-LivechatStatusLabel-Sidebar {
    --bg-opacity: .1;
    --border-color: transparent;

    &.bg-info {
        --background-color: RGBA(#{to-rgb($purple)}, var(--bg-opacity));
    }

    &.o-selfMember.o-help {
        background:
            repeating-linear-gradient(
                45deg,
                rgba($purple, var(--livechat-needHelpSelfMemberBgOpacity, .05)),
                rgba($purple, var(--livechat-needHelpSelfMemberBgOpacity, .05)) 6px,
                transparent 6px,
                transparent 12px
            );
    }

    .o-mail-DiscussSidebarChannel.o-active &,
    .o-mail-DiscussSidebarChannel &:hover,
    .o-mail-DiscussSidebarChannel &:focus-visible {
        --bg-opacity: 1;
    }

    .o-mail-DiscussSidebarChannel.o-active & {
        --border-opacity: .75;
    }

    .o-mail-DiscussSidebarChannel:hover &.o-help {
        --background-color: #{mix($o-webclient-background-color, $purple, 80%)};
    }

    .o-mail-DiscussSidebarChannel.o-active &.o-help {
        --background-color: #{mix($o-webclient-background-color, $purple, 90%)};
        --border-color: #{rgba($indigo, 0.75)};
    }
}

.o-livechat-LivechatStatusLabel-icon.o-inDiscussSidebar {
    background-color: $white;
}
