/* feedback */
.oe_im_chatview_feedback{
    padding: 15px;
    vertical-align: middle;
}
.oe_im_chatview_feedback .oe_im_feedback_text {
    color: white;
    vertical-align: middle;
    font-size: 14px;
}
.oe_im_chatview_feedback .oe_im_feedback_small_text {
    color: white;
    vertical-align: middle;
    font-size: 12px;
}
.oe_im_chatview_feedback .oe_im_feedback_choices{
    height:40px;
    text-align: center;
    margin: 10px 0;
}
.oe_im_chatview_feedback .oe_im_feedback_choices a{
    cursor: pointer;
    margin: 5px;
    opacity: 0.65;
}
.oe_im_chatview_feedback .oe_im_feedback_choices a:hover{
    opacity:1;
}
.oe_im_chatview_feedback .oe_im_feedback_choices a.selected{
    opacity: 1;
}

/* feedback reason */
.oe_im_feedback_reason {
    margin: 10px 0;
}
.oe_im_feedback_reason textarea {
    width: 100%;
    height: 70px;
    resize: none;
}
.oe_im_feedback_btn input{
    float: right;
    margin-left : 10px;
}
