.o-mail-DiscussSidebar {
    .o-mail-DiscussSidebarCategory-icon {
        width: 15px;
        height: 15px;
    }
}

.o-mail-DiscussSidebarCategory-item {
    line-height: 2.45; // so that same height as actions, so folding doesn't resize
}

.o-mail-DiscussSidebar-item {
    &:hover .o-mail-DiscussSidebarChannel-commands {
        opacity: 1 !important;
    }
    .activate-settings {
        opacity: 1 !important;
    }
}

.o-mail-DiscussSidebarChannel-itemMain {
    background-color: inherit !important; // Not 'bg-inherit' so it cancels btn hover effect too
}

.o-mail-DiscussSidebarChannel-threadIcon {
    font-size: xx-small;
    width: 13px;
    height: 13px;
}
