.oe_kanban_project {
    width: 220px;
    min-height: 160px;
}

.oe_kanban_project_avatars img {
    width: 30px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.oe_form_gantt_avatars:after {
  font-family: "mnmliconsRegular" !important;
  font-size: 21px;
  font-weight: 300 !important;
  content: "y";
  top: 3px;
  position: relative;
}

.openerp .oe_kanban_view .oe_kanban_project_task_spark {
  /* Customize width and height of kanban according bootstrap3 */
  width: 265px;
  min-height: 120px;
  /* End of customize */
  cursor: default;
}

.openerp .oe_kanban_view .oe_sparkline_bar {
    height: 20px;
    width: 30px;
    display: inline;

}

.openerp .oe_project_kanban_content {
  margin-right: 16px !important;
  margin-left: 16px !important;
}
.openerp .oe_margin_top_8 {
  margin-top: 8px;
}
