.o_kanban_project_tasks .oe_kanban_align.badge, .o_project_kanban .oe_kanban_align.badge {
  background: inherit;
  color: inherit;
  border: 1px solid var(--success);
}

.o_kanban_project_tasks .o_field_one2many_sub_task {
  margin-top:2px;
  margin-right: 6px;
}

.o_form_project_project  .o_setting_box {
  padding-left: 1.5rem;
}

.o_many2many_avatar_user_no_wrap div {
   flex-wrap: nowrap !important;
}
