.oe_to_invoice_buttons {
    min-height: 33px;
    min-width: 70px;
    vertical-align: top;
  
}

.oe_to_invoice_buttons:hover {
  cursor: pointer;
}


.oe_project_border{
  border-right: groove;
  border-left: groove;
}
.oe_project_font:hover{
  text-decoration: underline;
}
.oe_project_members{
  padding-left: 5px !important;
  text-align: left;
}
.oe_project_desc{
  width: 250px;
}
.progress{
  width: auto;
}
.oe_project_font{
  color: #000000;
  padding-left: 5px !important;
  
}
.sequence {
  padding-bottom: 4px !important;
  padding-top: 3px !important;
  border-bottom: groove;
  /*font-size: 20px;*/
  text-align: center;
}


.project_icon{
    width: 30px;
    display: block;
    height: 30px;
    text-align: center;
}

.project_icon:hover {
  cursor: pointer;
  display:  block;
  height: 40px;
  width: 40px;
  text-align: center;
}

.project_table{
  width:350px;
}
.td_image{
  width:60px;
  text-align:center;
  vertical-align:top;
}
.avatar{
    height:40px;
    width:40px;
}
.td_name{
    text-align:left;
    vertical-align:middle;
    width:220px;
}
.td_deadline{
    width:70px;
    text-align:center;
}
.td_member{
    text-align:right;
    vertical-align:bottom;
    width:130px;
    height:20px;
}
.td_member_img{
    height:22px;
    width:22px;
}
.img_member{
    height:20px;
    width:20px;
}
.td_hours{
    text-align:center;
    vertical-align:bottom;
    width:120px
}
.task{
    text-align:left;
    vertical-align:middle;
}
.invoiced{
  font-size: 10px;
}
.oe_project {
  width: 55px; 
}
.user {
  color:rgb(192,192,192);
  font-size: 10px;
}
.manager {
  font-size: 9px;
}

.oe_project_buttons {
    display: inline-block;
    padding: 0px 0px;
    background-color: transparent;
    border: hidden;
    color: #0000FF;
    min-height: 40px;
    min-width: 40px;
    text-align: center;
}

.oe_project_buttons:hover {
  cursor: pointer;
  background-size: 100% 100%;
}

.oe_project_font1{
  padding-left: 2px !important;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

div.oe_fold_column{
  padding:2px !important;
}