// o-mail-PickerContent handles the picker in popover/mobile view
.o-mail-PickerContent {
    .o-discuss-GifPicker {
        width: 100% !important;
        height: 100% !important;
    }

    .o-mail-PickerContent-bigEmoji {
        font-size: 5rem !important;
        filter: grayscale(0.25);
    }
}
