.o-mail-ActionList {
    hr {
        opacity: 12.5% !important;
    }

    .o-mail-ActionList-group.o-odooControlPanelSwitchStyle:has(.rounded-circle) {
        gap: map-get($spacers, 1);
    }

    button {
        z-index: 1;
        --btn-disabled-opacity: 0.25;

        &:not(.o-odooControlPanelSwitchStyle) {
            background-color: inherit;
        }

        &.o-inline {
            &:where(:has(i:first-child:last-child)) {
                $_btn-height: calc((#{$btn-font-size} * #{$btn-line-height}) + #{$btn-padding-y} * 2);

                height: var(--o-mail-ActionList-Button-height, #{$_btn-height});
                aspect-ratio: var(--o-mail-ActionList-Button-aspect-ratio, 1.1);
                opacity: var(--o-mail-ActionList-Button-opacity);
                line-height: 1;

                &:where(.rounded-circle) {
                    aspect-ratio: 1;
                }
                &:hover, &:focus, &:active, &:focus-visible  {
                    opacity: var(--o-mail-ActionList-Button-opacity--hover);
                }
            }

            &.o-odooControlPanelSwitchStyle i {
                opacity: var(--mail-ActionList-buttonInlineIconOpacity);
            }
        }

        &:not(.o-inline) > i {
            opacity: 65%;
            .o_bottom_sheet_sheet:has(&) {
                opacity: 100%;
            }
        }

        &.o-dropdown-item.btn-success, .o-mail-ChatWindow &.btn-success {
            i {
                opacity: 100%;
                background: var(--btn-bg);
                color: var(--btn-color);
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                padding: 0.4em;
                height: 1.2em;
                box-sizing: content-box;
            }

            &:hover, &:focus-visible {
                i {
                    background: var(--btn-hover-bg);
                    color: var(--btn-hover-color);
                }
            }
        }
        &.o-dropdown-item.btn-success i {
            font-size: 0.7em !important;
        }
        .o-mail-ChatWindow &.btn-success i {
            font-size: 0.9em !important;
        }
        &.o-dropdown-item.btn-danger {
            &.focus {
                background-color: rgba($danger, 0.75);
                color: white;
            }
            &:not(.focus) {
                color: var(--o-mail-ActionList-dropdownDangerUnfocusedColor, #{$danger});
            }
        }
    }

    .o_popover > & {
        .o-mail-ActionList-button {
            --btn-group-gap: 0px;
        }
    }

    .o_bottom_sheet & {
        .o-mail-ActionList-button {
            padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x) !important;
            font-size: $h5-font-size !important;
            font-weight: $o-font-weight-medium !important;
        }
    }
}
