.o-mail-AutoresizeInput:not([disabled]):focus {
    border-color: map-get($theme-colors, "dark");
    background-color: $white;
}

.o-mail-AutoresizeInput:not([disabled]):hover {
    background-color: $white;
    border: $border-width solid $border-color;
}
