.o-mail-AutoresizeInput {
    --o-input-border-color: transparent;
    border:$input-border-width solid var(--o-input-border-color);
    background-color: var(--o-input-background-color, #{$input-bg});

    &:where(:not([disabled])):where(:not(:focus)) {
        &::placeholder {
            font-style: italic;
        }
    }

    &:not([disabled]) {
        &:hover {
            --o-input-border-color: #{$border-color};
        }
        &:focus {
            --o-input-border-color: #{$o-component-active-border};
            color: $body-color !important; // Reset eventual text-muted.
        }
    }

    &:where([disabled]) {
        color: $body-color;
    }
}
