.o-mail-ChatWindow {
    width: $o-mail-ChatWindow-width;

    z-index: $zindex-sticky;
    &.o-mobile {
        background-color: mail-DiscussMenu-bgColor(1);
    }
    &:not(.o-mobile) {
        background-color: mail-DiscussMenu-bgColor(.95);
        border-radius: 25px;
        --border-opacity: .15;
        height: Min(95vh, $o-mail-ChatWindow-width * 15 / 9);
    }
    outline: none;
}

.o-mail-ChatWindow-closePanel {
    z-index: 2;
}

.o-mail-ChatWindow-counter {
    margin-bottom: map-get($spacers, 1) / 2;
}

.o-mail-ChatWindow-country {
    width: 24px;
}

.o-mail-ChatWindow-header {
    z-index: $o-mail-NavigableList-zIndex;
}

.o-mail-ChatWindow-threadAvatar img {
    height: 28px;
    width: 28px;

    .o-mail-ChatWindow.o-mobile & {
        height: 36px;
        width: 36px;
    }
}

.o-mail-ChatWindow-imStatus {
    bottom: 2px;
    right: -2px;
}

.o-mail-ChatWindow-typing {
    font-size: $small-font-size * 0.9;
    z-index: $o-mail-NavigableList-zIndex - 2;
}
