
.o-mail-ImStatus {
    width: $font-size-lg;
    height: $font-size-lg;

    &.o-md {
        width: $font-size-base;
        height: $font-size-base;
    }

    &.o-sm {
        width: $font-size-sm;
        height: $font-size-sm;
    }

    .o-away {
        color: $yellow;
    }
}
