.o-mail-Tabs-indicator-slide {
    transition: transform 0.3s ease;
    border-radius: 2px;
}

.o-mail-Tabs-tab {

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.modal:has(.o-mail-Tabs) .modal-body {
    padding: 0 !important;
}
