// = Select2 Variables
// ============================================================================
// No CSS hacks, variables overrides only

.select2-container,
.select2-drop,
.select2-search {
    --select2-border-color: #{$border-color};
    --select2-border-color--active: #{$o-brand-primary};
    --select2-background-image: none;
    --select2-color: #{$o-main-text-color};
    --select2-box-shadow: none;
    --select2__arrow-background: #{$o-gray-200};
    --select2__dropAbove-background-image: none;
    --select2__resultsHighlighted-color: #000;
    --select2__searchInput-background-color: #{$o-gray-400};
    --select2__searchInput-background-image: url('/web/static/lib/select2/select2.png');
    --select2__searchInput-background-image--active: url('/web/static/lib/select2/select2-spinner-dark.gif');
}
