@include media-breakpoint-down(md) {
    .o_wsale_delivery_badge_price {
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
#delivery_method .o_delivery_carrier_select:hover {
    cursor: pointer;
}
