.openerp .oe_diagram_pager {
    float:right;
    /*text-align: right;*/
    white-space: nowrap;
}

.openerp .oe_diagram_buttons {
    float: left;
}
.openerp .clear{
    clear:both;
}
.openerp .diagram{
    margin:0;
    padding:0;
    position:absolute;
    top:178px;
    bottom:26px;
    left:201px;
    right:0;
    background-color:white;
    border-style:none;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#DCDCDC;
    overflow:hidden;

}
#widget-19_view_diagram {
    position:relative;
}


