.odoo-editor-editable {
    &.o_col_resize {
        cursor: col-resize;

        ::selection {
            background-color: transparent;
        }
    }
    &.o_row_resize {
        cursor: row-resize;

        ::selection {
            background-color: transparent;
        }
    }
}
