.o-we-table-drag-drop {
    position: fixed;
    background-color: rgba(117, 167, 249, 0.5);
    cursor: grabbing;
}

.o-we-table-dragging {
    cursor: grabbing;
}

.tr-highlight-top {
    border-top: 2px solid rgba(0, 136, 255, 0.508) !important;
}

.tr-highlight-bottom {
    border-bottom: 2px solid rgba(0, 136, 255, 0.508) !important;
}

.td-highlight-left {
    border-left: 2px solid rgba(0, 136, 255, 0.508) !important;
}

.td-highlight-right {
    border-right: 2px solid rgba(0, 136, 255, 0.508) !important;
}
