
.s_mail_features_grid {
    .s_mail_features_grid_content {
        overflow: hidden;
        p {
            margin-bottom: 0;
        }
    }
    .s_mail_features_grid_icon {
        float: left;
    }
}
