.o-EmojiPicker {
    width: 285px;
    height: 350px;

    display: grid;
    grid-template-rows: 34px 35px 1fr;

    .o-Emoji {
        width: 30px;
        font-size: 1.5rem;
        &:hover {
            background-color: $gray-300;
        }
    }

    .o-EmojiPicker-header .o-Emoji:not(:hover):not(.o-isActive) {
        filter: grayscale(1);
    }
}
