@charset "utf-8";
.openerp .oe_view_manager_view_calendar {
  position: relative;
}

.openerp .oe_searchview.oe_searchview_open_drawer .oe_searchview_drawer {
  z-index: 10;
}

.openerp .oe_fullcalendar_widget .fc-content .fc-event .close-btn {
  color: white;
  float: right;
  display: none;
  line-height: 6px;
  height: 8px;
  width: 8px;
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
  padding: 1px;
  background-color: #b40000;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.openerp .oe_fullcalendar_widget .fc-content .fc-event:hover .close-btn {
  display: inline;
  opacity: 0.5;
}
.openerp .oe_fullcalendar_widget .fc-content .fc-event:hover .close-btn:hover {
  display: inline;
  opacity: 1;
}

.openerp td.oe_calendar_sidebar_container {
  padding: 10px;
}

.bgDark {
  background-color: rgba(55, 55, 55, 0.5);
}

.bgLight {
  background-color: rgba(255, 255, 255, 0.5);
}

.attendee_head {
  float: right;
  margin-left: 1px;
  size: 18px !important;
}
