@charset "utf-8"


$color1: #ac725e
$color2: #d06b64
$color3: #f83a22
$color4: #fa573c
$color5: #ff7537
$color6: #ffad46
$color7: #42d692
$color8: #16a765
$color9: #7bd148
$color10: #b3dc6c
$color11: #fbe983
$color12: #fad165
$color13: #92e1c0
$color14: #9fe1e7
$color15: #9fc6e7
$color16: #4986e7
$color17: #9a9cff
$color18: #b99aff
$color19: #c2c2c2
$color20: #cabdbf
$color21: #cca6ac
$color22: #f691b2
$color23: #cd74e6
$color24: #a47ae2
$ecolor1: #a4bdfc
$ecolor2: #7ae7bf
$ecolor3: #dbadff
$ecolor4: #ff887c
$ecolor5: #fbd75b
$ecolor6: #ffb878
$ecolor7: #46d6db
$ecolor8: #e1e1e1
$ecolor9: #5484ed
$ecolor10:#51b749
$ecolor11: #dc2127
$fontcolor: #0d0d0d 

.openerp
    .oe_view_manager_view_calendar
        position: relative
        
    .oe_calendar_table
        margin-top : 10px
        margin-left: 5px
        
.openerp
    .oe_searchview.oe_searchview_open_drawer
        .oe_searchview_drawer
            z-index: 10

.openerp 
    td.oe_calendar_sidebar_container
        padding: 10px         

img.attendee_head
    height: 18px
    width: 18px
            
.openerp .oe_calendar_table
    .attendee_head
        float: right
        margin-left: 1px
        size: 18px !important

    .cal_avatar
        height: 24px
        width: 24px
        
    .cal_opacity 
        opacity: 0.6
                
    .event_color_1
        background-color: $ecolor1
        color: $fontcolor
            
    .event_color_2
        background-color: $ecolor2
        color: $fontcolor
            
    .event_color_3
        background-color: $ecolor3
        color: $fontcolor
            
    .event_color_4
        background-color: $ecolor4
        color: $fontcolor
        
    .event_color_5
        background-color: $ecolor5
        color: $fontcolor
        
    .event_color_6
        background-color: $ecolor6
        color: $fontcolor
        
    .event_color_7
        background-color: $ecolor7
        color: $fontcolor
        
    .event_color_8
        background-color: $ecolor8
        color: $fontcolor
        
    .event_color_9
        background-color: $ecolor9
        color: $fontcolor
        
    .event_color_10
        background-color: $ecolor10
        color: $fontcolor
        
    .event_color_11
        background-color: $ecolor11
        color: $fontcolor    
        
    .calendar_color_1
        border-color: $color1  
        background-color: $color1
        color: $fontcolor
        
    .calendar_color_2
        border-color: $color2
        background-color: $color2
        color: $fontcolor
        
    .calendar_color_3
        border-color: $color3
        background-color: $color3
        color: $fontcolor
        
    .calendar_color_4
        border-color: $color4
        background-color: $color4
        color: $fontcolor
        
    .calendar_color_5
        border-color: $color5
        background-color: $color5
        color: $fontcolor
        
    .calendar_color_6
        border-color: $color6
        background-color: $color6
        color: $fontcolor
        
    .calendar_color_7
        border-color: $color7
        background-color: $color7
        color: $fontcolor
        
    .calendar_color_8
        border-color: $color8
        background-color: $color8
        color: $fontcolor
        
    .calendar_color_9
        border-color: $color9
        background-color: $color9
        color: $fontcolor
        
    .calendar_color_10
        border-color: $color10
        background-color: $color10
        color: $fontcolor
        
    .calendar_color_11
        border-color: $color11
        background-color: $color11
        color: $fontcolor
        
    .calendar_color_12
        border-color: $color12
        background-color: $color12
        color: $fontcolor
            
    .calendar_color_13
        border-color: $color13
        background-color: $color13
        color: $fontcolor
        
    .calendar_color_14
        border-color: $color14
        background-color: $color14
        color: $fontcolor
        
    .calendar_color_15
        border-color: $color15
        background-color: $color15
        color: $fontcolor
        
    .calendar_color_16
        border-color: $color16
        background-color: $color16
        color: $fontcolor
        
    .calendar_color_17
        border-color: $color17
        background-color: $color17
        color: $fontcolor
        
    .calendar_color_18
        border-color: $color18
        background-color: $color18
        color: $fontcolor
        
    .calendar_color_19
        border-color: $color19
        background-color: $color19
        color: $fontcolor
        
    .calendar_color_20
        border-color: $color20
        background-color: $color20
        color: $fontcolor
        
    .calendar_color_21
        border-color: $color21
        background-color: $color21
        color: $fontcolor
        
    .calendar_color_22
        border-color: $color22
        background-color: $color22
        color: $fontcolor
        
    .calendar_color_23
        border-color: $color23
        background-color: $color23
        color: $fontcolor
    
    .calendar_color_24
        border-color: $color24
        background-color: $color24
        color: $fontcolor
    
    
    
    .underline_ecolor_1
        border-bottom: 4px solid $ecolor1
        
    .underline_ecolor_2
        border-bottom: 4px solid $ecolor2
        
    .underline_ecolor_3
        border-bottom: 4px solid $ecolor3
        
    .underline_ecolor_4
        border-bottom: 4px solid $ecolor4
        
    .underline_ecolor_5
        border-bottom: 4px solid $ecolor5
        
    .underline_ecolor_6
        border-bottom: 4px solid $ecolor6
        
    .underline_ecolor_7
        border-bottom: 4px solid $ecolor7
        
    .underline_ecolor_8
        border-bottom: 4px solid $ecolor8
        
    .underline_ecolor_9
        border-bottom: 4px solid $ecolor9
        
    .underline_ecolor_10
        border-bottom: 4px solid $ecolor10
        
    .underline_ecolor_11
        border-bottom: 4px solid $ecolor11
        
            
    .underline_color_1
        border-bottom: 4px solid $color1
        
    .underline_color_2
        border-bottom: 4px solid $color2
        
    .underline_color_3
        border-bottom: 4px solid $color3
        
    .underline_color_4
        border-bottom: 4px solid $color4
        
    .underline_color_5
        border-bottom: 4px solid $color5
        
    .underline_color_6
        border-bottom: 4px solid $color6
        
    .underline_color_7
        border-bottom: 4px solid $color7
        
    .underline_color_8
        border-bottom: 4px solid $color8
        
    .underline_color_9
        border-bottom: 4px solid $color9
        
    .underline_color_10
        border-bottom: 4px solid $color10
        
    .underline_color_11
        border-bottom: 4px solid $color11
        
    .underline_color_12
        border-bottom: 4px solid $color12
            
    .underline_color_13
        border-bottom: 4px solid $color13
        
    .underline_color_14
        border-bottom: 4px solid $color14
        
    .underline_color_15
        border-bottom: 4px solid $color15
        
    .underline_color_16
        border-bottom: 4px solid $color16
        
    .underline_color_17
        border-bottom: 4px solid $color17
        
    .underline_color_18
        border-bottom: 4px solid $color18
        
    .underline_color_19
        border-bottom: 4px solid $color19
        
    .underline_color_20
        border-bottom: 4px solid $color20
        
    .underline_color_21
        border-bottom: 4px solid $color21
        
    .underline_color_22
        border-bottom: 4px solid $color22
        
    .underline_color_23
        border-bottom: 4px solid $color23
    
    .underline_color_24
        border-bottom: 4px solid $color24
          
    .color_1
        color: $color1
        
    .color_2
        color: $color2
        
    .color_3
        color: $color3
        
    .color_4
        color: $color4
        
    .color_5
        color: $color5
        
    .color_6
        color: $color6
        
    .color_7
        color: $color7
        
    .color_8
        color: $color8
        
    .color_9
        color: $color9
        
    .color_10
        color: $color10
        
    .color_11
        color: $color11
        
    .color_12
        color: $color12
            
    .color_13
        color: $color13
        
    .color_14
        color: $color14
        
    .color_15
        color: $color15
        
    .color_16
        color: $color16
        
    .color_17
        color: $color17
        
    .color_18
        color: $color18
        
    .color_19
        color: $color19
        
    .color_20
        color: $color20
        
    .color_21
        color: $color21
        
    .color_22
        color: $color22
        
    .color_23
        color: $color23
    
    .color_24
        color: $color24
        
    .oe_calendar_buttons_add_contact
        .add_contacts_link_btn
            margin-top: 10px    