.o_kanban_renderer.o_kanban_dashboard.o_pos_kanban.o_kanban_ungrouped {
	.o_kanban_record {
        width: 500px;
	}
}

/* PoS Settings View */
.settings .o_setting_right_pane .o_field_widget[name="pos_default_bill_ids"],
.settings .o_setting_right_pane .o_field_widget[name="pos_default_bill_ids"] .o_field_many2many_selection {
    width: 100%;
    max-width: 380px;
}
