.oe_subtotal_footer div[name="amount_paid"]  {
    .align-items-baseline {
        @media screen and (max-width: 576px) {
            width: 25% !important;
        }
        width: 65% !important;
    }
    .align-items-baseline input {
        width: 50px;
    }
}
