$s-showcase-image-caption-bg                : white;
$s-showcase-image-caption-color             : #333;
$s-showcase-image-caption-padding           : 1em;
$s-showcase-image-caption-font-size-mobile  : 1em;
$s-showcase-image-caption-font-size-desktop : .8em;
$s-showcase-image-caption-text-shadow       : none;
