// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ActivityMarkDonePopover {
    min-height: 100px;
}

.o_ActivityMarkDonePopover_buttons {
    margin-top: map-get($spacers, 2);
}

.o_ActivityMarkDonePopover_doneButton {
    margin: map-get($spacers, 0) map-get($spacers, 2);
}

.o_ActivityMarkDonePopover_feedback {
    min-height: 70px;
}

