.oe_website_rating_project .thumbnail{
    height: 240px;
}
.o-top-rating-image {
    height: 15px;
}
.o-top-partner-image {
    height: 30px;
    width: 30px;
}
.o-top-partner-feedback{
    word-wrap: break-word;
}
.o-vertical_separator {
    border-left: 1px solid #eeeeee
}
.o-rating-progress {
    margin-bottom: 10px;
}
.o-rating-count {
    display: inline-block;
    min-width: 22px
}