/* Copyright 2023 Taras Shabaranskyi
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

.o_xxl_form_view {
    .o_form_sheet_bg {
        overflow: unset;

        .o_form_sheet {
            overflow: auto;

            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: $o-brand-odoo;
                border-radius: 6px;
            }
        }
    }
}
