@charset "utf-8";
.openerp .oe_margin_top_8 {
	margin-top: 8px;
}

.o_pls_probability button {
    font-size: 1.2rem;
}

.o_pls_probability small {
    font-size: 1rem;
}

.o_crm_kanban_lead .ribbon {
    width: 240px;
    height: 96px;
}

.o_crm_kanban_lead .ribbon span {
    width: 150px;
    height: 20px;
    font-size: 14px;
}

.o_crm_kanban_lead .ribbon-top-right {
    margin-top: -9px;
}

.o_crm_kanban_lead .ribbon-top-right span {
    left: 140px;
    top: 18px;
}