@media print {
    .o_spreadsheet_action {
        height: auto;
        .o_control_panel {
            display: none !important;
        }
    }
    .o_notification_manager {
        display: none !important;
    }
}
