.o_form_view .o_iban {
  display: inline-flex;
  margin-left: -15px;
}
.o_form_view .o_iban_fail {
  cursor: help;
}
.o_form_view input.o_input.o_iban_input_with_validator {
  padding-right: 17px !important;
}