// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_EmojiGridView {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
}

.o_EmojiGridView_container {
    height: auto;
    width: auto;
    overflow-y: scroll;
    overflow-x: visible;
}

.o_EmojiGridView_list {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.o_EmojiGridView_viewBlock {
    position: absolute;
}
