.openerp .oe_column {
    float: left;
    width: 100%;
}

.record {
	margin: 0 0 0.5em 0;
}

.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 60px !important;
}

.openerp .oe_column_heading {
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
}
