.o-mail-attachment-card-aside-unlink.o-inComposer {
    transform: translateX(100%);
}

.o-mail-attachment-card-aside {
    &:not(.o-hasMultipleActions) {
        min-width: 50px;
    }

    &.o-hasMultipleActions {
        min-width: 30px;
    }
}

.o-mail-attachment-card-aside:hover .o-mail-attachment-card-aside-unlink.o-inComposer {
    transform: translateX(0);
}

.o-mail-attachment-list-in-composer {
    max-height: 300px;

    &.o-mail-attachment-list-in-chat-window {
        max-height: 100px;
    }
}

.o-mail-attachment-image {
    min-width: 20px;
    min-height: 20px;

    img {
        object-fit: contain;
    }
}

.o-mail-viewable {
    cursor: zoom-in;
}
