$o_sub_tree_spacing: map-get($spacers, 3);

// Fix auto complete
.o_tree_editor_editor {
    .o_record_selector .o-autocomplete,
    .o_multi_record_selector .o_record_autocomplete_with_caret {
        min-width: unset;
        flex: 1 0 50px;
    }
}

@mixin o_sub_tree_visual_indicator {
    :not(.o_tree_editor) > * > .o_tree_editor_connector {
        margin-inline-start: $o_sub_tree_spacing;
        width: calc(100% - #{$o_sub_tree_spacing});
    }
}

@include container-breakpoint-down(md, $grid-breakpoints) {
    @include o_sub_tree_visual_indicator;
}

.o_inner_group {
    @include o_sub_tree_visual_indicator;
}
