.options-container {
    .btn-primary {
        background-color: $o-we-bg-lightest !important;
        color: $o-we-fg-light;
        font-size: 12px;
        padding: 1px 6px;
        border: none;

        &.active {
            color: $o-we-fg-lighter;
            background-color: $o-we-bg-light !important;

        }
    }

    .we-bg-options-container {
        > div {
            margin-top: 1px;
            margin-bottom: 1px;
        }
    }
}