.o_search_panel.account_root {
  flex: 0 0 50px;
  padding: 6px !important;
  scrollbar-width: thin;
}
.o_search_panel.account_root .o_search_panel_section_header {
  display: none;
}
.o_search_panel.account_root .list-group-item span.o_search_panel_label_title {
  display: contents;
}
.o_search_panel.account_root .o_search_panel_category_value {
  padding-right: 0 !important;
}
.o_search_panel.account_root .o_search_panel_category_value header {
  margin-left: 0;
}
.o_search_panel.account_root .o_search_panel_category_value .o_toggle_fold:empty {
  width: 0;
}
.o_search_panel.account_root .o_search_panel_category_value .o_search_panel_category_value {
  padding-left: 1.2rem !important;
}
.o_search_panel.account_root .o_search_panel_category_value .o_search_panel_category_value .o_toggle_fold {
  width: 0.3rem;
}
.o_search_panel.account_root::-webkit-scrollbar {
  width: 4px;
}
.o_search_panel.account_root::-webkit-scrollbar-thumb {
  background: lightgray;
}