$o-account-action-col-width: 15px !default;
$o-account-main-table-borders-padding: 3px !default;
$o-account-light-border: 1px solid #bbb !default;
$o-account-initial-line-background: #f0f0f0 !default;
$o-account-info-color: #44c !default;
