# Config file .coveragerc
# adapt the include for your project

[report]
include =
    */OCA/OCB/addons/*
    */OCA/OCB/openerp/*

omit =
    */tests/*
    *__init__.py

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about null context checking
    if context is None:
