# Version control
.git
.github
.gitignore
.dockerignore

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# IDEs
.idea
.vscode
.DS_Store

# Odoo Local Data (IMPORTANT: This can be huge!)
data/
filestore/
sessions/
logs/

# Node/Frontend
node_modules/
package-lock.json

# Documentation and heavy setup files
doc/
debian/
setup/

# Agent/AI Artifacts
.gemini/
.agent/
*.md
