[submodule "custom/field-service"]
	path = custom/field-service
	url = git@github.com:contelnet/field-service.git
	branch = 18.0
[submodule "custom/helpdesk"]
	path = custom/helpdesk
	url = git@github.com:contelnet/helpdesk.git
	branch = 18.0
[submodule "custom/product-attribute"]
	path = custom/product-attribute
	url = git@github.com:contelnet/product-attribute.git
	branch = 18.0
[submodule "custom/rma"]
	path = custom/rma
	url = git@github.com:contelnet/rma.git
	branch = 18.0
