include rpminstall_sh.txt
include README
include LICENSE
include MANIFEST.in
include setup.nsi
include setup.cfg
include bin/import_xml.rng
include bin/server.cert
include bin/server.pkey
include bin/gpl.txt
include man/openerp-server.1
include man/openerp_serverrc.5
recursive-include pixmaps *
recursive-include win32 *
recursive-include doc *
recursive-include bin *xml *xsl *sql *rml *sxw *csv *rng
graft debian
graft bin/addons
graft python25-compat
global-exclude *pyc *~
