[options]
addons_path = ./addons
db_host = localhost
db_user = odoo
db_password = odoo
log_level = debug
upgrade = aaa_polo_metriks_custom_sales
admin_passwd = $pbkdf2-sha512$600000$XUupdW6NcW4txVjrXauV8g$wqnRFqW9lKlVM6AhCmem9Cc3Rlu/YjwTg7uRFLr2fTHx6DdJeqg8S5ai82yryLABReoBweRs2ssWaWxEb1FwOg

