Babel==2.3.4
decorator==4.0.11
docutils==0.13.1
ebaysdk==2.1.5
feedparser==5.2.1
gevent==1.1.2
greenlet==0.4.11
html2text==2016.9.19
Jinja2==2.8
libsass==0.12.3
lxml==3.7.1 ; sys_platform != 'win32'
lxml ; sys_platform == 'win32'
Mako==1.0.6
MarkupSafe==0.23
mock==2.0.0
num2words==0.5.6
ofxparse==0.16
passlib==1.7.0
Pillow==4.0.0
psutil==5.0.1
psycopg2==2.7.3.1
pydot==1.2.3
pyldap==2.4.28; sys_platform != 'win32'
pyparsing==2.1.10
PyPDF2==1.26.0
pyserial==3.2.1
python-dateutil==2.5.3
pytz==2016.7
pyusb==1.0.0
qrcode==5.3
reportlab==3.3.0
requests==2.12.4
suds-jurko==0.7
vatnumber==1.2
vobject==0.9.3
Werkzeug==0.11.15
XlsxWriter==0.9.6
xlwt==1.3.*
xlrd==1.0.0
pypiwin32 ; sys_platform == 'win32'
