@o-chat-window-bg: #FAFAFA;
@o-chat-window-width: 325px;
@o-mail-chatter-gap: 10px; // has to be defined here as this file is both in
                           // backend and other assets (livechat)
@o-chat-header-height: 44px;

.o_chat_window {
    .o-flex-display();
    .o-flex-flow(column, nowrap);
    position: fixed;
    width: @o-chat-window-width;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    font-size: 12px;
    background-color: @o-chat-window-bg;
    border-radius: 6px 6px 0 0;
    z-index: 3;
    box-shadow: -5px -5px 10px fade(black, 18%);

    @media (max-width: @screen-xs-max) {
        width: 100%;
        height: 100%!important;
        box-shadow: none;
        &.o_folded {
            display: none;
        }
    }

    @media print {
        display: none;
    }

    .o_chat_header {
        .o-flex-display();
        .o-flex(0, 0, auto);
        color: white;
        padding: @o-mail-chatter-gap*0.5 @o-mail-chatter-gap;
        border-radius: 3px 3px 0 0;
        border-bottom: 1px solid @odoo-color-silver-dark; // cannot use gray-lighter-dark as this file is also frontend
        background-color: @odoo-brand-primary;
        padding: 8px;

        @media (max-width: @screen-xs-max) {
            height: @o-chat-header-height;
            padding-top: 10px;
            border-radius: 0px;
            .o_chat_title {
                font-size: 16px;
                margin-left: 10px;
            }

            .o_chat_window_close {
                font-size: 17px;
                color: white;
            }
        }

        .o_chat_title {
            cursor: pointer;
            font-weight: bold;
            .o-flex(1, 1, auto);
            .o-text-overflow();
        }

        .o_chat_window_buttons {
            .o-flex(0, 0, auto);
            .o_chat_window_close, .o_chat_window_expand {
                color: white;
                padding: 3px;
                margin-left: 5px;
                .o-hover-opacity(0.7, 1);
            }
        }

    }

    .o_mail_thread {
        .o-flex(1, 1, auto);
        overflow: auto;
        border: 1px solid @odoo-color-silver-dark; // cannot use gray-lighter-dark as this file is also frontend
        border-width: 0 1px;
        font-weight: 400;

        .o_thread_date_separator {
            margin-top: 0px;
            margin-bottom: 25px;
            border-bottom: 1px dashed #cccccc;
            .o_thread_date {
                background-color: @o-chat-window-bg;
            }
        }
        .o_thread_message {
            .o_thread_message_sidebar {
                margin-right: 10px;

                .o_thread_message_avatar {
                    border-radius: 4px;
                    border: 1px solid #ebebeb;
                    max-width: 40px;
                }
            }
            padding: 4px 5px 0px 10px;

            .o_mail_info {

                .o_thread_author, strong a.o_mail_mailto, strong a.o_mail_mailto:hover {
                    font-weight: 500;
                    color: #111;
                    font-size: 11px;
                    @media (max-width: @screen-xs-max) {
                        font-size: 13px;
                    }
                    margin-top: 5px;
                }
                .o_mail_timestamp {
                    font-size: 11px;
                    color: #aaa;
                }

                .o_thread_message_star {
                    opacity: 1;
                }

                .o_document_link {
                    display: block;
                    max-width: 90%;
                    font-size: 12px;
                    @media (max-width: @screen-xs-max) {
                        font-size: 14px;
                    }
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-bottom: 0px;
                    font-weight: 500;
                }
            }

            .o_thread_message_content {
                font-size: 12px;
                padding-right: 10px;
                @media (max-width: @screen-xs-max) {
                    font-size: 14px;
                }
                color: #333;
                p {
                    margin: 0px 0px 8px;
                }
                ul.o_mail_thread_message_tracking {
                    padding-left: 20px;
                }
            }
        }
    }

    .o_chat_composer {
        .o-flex(0, 0, auto);
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;

        .o_composer_buttons > button {
            border: none;
        }

        .o_composer_button {
            display: none;
        }

        .o_composer_mobile_button {
            display: none;
        }


        @media (max-width: @screen-xs-max) {
            .o_composer_mobile_button {
                display: inline-block;
                background-color: @odoo-brand-optional;
                color: #fff;
            }
        }

        > input {
            padding: 5px;
            width: 100%;
        }
        .o_composer_input > textarea {
            border-color: transparent;
        }
    }
}

.o_chat_window_dropdown {
    width: auto;
    height: 28px;
    color: white;
    background-color: @gray-dark;
    cursor: pointer;
    box-shadow: none;

    @media (max-width: @screen-xs-max) {
        display: none;
    }

    .o_chat_header {
        border-radius: 0;
    }

    .o_chat_window_dropdown_toggler {
        padding: 5px;

        .o_total_unread_counter {
            .o-position-absolute(-10px, 0, auto, auto);
            background-color: @odoo-brand-optional;
            padding: 0 2px;
            font-size: smaller;
        }
    }
    &.open .o_chat_window_dropdown_toggler .o_total_unread_counter, .o_chat_window_expand {
        display: none;
    }

    > ul {
        max-width: @o-chat-window-width;
        padding: 0;

        > li.o_chat_header {
            font-size: 12px;
            padding: 3px 5px;
            &~li.o_chat_header {
                border-top: 1px solid white;
            }
            &:hover {
                background-color: darken(@odoo-brand-primary, 10%);
            }
        }
    }
}

.o_ui_blocked .o_chat_window {
    z-index: 1101; // blockUI's z-index is 1100
}
.o_no_chat_window .o_chat_window {
    display: none;
}
