
// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------
.o_mail_chat {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;

    @media (max-width: @screen-xs-max) {
        position: static;
        height: auto;
    }

    .o-flex-display();
    .o-flex-flow(row, nowrap);

    .o_mail_chat_sidebar {
        .o-flex(0, 0, 15%);
        overflow: auto;
    }

    .o_mail_chat_content {
        .o-flex(0, 0, 85%);
        height: 100%;
        .o-flex-display();
        .o-flex-flow(column, nowrap);
        @media (max-width: @screen-xs-max) {
            height: auto;
        }

        .o_mail_chat_messages {
            .o-flex(1, 0, 0);
            overflow: auto;
        }

        .o_mail_chat_composer_wrapper {
            .o-flex(0, 0, auto);
            .o-flex-display();
            /*
            > img {
                .o-flex(0, 0, auto);
                width: 64px;
                height: 64px;
            }

            > input {
                .o-flex(1, 0, auto);
            }
            */
        }
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------
.o_mail_chat {
    .o_mail_chat_sidebar {
        background-color: @gray;
        padding: 1%;

        > .nav-pills {
            > li {
                > a {
                    color: @odoo-brand-optional;  // community compatibility: override base.css
                    &:hover, &:focus {
                        background-color: @gray-dark;
                    }
                    &.active {
                        background-color: @gray-dark;
                    }
                }

                &.o_mail_chat_channel_item, &.o_mail_chat_partner_item {
                    > a {
                        color: @gray-lighter;
                        > .badge {
                            color: white;
                            background-color: @odoo-brand-optional;
                        }

                        > i.fa {
                            padding-top: 3px;
                            padding-right: 3px;

                            &.o_online {
                                color: @odoo-brand-optional;
                            }
                        }
                    }
                }
            }
        }

        .o_mail_chat_channel_item.o_mail_chat_channel_unread, .o_mail_chat_partner_item.o_mail_chat_channel_unread{
            font-weight: bold;
        }

        .o_mail_chat_sidebar_title {
            text-transform: uppercase;
            color: @gray-lighter;
            margin-top: 25px;
            .user-select(none);
            cursor: default;
        }

        .o_mail_chat_add_more_search{
             padding: @padding-base-vertical @padding-base-horizontal;
            .o_mail_chat_add_more_text{
                color: @gray-lighter;
                display: inline-block;
                font-style: italic;
                cursor: pointer;
                font-size: @font-size-base;
            }
            .o_mail_chat_add_more_text:hover{
                text-decoration: underline;
                color: white;
                cursor: pointer;
            }
        }

    }

    .o_mail_chat_content {
        background-color: white;

        .o_mail_chat_help_message{
            padding: 25px;
            color: @gray-light;
        }

        .o_mail_thread_date_separator{
            margin: auto;
            width: 90%;
            .o_mail_thread_date_wrapper {
                position: relative;
                height: 20px;
                border-bottom: solid WhiteSmoke 2px;
                margin-bottom: 15px;
                .o_mail_thread_date_separator_title {
                    display: table;
                    position: relative;
                    top: 10px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    padding: 0 10px 0 10px;
                    font-weight: bold;
                    background: white;
                }
            }
        }

        .o_mail_thread_message{
            //border-bottom: solid WhiteSmoke 1px;
        }
        /*
        .o_mail_chat_messages {
            .o_slack_message {
                .o_slack_message_avatar {
                    > img {

                    }
                }
                .o_slack_message_content {
                    .o_slack_message_author {
                        font-weight: bold;
                        .o_slack_message_time {
                            font-weight: normal;
                            color: @gray-light;
                        }
                    }

                }
            }
        }
        */

        .o_mail_chat_composer_wrapper {
            border-top: 1px solid @gray-lighter;
            background-color: @gray-lighter;
            padding: 10px;
            .o_mail_compose_message{
                margin-bottom: 0px;
            }
            /*
            > img {
                background-image: url(/web/static/src/img/placeholder.png);
            }
            > input {
                padding-left: 15px;
                resize: none;
                border: 0;
                outline: none;
            }
            */
        }
    }
}


// ------------------------------------------------------------------
// Other components
// ------------------------------------------------------------------
.o_mail_chat_partner_invite{
    height: 50px;
}
