.o_mail_chatter {
    width: 100%;

    .o_mail_chatter_compose_message {
        display: none;
        margin-top: 10px;
        .o_mail_chatter_compose_message_suggested_partners label {
            vertical-align: middle;
            display: block;
            line-height: 14px;
        }
        .o_mail_compose_message_buttons  > button {
            .btn-sm;
        }
    }

    .o_mail_chatter_messages {
        margin-top: 10px;
    }
}
