.o_mail_activity {
    .o_thread_date_separator.o_border_dashed {
        border-bottom: dashed #eeeeee 2px;
    }
    .o_thread_message_core.o_mail_note {
        padding: 0px 3px;
    }
}

ul.o_activity {
    width: 270px;
    & > li:last-child {
        border-top: 2px solid lightgray;
        line-height: 3em;
    }
    li > ul.o_activity_log {
        max-height: 300px;
        overflow-y: auto;
        color: @text-color;

        & > li {
            width: 100%;
            display: inline-block;

            label.o_activity_label {
                padding: 5px;
                font-weight: bold;
                background-color: @odoo-brand-lightsecondary;
                display: block;
            }
            .o_wrap_title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.o_no_activity {
    padding: 10px
}

.o_activity_color_default {
    color: @odoo-main-text-color;
}
.o_activity_color_planned {
    color: @brand-primary;
}
.o_activity_color_overdue {
    color: @brand-danger;
}
.o_activity_color_today {
    color: @brand-success;
}

.o_mark_as_done:hover {
    color: @brand-success;
}
