
/* emoji size */
.o_mail_emoji img{
    height: 20px;
}

// ------------------------------------------------------------------
// Chat Window
// ------------------------------------------------------------------

@media screen and (max-width:360px) {
    .o_mail_chat_im_window {
        width: 100%;
        margin-right: 0;
    }
    .o_mail_chat_im_window .o_mail_chat_im_window_content {
        width: 100% !important;
    }
    .o_mail_chat_im_window .o_mail_chat_im_window_input {
        width: 100% !important;
    }
}


.o_mail_chat_im_window {
    position: fixed;
    overflow: hidden;
    margin-bottom: 5px;
    margin-right: 6px;
    background: rgba(250, 250, 250, 0.95);
    border: 1px solid #DEDEDE;
    width: 240px;
    z-index:500;
}

/* HEADER */
.o_mail_chat_im_window .o_mail_chat_im_window_header {
    padding: 3px 6px 2px;
    cursor: pointer;
    background: #DEDEDE;
    background: -moz-linear-gradient(#FCFCFC, #DEDEDE);
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#DEDEDE));
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}

.o_mail_chat_im_window .o_mail_chat_im_window_header_name {
    max-width: 75%;
    word-wrap: break-word;
    display: inline-block;
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.o_mail_chat_im_window .o_mail_chat_im_window_header_buttons{
    float: right;
}


/* CONTENT (messages, ...) */
.o_mail_chat_im_window .o_mail_chat_im_window_content {
    height: 280px;
    overflow-y: scroll;
}

.o_mail_chat_im_window .o_mail_chat_im_messages .o_mail_chat_im_window_date_sperator{
    padding: 5px;
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
}

.o_mail_chat_im_window .o_mail_chat_im_message{
    margin: auto;
    margin-bottom: 5px;
}

.o_mail_chat_im_window .o_mail_chat_im_message .o_mail_chat_im_message_avatar{
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.o_mail_chat_im_window .o_mail_chat_im_message .o_mail_chat_im_message_avatar img{
    width: 80%;
    float: right;
}

.o_mail_chat_im_window .o_mail_chat_im_message .o_mail_chat_im_message_core{
    width: 75%;
    display: inline-block;
    padding: 5px;

    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}

.o_mail_chat_im_window .o_mail_chat_im_message .o_mail_chat_im_message_core p{
    margin: 0;
}

/* FOOTER */
.o_mail_chat_im_window .o_mail_chat_im_window_footer {
    padding:3px;
    background: #DEDEDE;
}

.o_mail_chat_im_window .o_mail_chat_im_window_footer .o_mail_chat_im_window_input {
    width: 100%;
}
