.custom-sidebar {
    width: 300px;
    height: 1430px;
    background-color: #ffffff;
    padding: 16px;
    gap: 16px;
    box-sizing: border-box;
    overflow-y: hidden;
    position: sticky;
    left: 79%;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}
.profile-section {
    text-align: center;
    background-color: #FAFDFF;
    margin-bottom: 20px;
    border: 1px solid #EBEAEA;
    border-radius: 8px;
    box-shadow: 0px 4px 7.5px #83332733;
    padding: 24px 0px;

}
.avatar {
    width: 280px;
    height: 130px;
    border-radius: 8px 8px 0px 0px ;
    padding: 0px 16px;
}
.name {
    font-size: 18px;
    margin: 10px 0 5px;
    padding: 0px 16px;
}
.position, .department, .bio {
    font-size: 14px;
    color: #555;
    padding: 0px 16px;
}
.btn-section{
    padding: 0px 16px;
}
.btn-time {
    margin-top: 8px;
    background-color: #F9AA4E;
    color: black;
    font-weight: 800;
    padding: 8px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.cards-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}
.card {
    flex: 1;
    background-color: #FCFDFF;
    border: 1px solid #EBEAEA;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.card h4 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 800;
}
.announcements-section {
    margin-bottom: 20px;
}
.announcements-section h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;

}
.announcements-panel {
    max-height: 100px;
    overflow-y: auto;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.calendar-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.calendar-placeholder {
    background-color: #fff;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    padding-top: 80px;
    color: #aaa;
}
.social-buttons {
    display: flex;
flex-direction: row;
align-items: flex-start;
gap: 8px;
align-self: stretch;
margin-top: 20px;
}

.social-buttons h4 {
    color: #5B5959;
font-family: "Noto Sans";
font-size: 16px;
font-style: normal;
font-weight:  800;
line-height:  24px; 
letter-spacing:  0.2px;
}

.social-buttons button {
    flex: 1;
    margin: 0 5px;
    padding: 10px 8px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.facebook {
    background-color: #3b5998;
}
.x {
    background-color: #000;
}
.linkedin {
    background-color: #0077b5;
}