.etherpad_head{
    width: 99.7%;
    display: block;
    border-radius: 3px 3px 0px 0px;
    background: -webkit-linear-gradient( #F7F7F7, #F1F1F1 80%);
    text-transform:capitalize;
    padding-left:3px;
    cursor:pointer;
}
.etherpad_zoom_head{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 15px; 
}
.etherpad_zoom{
    position: fixed;
    left: 0px;
    top: 15px;
    width: 100%;
    height: 98% !important;
    z-index:10001 !important;
    background-color:white;
}
.etherpad_default{  
    width: 100%;
    height: 217px;
}
.etherpad_body{
    overflow:hidden;
}
