.o_editable{
  &:not(:empty),&[data-oe-type]{
    &:not([data-oe-model="ir.ui.view"]):not([data-oe-type="html"]):hover{
      /* to do change into primary color in less */;
      -moz-box-shadow: #3071a9 0 0 5px 2px inset;
      -webkit-box-shadow: #3071a9 0 0 5px 2px inset;
      box-shadow: #3071a9 0 0 5px 2px inset;
    }
  }
  &:focus,&[data-oe-type]{
    min-height: 0.8em;
    min-width: 8px;
  }
  &.o_is_inline_editable{
    display: inline-block;
  }
}
.editor_enable [data-oe-readonly]:hover{
  cursor: default;
}

/* Summernote not Support for placeholder text https://github.com/summernote/summernote/issues/581 */;
.o_editable[placeholder]:empty:not(:focus):before{
  content: attr(placeholder);
  opacity: 0.3;
}

/* Prevent the text contents of draggable elements from being selectable. */;
[draggable]{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Prevent firefox handler. */;
.o_editable .btn{
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.oe_editable:focus,
.css_editable_hidden,
.editor_enable .css_editable_mode_hidden{
    outline: none !important
}

.css_editable_display,
.editor_enable .css_non_editable_mode_hidden,
.o_editable .media_iframe_video .css_editable_mode_display{
    display: block !important
}

.oe_structure.oe_empty:empty,
[data-oe-type=html]:empty,
.oe_structure.oe_empty > .oe_drop_zone.oe_insert:only-child,
[data-oe-type=html] > .oe_drop_zone.oe_insert:only-child{
    background-image: url('/website/static/src/img/edit_here.png') !important;
    &:before{
      content: 'Press The Top-Left Edit Button' !important
    }
}

.o_editable{
  &.oe_structure.oe_empty > p:empty:only-child, &[data-oe-type=html] > p:empty:only-child{
    color: #aaa
  }
  &.oe_structure.oe_empty:empty,
  &[data-oe-type=html]:empty,
  &.oe_structure.oe_empty > .oe_drop_zone.oe_insert:only-child,
  &[data-oe-type=html] > .oe_drop_zone.oe_insert:only-child,
  &.oe_structure.oe_empty > p:empty:only-child,
  &[data-oe-type=html] > p:empty:only-child{
    background-image: none !important;
    &:before { content: 'Write your text here' !important}
    &:focus:before { display: none}
  }
}
#oe_snippets ~ #wrapwrap{
  .oe_structure.oe_empty:empty,
  [data-oe-type=html]:empty,
  .oe_structure.oe_empty > .oe_drop_zone.oe_insert:only-child,
  [data-oe-type=html] > .oe_drop_zone.oe_insert:only-child{
    background-image: url('/website/static/src/img/drag_here.png') !important;
    &:before{
      content: 'Drag Building Blocks Here' !important
    }
  }
}

.oe_structure.oe_empty:empty,
[data-oe-type=html]:empty,
.oe_structure.oe_empty > .oe_drop_zone.oe_insert:only-child,
[data-oe-type=html] > .oe_drop_zone.oe_insert:only-child{
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px !important;
}

[data-oe-type=html].oe_no_empty:empty{
  background-image: none !important;
  height: 16px !important;
  &:before{
    content: '' !important
  }
}



/* ---- EDITOR BAR ---- {{{ */

table.editorbar-panel{
  cursor: pointer;
  width: 100%;
  td{ border: 1px solid #aaa}
  td.selected{ background-color: #b1c9d9}
}
.link-style{
  .dropdown > .btn{
    min-width: 160px;
  }
  .link-style{
    display: none;
  }
  li{
    text-align: center;
    label{
      width: 100px;
      margin: 0 5px;
    }
  }
  .col-sm-2 > *{
    line-height: 2em;
  }
}

/* ---- RTE ---- {{{ */

// bootstrap makes .btn elements unselectable -> RTE double-click can't know
// about them either
.oe_editable .btn,
.btn.oe_editable{
  .user-select(auto);
  cursor: text !important;
}

// fontawesome
.note-editable .fa{
  cursor: pointer;
}
