.o_barcode_client_action .o_barcode_line.o_header {
    .o_barcode_line_details {
        background-color: #F1EDF0;
        border-radius: 6px;
    }

    &.o_header_completed  .o_barcode_line_details {
        background-color: #edf1f1;
    }
}
