.o_tax_group { width: 0% }

.o_tax_group_edit {
    white-space: nowrap;
}

.o_tax_group_edit:hover {
    color: #00A09D;
    cursor: pointer;
}

.o_tax_group_editable .o_tax_group_amount_value input {
    width: 65%;
    float: right;
    text-align: right;
}

.o_tax_group_editable .o_tax_group_amount_value::before {
    content: ' ';
}

.o_tax_total_label{
    margin-bottom: 0 !important;
}
