// Part of Odoo. See LICENSE file for full copyright and licensing details.

.o_jp_standard_header {
    .o_jp_recipient_name {
        line-height: 1.45;
    }

    .o_jp_recipient_address {
        line-height: 1.35;
    }
}

.o_jp_document_heading {
    text-align: center;
}
