// The notification item and this panel together form a single visual card.
.o-mail-MessagingMenuItem:has(.o-mail-MessagingMenuCallParticipants) {
    @include o-mail-call-bordered(.15);
    border-radius: $border-radius;

    .o-mail-NotificationItem {
        padding-bottom: 0 !important;
        &:not(:hover):not(.o-active) {
            background-color: inherit;
        }
    }
}

.o-mail-MessagingMenuCallParticipants-expandBtn {
    aspect-ratio: 1;
    opacity: 75%;
    transform: translateY(50%);

    &:hover {
        opacity: 100%;
        background-color: $gray-300;
    }
}

.o-mail-MessagingMenuCallParticipants-avatar.o-isTalking {
    outline: 3px solid var(--discuss-talkingColor, $o-discuss-talkingColor);
    outline-offset: -2px;
}

.o-mail-MessagingMenuCallParticipants-name {
    opacity: 60%;

    &.o-isTalking {
        opacity: 100%;
    }
}

.o-mail-MessagingMenuCallParticipants-status .o-live {
    font-size: 0.6rem;
    padding: map-get($spacers, 1) / 2;
}
