
#PlannerModal {
    #planner_page5, #planner_page7, #planner_page8, #planner_page10, #planner_page11 {
        .container-fluid {
            .col-xs-12 {
                padding: 5px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}
