.o_members_topbar_filters {
    .dropdown-toggle {
        border: $border-width solid gray('400');
        @include o-bg-color(gray('white'), $with-extras: false);
        @include border-radius($dropdown-border-radius);
        @include hover-focus {
            border-color: theme-color('primary');
            color: theme-color('primary');
            text-decoration: none;
        }
        &:after {
            margin-left: 1.2em;
        }
        .fa {
            margin-right: .4em;
            color: theme-color('primary');
        }
    }
    .dropdown-menu {
        margin-top: $navbar-padding-y;
        min-width: 12rem;
    }
    .dropdown-item {
        &.active .badge { // Invert badge display when the item is active
            background-color: color-yiq(theme-color('primary'));
            color: theme-color('primary');
        }
    }
}

.o_members_banner {
    background: linear-gradient(150deg, #875a7b 20%, #62495b 80%) !important;
}
