.oe_chatter {
    .btn.o_active_attach {
        color: #875A7B;
        height: 300px;
    }
    .o_chatter_attachment {
        padding: 3px;

        .o_border_dashed {
            position: relative;
            margin-top: 15px;
            margin-bottom: 30px;
            border-bottom: 1px dashed gray('300');
            text-align: center;

            .o_attach_title {
                    position: relative;
                    top: 10px;
                    margin: 0 auto;
                    padding: 0 10px;
                    font-weight: bold;
                    background: white;
            }
        }
    }
}
