.o_mail_add_emoji {
  float: right;
  margin-bottom: 1rem;
}
.o_mail_add_emoji .dropdown-menu .o_mail_emoji {
  cursor: pointer;
  padding: 2px;
  width: 2rem;
  height: 2rem;
}
.o_mail_add_emoji .dropdown-menu .o_mail_emoji:hover, .o_mail_add_emoji .dropdown-menu .o_mail_emoji:focus {
  background-color: grey("100");
}

.o_mail_emojis_dropdown {
  height: 2rem;
  width: 40px;
  float: right;
  bottom: 26px;
  margin-bottom: -2rem;
}
.o_mail_emojis_dropdown * {
  outline: none !important;
  box-shadow: none !important;
}
.o_mail_emojis_dropdown .dropdown-toggle:after {
  display: none;
}

.o_mail_emojis_dropdown_translation {
  margin-right: 20px;
}

.o_mail_emojis_dropdown_textarea {
  bottom: 30px;
}

.o_xxs_form_view .o_mail_add_emoji .dropdown-menu {
  max-width: 320px;
}