.o_mail_add_emoji {
    float: right;
    margin-bottom: 1rem;
    .dropdown-menu {
        .o_mail_emoji {
            cursor: pointer;
            padding: 2px;

            @include hover-focus() {
                background-color: grey('100');
            }
        }
    }
}

.o_mail_emojis_dropdown {
    height: 25px;
    width: 40px;
    float: right;
    margin-top: -33px;

    * {
        outline: none!important;
        box-shadow: none!important;
    }

    .dropdown-toggle:after {
        display: none;
    }
}

.o_mail_emojis_dropdown_translation {
    // if the button is added to a text field with a button "language"
    // add margin-right, so the emojis button is placed on the left of the
    // language button
    margin-right: 20px;
}

.o_mail_emojis_dropdown_textarea{
    margin-top: -40px;
}
