.o_field_many2many_avatar_user, .o_clickable_m2x_avatar {
    img:hover {
        cursor: context-menu;
        outline: $border-width solid $o-action;
    }
}

.o_m2m_tags_avatar_field_popover,
.o_m2o_tags_avatar_field_popover {
    .o_avatar_im_status {
        position: absolute;
        bottom: -4px;
        right: -4px;
        border-radius: 2rem;
        background-color: $popover-bg;
        padding: 2px;
    }
}
