// = Stock Barcode
// ============================================================================
// No CSS hacks, variables overrides only

.o_barcode_client_action {
    --barcode__header-bg: #{$o-gray-100};

    --barcode__linesHeader-bg: #{$o-gray-300};

    --barcode__line--completed: #1f5a2d;
    --barcode__line--notCompleted: #303030;

    --barcode__input--completed: #262c26;
    --barcode__input--notCompleted: #303030;
}
