// = Settings
// ============================================================================
// No CSS hacks, variables overrides only

.o_base_settings_view .o_form_renderer {
    --settings__tab-bg: #{$o-gray-100};
    --settings__tab-bg--active: #{mix($o-action, $o-gray-100, 10%)};
    --settings__tab-color: #{$o-gray-700};
    --settings__title-bg: #{$o-gray-300};
}
