.pos-coupon-rewards .coupon-container {
    font-size: 75%;
}

.pos-receipt .loyalty,.pos-receipt .loyalty-customer {
    font-size: 90%;
}

.pos-receipt .loyalty > div > *:first-child {
    font-weight: bolder;
}
