/* ------------------------------ */
/* Compose Message Wizard Form */
/* ------------------------------ */

.openerp tr td .oe_form_field.oe_mail_compose_message_invisible {
    display: none;
}

.openerp .oe_mail_compose_message_icons {
    text-align: right;
}

.openerp .oe_mail_compose_message_icons img {
    width: 20px;
    height: 20px;
}
