/* ------------------------------ */
/* Compose Message Wizard Form */
/* ------------------------------ */

.openerp .oe_mail_compose_message_icons {
    text-align: right;
}

.openerp .oe_mail_compose_message_icons img {
    width: 20px;
    height: 20px;
}
