/* ------------------------------ */
/* Compose Message */
/* ------------------------------ */

.openerp .oe_mail_msg_content .oe_mail_compose_message_footer {
    height: 24px;
}

.openerp .oe_mail_msg_content .oe_mail_compose_message_footer button.oe_mail_compose_message_button_send {
    float: left;
}

.openerp .oe_mail .oe_mail_compose_textarea
{
   display: none;
}

.openerp .oe_mail .oe_mail_compose_textarea .oe_mail_post_header,
.openerp .oe_mail .oe_mail_compose_textarea .oe_mail_post_footer,
{
    position: relative;
}

.openerp .oe_mail .oe_mail_compose_textarea a.oe_cancel {
    position: absolute;
    right: -8px;
    top: -8px;
}

.openerp .oe_mail .oe_mail_compose_textarea button.oe_full {
    float: right;
}

/* ------------------------------------------------------------ */
/* mail.compose.message : list_recipients
/* ------------------------------------------------------------ */

.openerp .oe_mail .oe_mail_list_recipients {
    display: inline;
}
.openerp .oe_mail .oe_mail_list_recipients .oe_all_follower {
    color: blue;
}
.openerp .oe_mail .oe_mail_list_recipients .oe_partner_follower a {
    color: red;
}
.openerp .oe_mail .oe_mail_list_recipients .oe_hidden,
.openerp .oe_mail .oe_mail_list_recipients .oe_more_hidden {
    display: none;
}

/* ------------------------------------------------------------ */
/* mail.compose.message : attachment
/* ------------------------------------------------------------ */

.openerp .oe_mail .oe_attachment_file  {
    display: inline-block;
}

.openerp .oe_mail .oe_attachment_file .oe_add  {
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 10;
    left: +2px;
    top: +7px;
    overflow: hidden;
}

/* attachment button: override of openerp values */
.openerp .oe_mail .oe_attachment_file .oe_add button,
.openerp .oe_mail .oe_attachment_file .oe_add input.oe_insert_file {
    position: absolute;
    bottom: +0px;
    left: +0px;
    height: 24px;
    width: 24px;
    margin: 0px;
    padding: 0px;
}
.openerp .oe_mail .oe_attachment_file .oe_add input.oe_insert_file {
    z-index:2;
    width: 300px;
    left: -100px;
    background: transparent;
    border: 0;
    color: transparent;
}
.openerp .oe_mail .oe_attachment_file .oe_add button span {
    position: relative;
    bottom: +4px;
    font-size: 30px;
}

.openerp .oe_mail .oe_mail_msg_attachments input {
    visibility: hidden;
}

.openerp .oe_mail .oe_mail_compose_attachment_list {
    clear: both;
}

/* ------------------------------------------------------------ */
/* mail.compose.message
/* ------------------------------------------------------------ */


/* default textarea (oe_mail_compose_textarea), and body textarea for compose form view */
.openerp .oe_mail.oe_semantic_html_override .oe_mail_compose_textarea textarea.field_text,
.openerp .oe_mail div.oe_mail_compose_message_body textarea.field_text {
    width: 100%;
    min-height: 120px;
    height: auto;
    padding: 4px;
    font-size: 12px;
    border: 1px solid #cccccc;
}

/* not top textarea */
.openerp .oe_mail.oe_semantic_html_override .oe_semantic_html_override .oe_mail_compose_textarea textarea.field_text {
    height: 60px;
}

/* form_view: delete white background */
.openerp .oe_mail_msg_content div.oe_formview {
    background-color: transparent;
}

.openerp .oe_mail_msg_content div.oe_form_nosheet {
    margin: 0px;
}

.openerp .oe_mail_msg_content table.oe_form_group {
    margin: 0px;
}

.openerp .oe_mail_msg_content table.oe_form_field,
.openerp .oe_mail_msg_content div.oe_form_field {
    padding: 0px;
}

.openerp .oe_mail_msg_content td.oe_form_group_cell {
    vertical-align: bottom;
}

/* subject: change width */
.openerp .oe_mail_msg_content .oe_form .oe_form_field input[type='text'] {
    width: 472px;
}

/* body_html: cleditor */
.openerp .oe_mail_msg_content div.cleditorMain {
    border: 1px solid #cccccc;
}

/* destination_partner_ids */
.openerp .oe_mail_msg_content div.text-core {
    height: 22px !important;
    width: 472px;
}