html {
    width: 100%;
    height: 100%;
    font-size: 11px;
}

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 0;
}

.original_body {
    background-color: #797083;
    color: white;
}

.ajax_got_body {
    color: black;
}