// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_FollowerView_avatar {
    width: $o-mail-partner-avatar-size;
    height: $o-mail-partner-avatar-size;
}

.o_FollowerView_details {
    min-width: 0;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_FollowerView_button:hover {
    background: $gray-400;
    color: $black;
}

.o_FollowerView_details:hover {
    background: $gray-400;
    color: $black;
}
