.s_masonry_block[data-vcss='001'] .row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s_masonry_block[data-vcss='001'] .row.o_grid_mode > div.o_grid_item_image {
    padding: 0 !important;
}
