.o-mail-activity-sidebar {
    width: $o-mail-thread-avatar-size;
    height: $o-mail-thread-avatar-size;
}

.o-activity-note p {
    margin-bottom: map-get($spacers, 0);
}

.o-mail-activity-iconContainer {
    @include o-position-absolute($top: auto, $left: auto, $bottom: -16%, $right: -5%);
    box-shadow: 0 0 0 2px $o-view-background-color;
}
