.openerp .oe_login .oe_login_pane {
    height: 152px;
}
.openerp .oe_login .oe_login_pane ul.oe_login_switch a {
  color: #eeeeee;
  margin: 0 8px;
}
.openerp .oe_login .oe_login_pane ul.oe_login_switch a:hover {
  text-decoration: underline;
}


