.pos .pos-rightheader .username {
    transition: all 250ms ease-in-out;
}

.pos .pos-rightheader .username.highlight {
    color: lightblue;
}

.pos .modal-dialog.darker {
    background-color: rgba(0,0,0,0.8);
}
