@font-face {
    font-family: cairo;
    src: url(/aumet/static/src/fonts/Cairo-Light.ttf);
}

@font-face {
    font-family: cairo-bold;
    src: url(/aumet/static/src/fonts/Cairo-Bold.ttf);
}

.o-app-name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-shadow: none!important;
    font-family: cairo-bold;
}


.o_menu_apps .dropdown-menu {
    color: black;
    margin-top: 4px;
    font-size: 1.25rem;
    text-shadow: none;
    font-family: cairo;
}

.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
  border: white;
}

.o_menu_apps .dropdown-menu.show {

    background-size: auto;
    background-origin: padding-box;
    background-origin: border-box;
    background-size: cover;
    height: calc(100vh);
    max-height: calc(100vh);
    border-top: 46px solid #04bca6;
    top: 0 !important;
    background: rgb(29,242,221);
    background: white;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1df2dd",endColorstr="#ffffff",GradientType=1);
}

.search-container {
    display: none;
}

.o_menu_apps .dropdown-menu .o-app-icon {
    height: auto;
    max-width: 10rem;
}

.o_menu_apps .dropdown-menu .o_app {
    width: 24.667%;
}
.fa-th-large{
color:white ;

}
