<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <!-- <menuitem id="root_menu" name="Gamification"/> -->
        <menuitem id="gamification_menu" name="Gamification Tools" parent="base.menu_administration"/>
        <!-- Goal types -->
        <menuitem id="gamification_type_menu" parent="gamification_menu" action="goal_type_list_action"/>
        <!-- Goals -->
        <menuitem id="gamification_goal_menu" parent="gamification_menu" action="goal_list_action"/>

    </data>
</openerp>