<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <template id="aumet.homepage_block" name="homepage">

        <t name="Home" priority="29" t-name="aumet.home">
            <t t-call="website.layout">
                <t t-set="pageName" t-value="'homepage'"/>
                <div id="wrap" class="oe_structure oe_empty">
                    <div class="website-container">
                        <div class="heading">

                        </div>
                        <div class="container">
                            <p> ${data.results} </p>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-10">
                                    <div class="row">

                                        <div class="cell col-3">
                                            <div class="wrapper">
                                                <a>
                                                    <img class="cell-image" src="/aumet/static/img/inventory.svg"></img>
                                                    <div class="row">
                                                        <h6 class="cell-text">inventory</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="cell col-3">
                                            <div class="wrapper">
                                                <a>
                                                    <img class="cell-image" src="/aumet/static/img/purchases.svg"></img>
                                                    <div class="row">
                                                        <h6 class="cell-text">Purchases</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="cell col-3">
                                            <div class="wrapper">
                                                <a>
                                                    <img class="cell-image" src="/aumet/static/img/sales.svg"></img>
                                                    <div class="row">
                                                        <h6 class="cell-text">Sales</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="cell col-3">
                                            <div class="wrapper">
                                                <a>
                                                    <img class="cell-image" src="/aumet/static/img/pos.svg"></img>
                                                    <div class="row">
                                                        <h6 class="cell-text">POS</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">

                                        <div class="cell col-3">
                                            <div class="wrapper">
                                                <a>
                                                    <img class="cell-image"
                                                         src="/aumet/static/img/accounting.svg"></img>
                                                    <div class="row">
                                                        <h6 class="cell-text">Accounting</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="cell col-3">
                                            <div class="wrapper">
                                                <a>
                                                    <img class="cell-image" src="/aumet/static/img/users.svg"></img>
                                                    <div class="row">
                                                        <h6 class="cell-text">Users</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="cell col-3">
                                            <div class="wrapper">
                                                <a>
                                                    <img class="cell-image" src="/aumet/static/img/suppliers.svg"></img>
                                                    <div class="row">
                                                        <h6 class="cell-text">Suppliers</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="cell col-3">
                                            <div class="wrapper">
                                                <a>
                                                    <img class="cell-image" src="/aumet/static/img/settings.svg"></img>
                                                    <div class="row">
                                                        <h6 class="cell-text">settings</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <img class="aumet-logo" src="/aumet/static/img/aumet.svg"></img>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>


                        </div>
                    </div>
                </div>

            </t>
        </t>
    </template>


</body>
</html>