<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">

<header t-name="web.Menu" owl="1">
    <nav class="o_main_navbar">
        <t t-call="web.AppsMenu"/>
        <t t-if="currentApp">
            <a class="o_menu_brand" role="button" t-ref="menuBrand"
                t-on-click="trigger('open-menu', {menuID: currentApp.id})">
                    <t t-esc="currentApp.name"/>
            </a>
            <ul class="o_menu_sections" role="menu" t-ref="menuSections" t-on-mouseover="_onMouseOverMenu">
                <t t-call="web.MenuSections"/>
            </ul>
        </t>
        <SystrayMenu t-ref="systrayMenu"/>
    </nav>
</header>

<ul t-name="web.AppsMenu" class="o_menu_apps" owl="1">
    <li class="dropdown">
        <a class="full" data-toggle="dropdown" data-display="static" href="#">
            <i class="fa fa-th-large"/>
        </a>
        <div class="dropdown-menu" role="menu">
            <t t-foreach="apps" t-as="app">
                <a role="menuitem" href="#" class="dropdown-item o_app"
                    t-att-data-menu-id="app.id"
                    t-att-data-menu-xmlid="app.xmlid"
                    t-att-data-action-id="app.actionID"
                    t-on-click.prevent="trigger('open-menu', { menuID: app.id })">
                        <t t-esc="app.name"/>
                </a>
            </t>
        </div>
    </li>
</ul>

<!-- separate first level dropdown from the others to avoid nested dropdowns -->
<t t-name="web.MenuSections" owl="1">
    <t t-foreach="currentApp.children" t-as="secondLvlMenuID">
        <t t-set="secondLvlMenu" t-value="props.menus[secondLvlMenuID]"/>
        <t t-if="!secondLvlMenu.children.length">
            <t t-call="web.MenuLink">
                <t t-set="inNavbar" t-value="true"/>
                <t t-set="menu" t-value="secondLvlMenu"/>
            </t>
        </t>
        <t t-else="">
            <li>
                <a role="button" href="#" class="dropdown-toggle o-no-caret o_menu_header_lvl_1"
                    aria-expanded="false"
                    data-display="static"
                    data-toggle="dropdown"
                    t-att-data-menu-xmlid="secondLvlMenu.xmlid">
                        <t t-esc="secondLvlMenu.name"/>
                </a>
                <div class="dropdown-menu" role="menu">
                    <t t-foreach="secondLvlMenu.children" t-as="thirdLvlMenuID">
                        <t t-call="web.MenuLink">
                            <t t-set="depth" t-value="1"/>
                            <t t-set="menu" t-value="props.menus[thirdLvlMenuID]"/>
                        </t>
                    </t>
                </div>
            </li>
        </t>
    </t>
</t>

<t t-name="web.MenuLink" owl="1">
    <t t-set="depth" t-value="(depth || 0) + 1"/>

    <t t-if="!menu.children.length">
        <t t-set="_link">
            <a role="menuitem" href="#" data-toggle="collapse" data-target="#o_navbar_collapse.in"
                t-att-data-menu-id="menu.id"
                t-att-data-action-model="menu.actionModel"
                t-att-data-action-id="menu.actionID"
                t-att-data-menu-xmlid="menu.xmlid"
                t-attf-class="{{inNavbar ? '' : 'dropdown-item '}}o_menu_entry_lvl_{{depth}}"
                t-on-click="trigger('open-menu', { menuID: menu.id })">
                    <span><t t-esc="menu.name"/></span>
            </a>
        </t>
        <li t-if="inNavbar">
            <t t-raw="_link"/>
        </li>
        <t t-else="">
            <t t-raw="_link"/>
        </t>
    </t>
    <t t-else="">
        <div t-attf-class="dropdown-header o_menu_header_lvl_{{depth}}">
            <span><t t-esc="menu.name"/></span>
        </div>
        <t t-foreach="menu.children" t-as="menuID">
            <t t-call="web.MenuLink">
                <t t-set="menu" t-value="props.menus[menuID]"/>
            </t>
        </t>
    </t>
</t>

<ul t-name="web.SystrayMenu" class="o_menu_systray" role="menu" owl="1">
    <ItemAdapter t-foreach="Items" t-as="Item" t-key="Item_index" Component="Item"/>
    <UserMenu/>
</ul>

<t t-name="web.OwlUserMenu" owl="1">
    <li class="o_user_menu">
        <a role="button" class="dropdown-toggle" data-toggle="dropdown" data-display="static" aria-expanded="false" href="#">
            <img class="rounded-circle oe_topbar_avatar" t-att-src="avatarSRC" alt="Avatar"/>
            <span class="oe_topbar_name">
                <t t-esc="env.session.name"/> <t t-if="env.isDebug()" t-esc="'(' + env.session.db + ')'"/>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
            <t t-call="web.UserMenuActions"/>
        </div>
        <OwlDialog t-if='state.dialog' t-props="state.dialog.dialogProps" t-on-dialog-closed='state.dialog = null'>
            <t t-component="state.dialog.Component" />
        </OwlDialog>
    </li>
</t>

<t t-name="web.UserMenuActions" owl="1">
    <a role="menuitem" href="#" data-menu="documentation" class="dropdown-item">Documentation</a>
    <a role="menuitem" href="#" data-menu="support" class="dropdown-item">Support</a>
    <a role="menuitem" href="#" data-menu="shortcuts" class="dropdown-item">Shortcuts</a>
    <div role="separator" class="dropdown-divider"/>
    <a role="menuitem" href="#" data-menu="settings" class="dropdown-item">Preferences</a>
    <a role="menuitem" href="#" data-menu="account" class="dropdown-item">My Odoo.com account</a>
    <a role="menuitem" href="#" data-menu="logout" class="dropdown-item">Log out</a>
</t>

<div t-name="web.UserMenu.shortcuts" owl="1">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <table class="o_shortcut_table text-center">
                    <thead>
                        <tr>
                            <th style="width:50%;">Description</th>
                            <th style="width:25%;" class="text-center">Windows/Linux</th>
                            <th style="width:25%;" class="text-center">Mac</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left">Save a record</td>
                            <td>
                                <span class="o_key">Alt</span> + <span class="o_key">s</span>
                            </td>
                            <td>
                                <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">s</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Edit a record</td>
                            <td>
                                <span class="o_key">Alt</span> + <span class="o_key">a</span>
                            </td>
                            <td>
                                <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">a</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Discard a record modification</td>
                            <td>
                                <span class="o_key">Alt</span> + <span class="o_key">j</span>
                            </td>
                            <td>
                                <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">j</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Create a new record</td>
                            <td>
                                <span class="o_key">Alt</span> + <span class="o_key">c</span>
                            </td>
                            <td>
                                <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">c</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Open to list view</td>
                            <td>
                                <span class="o_key">Alt</span> + <span class="o_key">l</span>
                            </td>
                            <td>
                                <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">l</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Open to kanban view</td>
                            <td>
                                <span class="o_key">Alt</span> + <span class="o_key">k</span>
                            </td>
                            <td>
                                <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">k</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Open the previous record</td>
                            <td>
                                <span class="o_key">Alt</span> + <span class="o_key">p</span>
                            </td>
                            <td>
                                <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">p</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Open the next record</td>
                            <td>
                                <span class="o_key">Alt</span> + <span class="o_key">n</span>
                            </td>
                            <td>
                                <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">n</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--
<t t-extend="FormSelection">
    <t t-jquery=".dropdown-menu.state">$(this).addClass("dropdown-menu-right");</t>
</t> -->

</templates>
