.o_datetime_picker_bottom_sheet {
    .o_datetime_picker_footer {
        flex-direction: row !important;
        flex-wrap: wrap;

        .o_datetime_buttons {
            width: 46%;
        }
    }
}
