.self_order_product_card {
    width: 100%;
    display:flex;
    flex-direction: column;

    .o_self_order_item_card_image {
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
    }
}

.scale-up {
    transform: scale(1.2);
    transition: transform .75s ease-in-out;
}

@media (max-width: 576px) {
    .self_order_product_card {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;

        .o_self_order_item_card_image {
            width: 25%;
            object-fit: contain;
            aspect-ratio: 1/1;
        }
    }
}
