.o_calendar_filter img {
    width:30px;
    
    &.o_calendar_filter_plain {
        content:var(--calendarFilter-icon--plain);
    } 

    &.o_calendar_filter_hatched {
        content:var(--calendarFilter-icon--hatched);
    } 
    
    &.o_calendar_filter_line {
        content:var(--calendarFilter-icon--line);
    } 
}
