.ui-autocomplete.o_edit_menu_autocomplete {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    .ui-menu-item {
        padding: 0;
        > .ui-state-active {
            border: none;
            font-weight: normal;
            margin: 0;
        }
    }
    .font-weight-bold {
        font-weight: 700 !important;
    }
}
