@charset "utf-8"

.openerp
    // Regular login form
    .oe_login
        .oe_signup_show
            display: none
    // Signup form
    .oe_login_signup
        .oe_signup_show
            display: block !important
        .oe_signup_hide
            display: none
