.o_form_subtask_button {
    border: none;
    padding-left: 0px;
}

.o_project_kanban .oe_kanban_align.badge {
    background: inherit;
    color: inherit;
    border: 1px solid var(--success);
}

.o_project_kanban .oe_kanban_align.badge-danger {
    border-color: var(--danger);
}
