.ribbon {
    width: 150px;
    height: 150px;

    &::before, &::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid #2980b9;
    }

    & span {
        width: 225px;
        height: 48px;
        &.o_small {
            font-size: 12px;
        }
        &.o_medium {
            font-size: 15px;
        }
    }

    &-top-right {
        margin-top: -$o-sheet-vpadding;

        &::before, &::after {
            border-top-color: black;
            border-right-color: black;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

        & span {
            left: -15px;
            top: 30px;
            transform: rotate(45deg);
        }
    }
}

// after ribbon widget there can be field widgets or oe_title which may
// have widgets on right end, add margin-right so ribbon not overlap on it
.ribbon {
    &:not(.o_invisible_modifier) {
        ~ .oe_title, ~ .o_field_widget {
            margin-right: 100px;
        }
    }
}
