.o_MessageActionList:hover {
    box-shadow: 0 4px .5rem -.5rem $black;
}

.o_MessageActionList_action:hover {
    background-color: mix($border-color, $white);
}

.o_MessageActionList_actionStar.o_MessageActionList_actionStar_active {
    color: $o-main-favorite-color;
}
