.o_form_view {

  .o_address_format {
    .o_address_building_number,
    .o_address_plot_identification {
      margin-right: 2%;
    }
  }

  &.o_form_editable .o_address_format {
    .o_address_building_number {
      width: 48%;
    }

    .o_address_plot_identification {
      width: 48%;
      margin-right: 0;
    }
  }

}
