[Unit]
Description=ramdisks
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=basic.target

[Service]
Type=oneshot
ExecStart=/home/pi/odoo/setup/iot_box_builder/configuration/setup_ramdisks.sh

[Install]
WantedBy=basic.target
