.certification-wrapper {
    background: url(/survey/static/src/img/certification_background.png) no-repeat;
    background-size: 100% 100%;
    height: 610px;
    width: 860px;

    .certification {
        margin-left: 350px;
        padding-top: 140px;
        width: 510px;
        text-align: center;

        h2 {
            color: #876B81;
        }
    }
}
