.pos .pos-topheader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
    color: gray;
    background: #04bca6;
    display: flex;
}

.pos .green-border-bottom {
    border-bottom: solid 3px #04bca6;
}

.pos .rightpane-header {
    padding: 0;
    background: #04bca6;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    border-top: solid 1px #fff;
}

.pos .breadcrumb-button {

    display: inline-block;
    padding: 0 9px;
    vertical-align: top;
    color: #ffff;
    font-size: 14px;
    cursor: pointer;

}

.pos .category-simple-button {

    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 12px;
    cursor: pointer;
    flex: 1;
    text-align: left;
    background: #04bca6;
   /* border-right: solid 1px #ffff;
    border-top: solid 1px #ffff;*/
    color: #ffff;

}

.ticket-button:hover {
    background: rgb(40, 101, 123);
    cursor: pointer;
}

.pos .mode-button.selected-mode:hover {
    background: #04bca6 !important;
    color: white;
    border-color: transparent;
}


/*  e) the product */

.pos .product {
    position:relative;
    vertical-align: top;
    display: inline-block;
    line-height: 100px;
    font-size: 11px;
    margin: 8px !important;
    width: 122px;
    height:115px;
    background:#fff;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
     box-shadow:0px 3px 3px 0px #767A7F;
    overflow: hidden;
    cursor: pointer;
}

.pos .product .product-img {
    position: relative;
    width: 120px;
    height: 100px;
    background: white;
    text-align: center;
}

.pos .product .product-img img {
    max-height: 100px;
    max-width:  120px;
    vertical-align: middle;
}

.pos .product .price-tag {
    position: absolute;
    top: 2px;
    right: -2px;
    vertical-align: top;
    color: black;
    line-height: 13px;
    background: #E9E9F3;
    padding: 2px 5px;
}

.pos .product .product-name {
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    bottom:0;
    top:auto;
    line-height: 14px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:    -moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:     -ms-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    /* troublesome in latest webkit
    background:         linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    */
    padding: 3px;
    padding-top:15px;
}


/*  ********* The Numpad ********* */

.pos .numpad {
    display: inline-block;
    float: left;
    text-align: center;
    width: 216px;
    margin: 16px;
    margin-top: 8px;
    margin-left: 0px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-color:white;
    border-top-right-radius: 4px;
}
.pos .numpad button {

     float: left;
    height: 54px;
    width: 54px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-radius: 0;
    border: none;
    border-right: 6px solid;
    border-bottom: 6px solid;
    border-color: white;
    transition: all 150ms linear;
}
.pos .numpad button:hover {
    background: #efefef;
}
.pos .numpad button:active {
    background: black;
    color: white;
    border-color: transparent;
}
.pos .numpad button:nth-child(4) {
    border-top-right-radius: 4px;
}
.pos .numpad button:last-child {
     border-bottom-right-radius: 4px;
}
.pos .input-button {
    font-size: 24px;
}
.pos .mode-button {
    font-size: 14px;
}
.pos .mode-button.selected-mode {
    color: white;
    background: #04bca6;
    border-color: white;
}
.pos .mode-button.selected-mode:hover {
    background: #6EC89B;
    color: white;
    border-color: transparent;
}
.pos .numpad .disabled-mode, .pos .numpad .disabled-mode:hover {
    background: #c7c7c7;
    color: #a5a1a1;
    cursor: not-allowed;
}


/*  ********* The actionpad (payment, set customer) ********* */

.pos .actionpad {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 16px;
    margin-top: 8px;
    margin-right: 0;
    text-align: center;
    vertical-align: top;
    width: 166px;
    border: none;
    border-radius: 14px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color:white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pos .actionpad .button {
    position: relative;
    display: block;
    height: 54px;
    width: 100%;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    font-size: 14px;
    border-radius: 14;+
    border: none;
    border-right: 6px solid;
   border-bottom: 6px solid;
    border-color: white;
    transition: all 150ms linear;
}
.pos .actionpad .button:hover {
    background: #efefef;
}
.pos .actionpad .button:active {
    background: black;
    border-color: black;
    color: white;
}
.pos .actionpad .button:first-child {
    border-top-left-radius: 4px;
}
.pos .actionpad .button:last-child {
     border-bottom-left-radius: 4px;
}
.pos .actionpad .button.pay {
    height: 161px;
}
.pos .actionpad .button.pay .pay-circle {
    display: block;
    font-size: 32px;
    line-height: 54px;
    padding-top: 6px;
    background: #04bca6;
    color: white;
    width: 60px;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 10px;
}
.pos .actionpad .button.pay .pay-circle .fa {
    position: relative;
    top: -1px;
    left: 3px;
}

.pos .actionpad .button.set-customer{
    padding-left: 40px;
    padding-right: 40px;

}
.pos .actionpad .button.set-customer.decentered {
    padding-left: 40px;
    padding-right: 5px;
}
.pos .actionpad .button .fa-user {
    position: absolute;
    left: 13px;
    top: 13px;
    margin-right: 8px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.5);
    line-height: 30px;
    width: 30px;
    border-radius: 100%;
}

.pos .leftpane .pads .subpads {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.highlight{
    background-color: #04bca6 !important;
}

.pos .product-list-container{
    background-color: #fff;
}

.pos .leftpane .pads {
    border-top: solid 3px #fff;
}

.pos .control-buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 8px 16px 0px 11px;
    margin-bottom: -6px;
    background: #fff !important;
}

.toggle-button {
    margin-left: 1px;
    background: #ccc;
    font-size: 18px;
    line-height: 45px;
    border-color:#ccc;
    padding: 15px;
}

.fa.fa-sliders {
    color: #000;
}


.screen .screen-full-width {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #fff;
}
.pos .rightpane {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
}

.pos .control-button.highlight, .pos .button.highlight {
    background: #04bca6 !important;
    border: solid 1px #04bca6 !important;
    color: white !important;
}

.pos .clientlist-screen .client-list tr.highlight {
    transition: all 150ms linear;
    background: #04bca6 !important;
    color: white;
}

.pos .switchpane .btn-switchpane {
    background-color: #04bca6;
    border-radius: 0px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 50%;
    padding-bottom: 20px;
}
.ticket-screen .controls button.highlight{
    color: black !important;
    background-color: #04bca6;
}
.pos .switchpane .btn-switchpane.secondary {
    color: #04bca6;
}

.highlight {
    background-color: #FFF0 !important;
}

.payment-status-container .amount.highlight {

    font-weight: bold;
    color: #04bca6;

}

.payment-screen .paymentlines-empty .total {
    text-align: center;
    padding: 24px 0px 18px;
    font-size: 64px;
    color: #04bca6;
    text-shadow: 0px 2px white, 0px 2px 2px rgba(0, 0, 0, 0.27);
}

.oe_green{
color:white!important
}

.pos .oe_status
{
color:white!important

}
.pos .pos-rightheader .header-button
{
color:white!important

}
.fa-search {
color:white!important
}
.pos .category-list {
background:white;

}
