
.s_mega_menu_menus_logos:not([data-vcss]) {
    .s_mega_menu_menus_logos_wrapper {
        // Apply color transparency to match with the preset used
        border-color: rgba(0, 0, 0, .05) !important;
    }
}

// Additionnal SCSS to manage when in offcanvas
.o_mega_menu_is_offcanvas {
    .s_mega_menu_menus_logos:not([data-vcss]) {
        .s_mega_menu_menus_logos_nav {
            .col, .col-4 {
                width: 100%;
            }
        }

        .s_mega_menu_menus_logos_wrapper .col {
            width: 50%;
        }
    }
}
