
.s_mega_menu_menus_logos:not([data-vcss]) {
    .s_mega_menu_gray_area:last-child {
        // Allow to show the grey background used in the pseudo-element
        z-index: 1;

        &:before {
            content: '';
            display: block;
            width: 100vw;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            pointer-events: none;
            background: rgba(0, 0, 0, .05);
        }
    }

    .s_mega_menu_menus_logos_wrapper {
        // Apply color transparency to match with the preset used
        border-color: rgba(0, 0, 0, .05) !important;
    }
}
