.o_dashboard_sales {
    .o_inner_box_table {
        text-align: center;
        padding-top: 16px;
        border: 1px solid @odoo-view-background-color;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: @odoo-brand-lightsecondary;
        color: black;
        &:hover {
            background-color: darken(@odoo-brand-lightsecondary, 10%);
        }
        .o_highlight {
            font-size: 20px;
        }
    }
}
