
.openerp .oe_account_reconciliation {
    border-bottom: 1px solid #CACACA;
    padding: 5px;
}

.openerp .oe_account_reconciliation button {
    margin: 3px;
}

.openerp .oe_account_reconciliation>div {
    display: table;
    width: 100%;
}

.openerp .oe_account_reconciliation>div>div {
    display: table-cell;
    width: 50%:
}