.dashboard_journal_code {
	font-size: 10px;
}
.dashboard-right-separator {
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: darkgray;
}
.dashboard-header-dropdown {
	margin-top: 5px;
	cursor: pointer;
}
.dashboard-journal-head {
	min-height: 60px;
}
.journal-dashboard-text-right {
	text-align: right !important;
	/*font-size: 10px;*/
}
.dashboard-dropdown {
	color: black !important;
	/*padding: 3px 25px;*/
	width: 400px;
}
.dashboard-star {
	font-size: 12px !important;
	margin-left: 5px;
}
.dashboard-dropdown table td {
	border-top:	none !important;
	border-right: 1px solid #ddd;
}
.dashboard-kanban-graph {
	height: 75px;
}
.oe_empty_dashboard_info_row {
	height: 84px;
}