.o_tax_group_editable {
    width: 100%;
    padding: 1% 0% !important;
}

.o_tax_group_edit {
    white-space: nowrap;
}

.o_tax_group_edit:hover {
    color: #00A09D;
    cursor: pointer;
}

.o_tax_group_name {
    font-weight: bold;
    min-width: 150px;
    text-align: right;
}

.o_tax_group_name label {
    padding-top: 2%;
}

.o_tax_group_editable .o_tax_group_amount_value input {
    width: 65%;
    float: right;
    text-align: right;
}

.o_tax_group_editable .o_tax_group_amount_value::before {
    content: ' ';
}
