.s_hr_rating {
    $star: "\f005";
    $star-o: "\f006";
    $bolt: "\f0e7";
    $bolt-o: "_";
    $heart: "\f004";
    $heart-o: "\f08a";

    @mixin s-hr-rating-generate-icons($off, $on) {
        .fa:before {
            content: $off;
        }
        @for $counter from 5 to 0 {
            &.s_hr_rating_#{$counter} {
                .fa:nth-of-type(-n+#{$counter}):before {
                    content: $on;
                }
            }
        }
    }

    &.s_hr_rating_stars {
        @include s-hr-rating-generate-icons($star-o, $star);
    }

    &.s_hr_rating_bolts {
        @include s-hr-rating-generate-icons($bolt-o, $bolt);
    }

    &.s_hr_rating_hearts {
        @include s-hr-rating-generate-icons($heart-o, $heart);
    }

    &.s_hr_rating_bar {
        .fa {
            display: none;
        }

        .s_hr_rating_bar {
            height: 15px;
            padding: 1px;
            background-color: $gray-lighter;
            border-radius: 2px;
            &:before {
                content: "";
                border-radius: 2px;
                background-color: $brand-primary;
                display: block;
                @include size(0, 100%);
            }
        }

        @for $counter from 5 to 0 {
            &.s_hr_rating_#{$counter} {
                .s_hr_rating_bar:before {
                    width: percentage($counter/5);
                }
            }
        }
    }
}
