.o-product-card {
    .o-product-card-img-top {
        object-fit: scale-down;
        height: 12rem;
    }
}

.o-product-card-wrap {
    @media (min-width: 768px){
        float: left;
    }
}

.o_carousel_control {
    top: 33.333333%;
    bottom:33.333333%;
    background-color: $o-enterprise-primary-color;
}
