<<<<<<< HEAD
/*Modifications for the Standard and Boxed document layouts */
.article.o_report_layout_standard.o_company_1_layout, .article.o_report_layout_boxed.o_company_1_layout {
    > .pt-5 {
		> .address.row {
			width: 100.5% !important;
    		height: 55mm;
			margin-top: -13mm;
			> div[name="address"] {
				padding-top: 5mm;
			}
        }
||||||| parent of a5d0ae7a1775... temp
/* Generic report layouts*/
.header {
    max-height: 40mm;
    overflow: hidden;
}
.container {
    margin-top: 5mm;
}
.o_standard_footer, .o_clean_footer, .o_boxed_footer, .o_background_footer {
    max-height: 90px !important;
    overflow: hidden;
    width: 95%;
    div > div:first-child {
        padding-left: 10mm;
    }
}
.o_background_footer {
    padding-left: 8mm;
}
.article>.page {
    > h1, > h2, > h3 {
        width: 50%;
=======
/*Modifications for the Standard and Boxed document layouts */
.header.o_company_1_layout .o_boxed_header {
	max-height: 40mm;
}

.article.o_report_layout_standard.o_company_1_layout, .article.o_report_layout_boxed.o_company_1_layout {
    > .pt-5 {
		> .address.row {
			width: 105% !important;
    		height: 58mm;
			margin-left: -11mm;
			margin-top: -16mm;
			> div[name="address"] {
				padding-top: 10mm;
				> address {
					height: 30mm !important;
				}
			}
        }
>>>>>>> a5d0ae7a1775... temp
    }
}
<<<<<<< HEAD

/*Modifications for Bold and Striped document layouts*/
.article.o_report_layout_bold.o_company_1_layout, .article.o_report_layout_striped.o_company_1_layout {
    > .address.row {
		width: 100.5% !important;
		height: 60mm;
		margin-top: -6mm;
		> div[name="address"] {
	    	padding-top: 13mm;
		}
||||||| parent of a5d0ae7a1775... temp
.pt-5 {
    padding-top: 48px !important;
}
.article > .address.row > div[name="address"] {
    height: 65mm;
    background-color: #ffffff;
    padding-top: 11mm;
    padding-left: 5mm;
    padding-bottom: 5mm;
    left: -20px !important;
    address {
        height: 28mm;
=======

/*Modifications for Bold and Striped document layouts*/
.article.o_report_layout_bold.o_company_1_layout, .article.o_report_layout_striped.o_company_1_layout {
    > .address.row {
		width: 105% !important;
		height: 58mm;
		margin-top: -4mm;
		margin-left: -11mm;
		> div[name="address"] {
	    	padding-top: 10mm;
			> address {
				height: 29mm !important;
			}
		}
>>>>>>> a5d0ae7a1775... temp
    }
}

<<<<<<< HEAD
div .address.row > div[name="address"] {
    position: relative !important;
    width: 103mm !important;
    background-color: #ffffff;
    > address {
		width: 100% !important;
		position: absolute !important;
		bottom: 0 !important;
		padding-left: 6mm;
		padding-top: 3mm;
        height: 33mm;
		max-height: 33mm;
||||||| parent of a5d0ae7a1775... temp
/*l10n_de_din layout*/
.din {
    .invoice_address {
        top: 27.7mm !important;
    }
    &.article {
        .page {
            top: 18.46mm !important;
        }
    }
    &.o_background_footer {
        top: -8mm !important;
=======
/* Modifications for all layouts */
div .address.row > div[name="address"] {
    position: relative !important;
    width: 103mm !important;
    background-color: #ffffff;
	line-height: 1.2em;
    > address {
		width: 100% !important;
		position: absolute !important;
		bottom: 0 !important;
		padding-left: 3mm;
		padding-top: 3mm;
        height: 33mm;
		max-height: 33mm;
>>>>>>> a5d0ae7a1775... temp
    }
}
