<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- N11 Menu Items -->
        <menuitem
            id="marketplace_n11_menu"
            name="N11"
            parent="marketplace_menu_integration"
            sequence="40" />

        <menuitem
            id="marketplace_n11_dashboard"
            name="N11 Dashboard"
            parent="marketplace_n11_menu"
            action="marketplace_channel_action"
            sequence="10" />

    </data>
</odoo>
