<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Trendyol Menu Items -->
        <menuitem
            id="marketplace_trendyol_menu"
            name="Trendyol"
            parent="marketplace_menu_integration"
            sequence="20" />

        <menuitem
            id="marketplace_trendyol_dashboard"
            name="Trendyol Dashboard"
            parent="marketplace_trendyol_menu"
            action="marketplace_channel_action"
            sequence="10" />

    </data>
</odoo>
