/* TODO: seperate openerp webclient page css from openerp views css */
body {
    padding: 0;
    margin: 0;
    font-family: helvetica, sans, arial;
    font-size: 80%;
}

.oe_box {
    border: 1px solid #aaf;
    padding: 2px;
    margin: 2px;
}

.#oe_header h2 {
    margin: 2px 0;
}

#oe_errors pre {
    margin: 0;
}


body.openerp {
    height: 100%;
    min-width: 1000px;
    overflow-y: scroll;
}

/* STATES */
.openerp .on_logged {
    display: none;
}

/* Loading */
.openerp .loading {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    padding: 4px 8px;
    background: #A61300;
    color: white;
    text-align: center;
}

/* Login */
.openerp .login {
    display: none;
    padding: 6px;
    z-index: 100;
    width: 34%;
    position: fixed;
    top: 0;
    left: 33%;

}
.openerp .login_valid {
    background-color: #8f8;
}
.openerp .login_invalid {
    background-color: #f88;
}

/* Main*/
.openerp .main_table {
    width: 100%;
    height: 100%;
}
/* Main Application */
.openerp .application {
    padding: 6px;
}

.openerp h3.title {
    margin: 2px 0;
    color: #252424;
    text-shadow: white 0 1px 0;
}

/* Menu */
.openerp .sf-menu {
    margin-bottom: 0px;
}
/*
.sf-menu a {
    padding: 5px 5px;
}
*/

.openerp .menu {
    height: 34px;
    position: relative;
    white-space: nowrap;
    background: url(../img/menu-bg.png) repeat-x;
}
.openerp .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.openerp .menu li {
    display: -moz-inline-stack;
    display: inline; /*IE7 */
    display: inline-block;
    margin: 6px 1px;
    text-align: center;
    text-transform: uppercase;
}
.openerp .menu a {
    display: block;
    float: left;
    padding: 0 0 0 3px;
    background: url(../img/menu-item.png) no-repeat;
    color: #eee;
    text-shadow: #222 0 1px 0;
    text-decoration: none;
}
.openerp .menu span {
    display: block;
    float: left;
    min-width: 60px;
    height: 23px;
    padding: 0 9px 0 6px;
    background: url(../img/menu-item.png) 100% 0 no-repeat;
    line-height: 22px;
    font-weight: bold;
    font-size: 85%;
}
.openerp .menu ul li a:hover,
.openerp .menu li a:focus,
.openerp .menu ul li a.active {
    background-position: 0 -23px;
    color: #fff;
}
.openerp .menu ul li a:hover span,
.openerp .menu ul li a:focus span,
.openerp .menu ul li a.active span {
    background-position: 100% -23px;
}
/* Secondary Menu */
.openerp .secondary_menu {
    width: 200px;
    min-width: 200px;
    border-right: 1px solid #3C3C3C;
    border-bottom: 1px solid #5A5858;
    background: #5A5858;
    vertical-align: top;
}
.openerp .secondary_menu .menu_content {
    padding: 0;
    border: none;
    background: none;
    overflow: hidden;
}
.openerp .secondary_menu h3 {
    padding: 0 0 2px;
    background: url(../img/secondary_menu-bg.gif) 0 100% repeat-x;
    border: none;
}
.openerp .secondary_menu h4 {
    padding: 0 0 2px;
    border: none;
    background: none;
    padding-left: 20px;
}
.openerp .secondary_menu a {
    display: block;
    height: 20px;
    padding: 0 5px;
    line-height: 20px;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 0 #333;
}
.openerp .secondary_menu h3 a {
    background: url(../img/secondary_menu-h3-bg.png) 0 100% repeat-x;
}
.openerp .secondary_menu a.leaf:hover,
.openerp .secondary_menu a.leaf:active,
.openerp .secondary_menu a.leaf.active,
.openerp .secondary_menu h4:hover,
.openerp .secondary_menu h4:active,
.openerp .secondary_menu h4.active,
.openerp .secondary_menu h4:hover a,
.openerp .secondary_menu h4:active a,
.openerp .secondary_menu h4.active a {
    background: url(../img/secondary_menu-link-bg.gif) repeat-x;
    color: #3f3d3d;
    text-shadow: #fff 0 1px 0;
    border: none !important;
}

/* Header */
.openerp .header {
    height: 65px;
    background: url("../img/header-background.png") repeat-x scroll left top transparent;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-shadow: 0 1px 0 #333333;
}
.openerp .company_logo_link {
    display: block;
    float: left;
    height: 63px;
    width: 200px;
    margin-right: 10px;
    line-height: 63px;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid white;
    border-left: 1px solid white;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #CECECE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CECECE));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CECECE',GradientType=0 );
}
.openerp .company_logo {
    vertical-align: middle
}
.openerp .header_title {
    float: left;
    font-size: 100%;
    margin: 0;
    padding: 4px 0;
    text-shadow: 0 1px 0 #111111;
}
.openerp .header_title small {
    color: #ccc;
    font-size: 90%;
    font-weight: normal;
}
.openerp .header_corner {
    float: right;
}
.openerp .header_corner .block {
    float: left;
    height: 34px;
    line-height: 34px;
    /*background: url(../images/top-sep-a.png) no-repeat;*/
    border-left: 1px solid #6a6a6a;
    background: #828282;
    background: -moz-linear-gradient(top, #828282 0%, #4D4D4D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#828282), color-stop(100%,#4D4D4D));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#4D4D4D',GradientType=0 );
}
.openerp .header_corner .block a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.openerp .header_corner .block a:hover {
    background: #929292;
    background: -moz-linear-gradient(top, #929292 0%, #4D4D4D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#929292), color-stop(100%,#4D4D4D));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929292', endColorstr='#4D4D4D',GradientType=0 );
}
.openerp .header_corner ul.block {
    /*float: left;*/
    list-style: none;
    height: 34px;
    margin: 0;
    padding: 0 0 0 2px;
    /*background: url(../images/top-sep-a.png) no-repeat;*/
    line-height: 33px;
    /*font-size: 1em;*/
    /*text-transform: uppercase;*/
}
.openerp .header_corner ul.block li {
    float: left;
}
.openerp .header_corner ul.block li a {
    padding: 0 5px;
    position: relative;
    line-height: 32px;
}
.openerp .header_corner ul.block li a img {
    vertical-align: middle;
}
.openerp .header_corner ul.block li a small {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 1px 4px 2px;
    background: #333;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    line-height: 1em;
    font-weight: bold;
}

/* Footer */
.openerp .footer {
    text-align: center;
}

/* SearchView */

.openerp .filter_label, .openerp .filter_icon {
    border: 1px solid #666;
    border-left-width: 0;
    background: #F0F0F0;
    background: -moz-linear-gradient(top, #F0F0F0 0%, #C0C0C0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#C0C0C0));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#C0C0C0',GradientType=0 );
}
.openerp .filter_label:hover, .openerp .filter_icon:hover {
    background: #F0F0F0;
    background: -moz-linear-gradient(top, #F0F0F0 0%, #A1A7CE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#A1A7CE));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#A1A7CE',GradientType=0 );
}
.openerp .filter_label:active, .openerp .filter_icon:active {
    background: #AAAAAA;
    background: -moz-linear-gradient(top, #999999 0%, #EEEEEE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#EEEEEE));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#EEEEEE',GradientType=0 );
}
.openerp .filter_label.enabled, .openerp .filter_icon.enabled {
    background: #AAAAAA;
}
.openerp .filter_icon {
    padding: 1px 2px 0px 2px;
    margin-left: 0;
    margin-right: 0;
}
.openerp .filter_label {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: #EEE 0 1px 0;
    color: #4C4C4C;
    white-space: nowrap;
    min-height: 40px;
    min-width: 75px;
    padding: 2px 4px;
    margin: 0;
}
.openerp .filter_label_group {
    padding-right: 0.4em;
    white-space: nowrap;
}
.openerp .filter_label_group button:first-child {
    border-left: 1px solid #666;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.openerp .filter_label_group button:last-child {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.openerp .searchview_group_string {
    display: block;
    color: #7D7979;
    font-weight: bold;
    padding: 2px 0 2px 10px;
    margin-top: 4px;
    text-decoration: none;
}
.openerp .searchview_group_string:hover {
    background-color: #ccc;
}
.openerp .searchview_group.folded .searchview_group_string {
    background: url("../img/ui/group-folded.png") no-repeat scroll 0 50%;
}
.openerp .searchview_group.folded .searchview_group_content {
    display: none;
}
.openerp .searchview_group.expanded .searchview_group_string {
    background: url("../img/ui/group-expanded.png") no-repeat scroll 0 50%;
}
.openerp .searchview_group.expanded .searchview_group_content {
    display: block;
}
.openerp .searchview_group_content {
    padding-left: 10px;
}

/* View Manager */
.openerp .views_switchers {
    text-align: right;
}

/* Form */
.openerp .required.error {
    border: 1px solid #900;
}

/* Inputs */
.openerp input[type="text"], .openerp input[type="password"], .openerp select, .openerp textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: white;
}
.openerp input.field_date {
    background: url('../img/ui/field_calendar.png') no-repeat right center;
    background-origin: content-box;
    -moz-background-origin: content;
    -moz-background-origin: content-box;
    -webkit-background-origin: content-box;
}

/* Widgets */
.openerp .separator {
    border: 0 solid #666;
}
.openerp .separator.horizontal {
   font-weight: bold;
    border-bottom-width: 1px;
    margin: 6px 4px 6px 1px;
}
.openerp input[required=required], .openerp select[required=required] {
    background-color: #D2D2FF;
}

/* jQuery UI override */
.openerp .ui-widget {
    font-size: 1em;
}
