
.grid {
    border: none;
    border-collapse: collapse;
}

.grid-header .grid-cell {
    background: url(../img/gradientlinebg.gif);
    border-bottom: 1px solid #E3E3E3;
    font-weight: bold;
    text-align: left;
}

.grid-row .grid-cell {
    border-bottom: 1px solid #E3E3E3;
}

.openerp .separator.horizontal {
    font-weight: bold;
    border-bottom-width: 1px;
    margin: 6px 4px 6px 1px;
    height: 20px;
}