input, textarea {
    &.o_password_eye {
        padding-right: 25px !important;
    }
}

input, textarea {
    &.o_field_translate {
        &.o_password_eye {
            padding-right: 60px;
        }
    }
}


span.field_readonly {
    width: 100%;
    display: inline-block;
    &.o_password_eye {
        padding-right: 25px;
    }
}