/*  ********* The Screens  ********* */

.pos .screen {
    height: calc(100vh - #{$navbar-height});
    background: $gray-100;
}

/* a) Generic Screen Layout Constructs */

.full-content{
    top: 65px;
}

.left-content{
    overflow-x: hidden;
    overflow-y: auto;
    border-right: solid 1px $gray-300;
    flex-grow: 1;
    min-width: 200px;
}

.center-content{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.right-content {
    flex-grow: 1;
    min-width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: solid 1px $gray-300;
}

@media screen and (min-width: 768px) {
    .left-content {
        max-width: 34%
    }
}
