
.s_features_grid {
    &_content {
        overflow: hidden;
        p {
            margin-bottom: 0;
        }
    }
    &_icon {
        float: left;
        margin-right: $grid-gutter-width/2;
    }
}
