
.s_features_grid {
    .s_features_grid_content {
        overflow: hidden;
        p {
            margin-bottom: 0;
        }
    }
    .s_features_grid_icon {
        float: left;
        margin-right: $grid-gutter-width/2;
    }
}
