/* Copyright 2021 ITerra - Sergey Shebanin
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// Shortcut table ui improvement
.o_shortcut_table {
    width: 100%;
    white-space: nowrap;
    max-width: 400px;
    td {
        padding: 0 20px;
    }
}
