.pos .money-details.invisible {
    display: none;
}

.pos .money-details .body {
    max-height: 350px;
}

.pos .money-details .money-details-title {
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
}

.pos .money-details .footer .button {
    margin-right: unset;
}
