/**
 * This file regroups the rules which apply on elements which are shared between
 * all views.
 */

// Sample data global rules
.o_view_sample_data {
    > :not(.o_search_panel) .form-check {
        pointer-events: none !important;
    }
}

// No content helper
.o_view_nocontent {
    @include o-position-absolute(0, 0, 0, 0);
    pointer-events: none;
    z-index: var(--o-view-nocontent-zindex, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    .o_nocontent_help {
        @include o-nocontent-empty;

        [class^="o_view_nocontent_img_"]:before { // Specific to the mask images. Had to add "_img_" to avoid conflict with custom images and for more clarity, for e.g.: .o_view_nocontent_amortization
            --o-nocontent-img-width: 80px;
            --o-nocontent-img-height: var(--o-nocontent-img-width);
            @extend %o-nocontent-init-image-mask;
        }
            
        .o_view_nocontent_img_smiling_face {
            --o-nocontent-x: 0;
            --o-nocontent-y: 0;
        }

        .o_view_nocontent_img_empty_folder:before {
            --o-nocontent-x: -100%;
            --o-nocontent-y: 0;
        }

        .o_view_nocontent_img_leaves:before {
            --o-nocontent-x: -300%;
            --o-nocontent-y: 0;
        }

        .o_view_nocontent_img_cactus:before {
            --o-nocontent-x: 0;
            --o-nocontent-y: -100%;
        }

        .o_view_nocontent_img_pouf:before {
            --o-nocontent-x: -200%;
            --o-nocontent-y: -100%;
        }

        .o_view_nocontent_img_filebox:before {
            --o-nocontent-x: -200%;
            --o-nocontent-y: 0;
        }

        .o_view_nocontent_img_hole:before {
            --o-nocontent-x: -100%;
            --o-nocontent-y: -100%;
        }

        .o_view_nocontent_img_box:before {
            --o-nocontent-x: -300%;
            --o-nocontent-y: -100%;
        }

        .o_empty_custom_dashboard {
            min-height: 327px;
            margin-left: -$grid-gutter-width/2;
            margin-top: -$grid-gutter-width/2;
            padding: 100px 0 0 137px;
            background: transparent url(/web/static/img/graph_background.png) no-repeat 0 0;
        }
    }
}

// Naive heuristic to leave enough space for the nocontent helper in dialogs
.o_dialog {
    .o_content:has(.o_view_nocontent) {
        height: 20rem;
        min-height: 20rem;
    }
}

// Invisible modifier (can be inside the view, the button area, ...)
.o_invisible_modifier {
    display: none!important;
}

// Status
// This should normally be put in fields.scss but these classes are used outside
// of `.o_field_widget` so it needs to be placed at an upper level.
.o_status {
    border-radius: 50%;
    background-color: map-get($grays, '200');
    height: var(--Status-size, 12px);
    width: var(--Status-size, 12px);
    box-shadow: inset 0 0 0 1px rgba($black, .2);

    &.o_status_green {
        background-color: map-get($theme-colors, "success");
    }

    &.o_status_red {
        background-color: map-get($theme-colors, "danger");
    }

    .dropdown-item > & {
        margin-bottom: .2em;
        transform: translateX(-50%);
    }
}
