.product-card.unselectable-card {
    &:hover {
        border-color: $border-color;
    }

    .card-header, .card-body {
        opacity: 0.15;
    }
}

.overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
