.o_dragged {
    position: fixed !important;
    z-index: 1000 !important;

    // In FireFox: elements with `overflow: hidden` will prevent mouseenter and mouseleave
    // events from firing on elements underneath them. This is the case when dragging a card
    // by the `.o_kanban_record_headings` element. In such cases, the pointer events are
    // disabled to allow mouse events to fire properly.
    // https://bugzilla.mozilla.org/show_bug.cgi?id=1352061
    &,
    * {
        pointer-events: none;
    }
}
