@keyframes drag_initiated {
    0% {
        filter: none;
    }
    60% {
        filter: brightness(0.5) opacity(0.5);
    }
    100% {
        filter: none;
    }
}

.o_draggable {
    -webkit-touch-callout: none; // for iOS
}

.o_dragged {
    z-index: 1000;
    pointer-events: none;
}

.o_touch_drag_initiated {
    // animation to indicate the touch can start dragging the element
    animation: drag_initiated .5s forwards;
    user-select: none;
}
