.o_nested_sortable_placeholder {
    background-clip: content-box;
    background-color: deepskyblue;
    height: 5px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.o_nested_sortable_placeholder_realsize {
    outline: 1px dashed $o-gray-600;
    background-color: $o-gray-100;
}
