<?xml version="1.0" encoding="UTF-8" ?>
<!--
Copyright (C) 2016-Today: GRAP (http://www.grap.coop)
@author Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>
    <menuitem
        id="menu_barcode_rule"
        parent="base.next_id_5"
        action="barcodes.action_barcode_nomenclature_form"
        sequence="50"
    />
</odoo>
