.o-threads-side-panel{
    .o-thread-item{
        padding: 4px 8px;
        &.selected{
            padding: 3px 7px;
            background-color: #E6F2F3;
            border: 2px solid #017E84 !important;
        }
    }
}
