.o_kiosk_eating_location_box {
    @include o-so-landscape() {
        width: calc(49% - #{map-get($spacers, 3)});
    }

    @include o-so-portrait() {
        width: 80%;
    }

    &.o_kiosk_eating_location_away img {
        transform: translateX(-5%);
    }
}
