.custom-ecpay-invoice-font-family {
    font-family: "Times New Roman", Times, serif;
}
.custom-ecpay-invoice-width {
    width: 6.2cm;
}
.custom-ecpay-invoice-font-size {
    font-size: 14px;
}
.custom-ecpay-item-table-font-size {
    font-size: 12px;
}
.ecapy-barcode-size {
    width: 5cm;
    height: 0.8cm;
}
