.invoiceContainer {
    font-family: "Times New Roman", Times, serif;
}
.invoiceContainer .invoice_inner {
    width: 5.7cm;
    font-size: 14px;
    background-color: white;
    display: inline-block;
}
.invoiceContainer .invoice_inner .invoice {
    width: 5.7cm;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
}
.invoice h1 {
    font-size: 19px;
    line-height: 1.2;
    max-height: 68px;
    overflow: hidden;
    font-weight: bold;
    margin-top:15px;
}
.invoice h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    margin: 5px 0 4px;
}
.invoice h3 {
    font-size: 24px;
    margin: 0 0 2px 0;
    line-height: 1;
    font-weight: bold;
}
.img_barcode {
    display: block;
    margin: 3px auto 7px;
    width: 5cm;
    height: 0.8cm;
}
.img_lqrcode {
    margin-right: 11px;
}
.img_rqrcode {
    margin-left: 11px;
}
.invoiceContainer .invoice_inner .invoice_details {
    width: 5.7cm;
    border: 1px solid #ccc;
    border-top: none;
    padding: 5px;
    text-align: center;
    background-color: white;
}
.invoice_details h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0 10px 0;
}
.invoice_details .table {
    border: none;
    border-bottom: 1px dashed #333;
    margin-bottom: 5px;
}
.invoice_details .table tr td,
.invoice_details .table tr th {
    border: none;
    font-size: 12px;
    padding: 0;
    text-align: left;
    padding: 3px;
}
.invoice_details .table tr th {
    text-align: center;
}
.invoice_details h4 {
    text-align: left;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.invoice_details h5 {
    text-align: left;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}
.invoice_details .invoice_details_head {
    text-align: left;
    font-size: 13px;
}
