.o_purchase_dashboard {
    .purchase-dashboard-card {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .o_no_hover {
        pointer-events: none;
    }

    .o_priority_star {
        color: yellow;
    }
}
