[data-embedded="clipboard"] {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-bottom: 5px;
    background-color: $o-gray-100;
    outline: 1px solid $o-gray-300;
    outline-offset: -1px;
    .o_embedded_content {
        padding: 5px;
        margin: 0 5px;
        background-color: $o-view-background-color;
        p:last-child {
            margin-bottom: 0;
        }
    }
    .o_embedded_clipboard_label {
        font-family: $font-family-base !important;
        font-weight: $font-weight-bold;
        padding: $btn-padding-y-sm $btn-padding-x-sm;
        color: $o-gray-600;
    }
}
