.o-website_livechat-VisitorBanner-sidebar {
    flex: 0 0 $o-mail-Message-sidebarWidth;
    max-width: $o-mail-Message-sidebarWidth;
}

.o-website_livechat-VisitorBanner-avatar {
    height: $o-mail-Avatar-size;
    width: $o-mail-Avatar-size;
    object-fit: cover;
}
