.o-we-toolbar {
    height: 40px;
    padding: 0 2px;
    border-bottom: 1px solid lightgrey;
    

    .btn-group {
        padding: 0 2px;
        border-radius: 0;
     
        &:not(:first-child) {
            border-left: 1px solid lightgrey;
        }
    }
}
