/* Clean Colors */
/* +++++ NEW COLORS +++++ */
/* GRAYS --------------------------------------------------------- */
/* Backgrounds Colors ------------------------------------------------*/
/* ---- Default Color HTML Class ---- */
.bg-blue {
  background-color: #3498DB;
}
.bg-turquoise {
  background-color: #1ABC9C;
}
.bg-green {
  background-color: #2ECC71;
}
.bg-yellow {
  background-color: #F1C40F;
}
.bg-orange {
  background-color: #E67E22;
}
.bg-red {
  background-color: #E74C3C;
}
.bg-pink {
  background-color: #f74b94;
}
.bg-purple {
  background-color: #9B59B6;
}
.bg-brown {
  background-color: #7b5844;
}
.text-blue {
  color: #3498DB;
}
.text-turquoise {
  color: #1ABC9C;
}
.text-green {
  color: #2ECC71;
}
.text-yellow {
  color: #F1C40F;
}
.text-orange {
  color: #E67E22;
}
.text-red {
  color: #E74C3C;
}
.text-pink {
  color: #f74b94;
}
.text-purple {
  color: #9B59B6;
}
.text-brown {
  color: #7b5844;
}
