
.editor_enable .s_embed_code {
    min-height: $o-font-size-base;
}

.s_embed_code .s_embed_code_embedded .bg-light.o_default_snippet_text {
    background-color: lightcyan !important;
    color: black;
}

.s_embed_code_embedded {
    display: flex;
    flex-direction: column;
    width: 100%;
    .s_embed_code.text-center & {
        align-items: center;
        text-align: center;
    }
    .s_embed_code.text-start & {
        align-items: flex-start;
        text-align: start;
    }
    .s_embed_code.text-end & {
        align-items: flex-end;
        text-align: end;
    }
    > * {
        max-width: 100%;
    }
}
