<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>OpenERP - Beautiful Business Applications</title>
        <script src='https://www.openerp.com/saas_master/static/site_new/js/lib/html5shiv.js'></script>
        <script src="https://www.openerp.com/web/static/lib/jquery/jquery-1.8.3.js"></script>
        <script src="//cdn.optimizely.com/js/238505250.js"></script>
        <link href='https://www.openerp.com/saas_master/static/site_new/fonts/lato/stylesheet.css' rel='stylesheet' type='text/css'></link>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://www.openerp.com/saas_master/static/site_new/css/normalize.css">
        <link rel="stylesheet" href="https://www.openerp.com/saas_master/static/site_new/css/common.css">
        <link rel="stylesheet" href="https://www.openerp.com/saas_master/static/site_new/css/website.css">
        <link rel="stylesheet" href="https://www.openerp.com/saas_master/static/site_new/css/font-awesome.css">
        <script src="https://www.openerp.com/web/static/lib/underscore/underscore.js"></script>
        <script src="https://www.openerp.com/web/static/lib/underscore/underscore.string.js"></script>
        <script src='https://www.openerp.com/saas_master/static/site_new/js/website.js'></script>
        <!--editable-->
    </head>
    <body class="oe_styling_v8">
        <div class='oe_website_contents'>
    <header class='oe_website_header'>
        <div class='oe_row oe_fit'>
            <div class='oe_span3 oe_logo_menu'>
                <a href='https://www.openerp.com/' class='ab_menu_logo'>
                    <img class='oe_logo_img' alt='OpenERP: Open Source Business Apps' src='https://www.openerp.com/saas_master/static/site_new/img/logo_oe_top_old_and_small.png'>
                </a>
            </div>
            <ul class='oe_span9 oe_right oe_top_menu' id='top-menu'> <li class='oe_top_menu_entry'><a class='ab_menu_apps' href='https://www.openerp.com/apps'>Applications</a></li>
                <li class='oe_top_menu_entry'><a class='ab_menu_partners' href='https://www.openerp.com/partners/directory'>Partners</a></li>
                <li class='oe_top_menu_entry'><a class='ab_menu_training' href="https://www.openerp.com/events#view=training">Training</a></li>
                <li class='oe_top_menu_entry'><a class='ab_menu_freetrial' href='https://www.openerp.com/start'>Free Trial</a></li>
                <li class='oe_top_menu_entry'><a class='ab_menu_download' href='https://www.openerp.com/start?download'>Download</a></li>
                <li class='oe_top_menu_entry'><a class='ab_menu_contact' href='https://www.openerp.com/contact'>Contact Us</a></li>
                <li class='oe_top_menu_entry oe_sign_in '><a class='ab_menu_signin' href='https://accounts.openerp.com'>Sign In</a></li>
            </ul>
        </div>
    </header>
    
<section class='oe_hero oe_home_hero oe_container'>
    <div class='oe_slider'>
        <div class='oe_slide oe_home_slide'>
            <div class='oe_row'>
                <div class='oe_slide_title oe_title_font'><span class='oe_open'>Open</span><span class='oe_erp'>ERP</span><span class='oe_version'>7.0</span></div>
                <div class='oe_slide_subtitle'>
                    Beautiful Business Applications<br />
                    Powerful, Integrated, Open Source<br />
                    <a  href='https://www.openerp.com/start' class='oe_button oe_medium oe_tacky ab_banner_freetrial'>Start your <span class='oe_emph'>free</span> trial <i class='icon-arrow-right'></i></a>
                </div>
            </div>
        </div>
        <div class='oe_slide oe_invisible oe_opendays_slide'>
            <div class='oe_row'>
                <div class='oe_titlebox'>
                    <div class='oe_title oe_title_font'>OpenDays</div>
                    <div class='oe_subtitle'>The Open Source event of the year</br>July 1-5, 2013</br><a class='oe_button ab_banner_events' href='http://opendays.openerp.com'>Agenda &amp; Registration</a></div>
                </div>
            </div>
        </div>
    </div>
    <span class='oe_slider_arrow oe_left'><i class='icon-chevron-left'></i></span>
    <span class='oe_slider_arrow oe_right'><i class='icon-chevron-right'></i></span>
</section>

<article class='oe_page'>

    <section class='oe_container'>
        <!--placeholder_container-->
    </section>
        
        <footer class="oe_website_footer">
            <article class="oe_row">
                <section class="oe_span3">
                    <h1>About Us</h1>
                    <ul id='footer-about'>
                        <li><a href="https://www.openerp.com/events">Events</a></li>
                        <li><a href="https://www.openerp.com/news">News</a></li>
                        <li><a href="https://www.openerp.com/jobs">Jobs</a></li>
                        <li><a href="https://www.openerp.com/contact">Contact</a></li>
                        <li><a href="https://www.openerp.com/references/directory/">References</a></li>
                        <li class="oe_mt16"><a href="http://twitter.com/openerp"><i class="icon-twitter-sign"></i>Twitter</a></li>
                        <li><a href="http://www.facebook.com/OpenERP"><i class="icon-facebook-sign"></i>Facebook</a></li>
                        <li><a href="https://plus.google.com/+openerp/posts"><i class="icon-google-plus-sign"></i>Google+</a></li>
                    </ul>
                </section>
                <section class="oe_span3">
                    <h1>Developers</h1>
                    <ul id='footer-devs'>
                        <li><a href="https://www.openerp.com/start?download">Download</a></li>
                        <li><a href="https://launchpad.net/openobject">Launchpad</a></li>
                        <li><a href="http://runbot.openerp.com">Automated Tests</a></li>
                        <li class="oe_mt16"><a href="https://bugs.launchpad.net/openobject-addons">Report a Bug</a></li>
                        <li><a href="http://doc.openerp.com/v6.1/contribute/07_improving_translations.html">Help Translate</a></li>
                    </ul>
                </section>
                <section class="oe_span3">
                    <h1>Services</h1>
                    <ul id='footer-services'>
                        <li><a href="https://www.openerp.com/pricing">Pricing</a></li>
                        <li class="oe_mt16"><a href="https://www.openerp.com/partners/directory">Find a Partner</a></li>
                        <li><a href="https://www.openerp.com/partners">Become a Partner</a></li>
                        <li class="oe_mt16"><a href="https://www.openerp.com/events#view=training">Training</a></li>
                    </ul>
                </section>
                <section class="oe_span3">
                    <h1>Documentation</h1>
                    <ul id='footer-doc'>
                        <li><a href="http://help.openerp.com">Get Help</a></li>
                        <li><a href="https://doc.openerp.com/">Documentation</a></li>
                        <li class="oe_mt16"><a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dstripbooks&field-keywords=Openerp&rh=n%3A283155%2Ck%3AOpenerp">Paper Books</a></li>
                        <li><a href="https://www.openerp.com/ebooks">Free E-Books</a></li>
                        <li><a href="http://doc.openerp.com/memento/OpenERP_Technical_Memento_latest.pdf">Developer Memento</a></li>
                        <li><a href="http://www.slideshare.net/openobject/presentations">Presentations</a></li>
                    </ul>
                </section>
            </article>
            <article class="oe_row">
                <div class="oe_span12">
                    <h1>Offices</h1>
                </div>
                <section class="oe_span6 oe_fit">
                    <h2 class="fn org oe_span6">Europe/Africa</h2>
                    <div class="oe_clearfix">
                        <div class='oe_span3'>
                            <ul class="vcard">
                                <li class="oe_small adr">
                                    <p><strong>Sales Office</strong></p>
                                    <span class="street-address">Avenue Edmond Van Nieuwenhuyse, 5 (Serenitas building)</span> 
                                    <span class="postcode">1160</span> 
                                    <span class="locality">Brussels</span>, 
                                    <span class="country-name">Belgium</span>
                                </li>
                                <li class="tel"><a href="tel:+32 2 290 34 90"><i class="icon-phone"></i>+32 2 290 34 90</a></li>
                            </ul>
                        </div>
                        <div class='oe_span3'>
                            <ul class="vcard oe_span3">
                                <li class="oe_small adr">
                                    <p><strong>Services & R&D</strong></p>
                                    <span class="street-address">Chaussée de Namur, 40</span>
                                    <span class="postcode">1367</span>
                                    <span class="locality">Grand-Rosière</span>, 
                                    <span class="country-name">Belgium</span>
                                </li>
                                <li class="tel"><a href="tel:+32 81 81 37 00"><i class="icon-phone"></i>+32 81 81 37 00</a></li>
                                <li class="fax"><a href="fax:+32 81 73 35 01"><i class="icon-fax"></i>+32 81 73 35 01 (fax)</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="oe_span3 vcard">
                    <h2 class="fn org">Americas</h2>
                    <ul>
                        <li class="oe_small adr">
                            <p><strong>Sales, Services</strong></p>
                            <span class="street-address">260 Main Street</span>, 
                            <span class="post-office-box">Suite 203</span>
                            <span class="locality">Redwood City</span>,
                            <span class="region">CA</span>
                            <span class="postal-code">94063</span>,
                            <span class="country-name">United States</span>
                        </li>
                        <li class="tel"><a href="tel:+1(650)307-6736"><i class="icon-phone"></i>+1(650)307-6736</a></li>
                    </ul>
                </section>
                <section class="oe_span3 vcard">
                    <h2 class="fn org">Asia Pacific</h2>
                    <ul>
                        <li class="oe_small adr">
                            <p><strong>Sales, Services, R&D</strong></p>
                            <span class="street-address">16 / 17, IT Tower 1 Infocity Gate - 1</span>
                            <span class="locality">Gandhinagar</span> - 
                            <span class="postal-code">382007</span>, 
                            <span class="region">Gujarat</span>
                            <span class="country-name">India</span>
                        </li>
                        <li class="tel"><i class="icon-phone"></i><a href="tel:+91(79)40 500 100">+91(79)40 500 100</a></li>
                    </ul>
                </section>
            </article> 
        </footer>
    </body>
</html>
