.o_kiosk-order-cart {
    .o_kiosk_product_card {
        height: 100%
    }
    .order-lines {
        height: 150px;
    }
    .o_self_order_item_card_image {
        object-fit: contain;
        aspect-ratio:1/1;
        min-width: 128px;
    }

    .product-wrapper {
        min-height: 128px;
    }
}


.upsale-product .o_kiosk_product_card {
    height: auto;
}

.upsale-product .o_self_order_item_card_image  {
    height: 320px;
}

@media (max-height: 1280px) {
    .upsale-product .o_self_order_item_card_image  {
        height: 120px;
    }
}

@media (max-height: 1024px) {
    .upsale-product .o_self_order_item_card_image  {
        height: 60px;
    }
}
