.o_field_priority .o_priority {
    gap: 0.5em;
    > .o_priority_star {
        font-size: 1.25em !important;
        &.fa-star-o {
            color: $o-main-color-muted;
        }
        &.fa-star {
            color: $o-main-favorite-color;
        }
    }
}
