.o_overlay_options {

    > * {
        // @extend %we-generic-button;
        margin: 0 1px 0;
        min-width: 22px;
        padding: 0 $o-we-sidebar-content-field-button-group-button-spacing * .5;
        color: $o-we-fg-lighter;

        // TODO hardcoded
        height: 22px;
        font-size: 16px;
    }

    > .o_send_back {
        width: 30px;
        height: 22px;
        background-image: url('/web_editor/static/src/img/snippets_options/bring-backward.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    > .o_bring_front {
        width: 30px;
        height: 22px;
        background-image: url('/web_editor/static/src/img/snippets_options/bring-forward.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
}
