.o_nocontent_help:has(.oe_view_nocontent_attendance) {
    max-width: none !important;
    margin: 0% !important;
    padding: 0% !important;
}

.o_view_nocontent:has(.oe_view_nocontent_attendance_mobile) {
    position: sticky !important;
}

.o_nocontent_help:has(.oe_view_nocontent_attendance_mobile) {
    position: relative;
}

.o_workplace_map_container {
    width: 100%;
    height: 600px;
    padding:10px 10px;
}

#workplace_map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.leaflet-control-geocoder-form input {
    color: #000 !important;
    background-color: #fff !important;
    caret-color: #000 !important;
}
