@charset "utf-8"
@import "compass/css3"

.css_website_mail
    .has-error
        border-color: red
    .css_nav_month
        display: none
        &:first-of-type
            display: block

.read_width
    max-width: 700px
    margin-left: auto
    margin-right: auto

.blog_content
    min-height: 350px !important
    a.oe_mail_expand:after
        content: " →"
    a.oe_mail_expand
        font-weight: bold

p.post-meta
    position: relative
    top: -5px

div#blog_angle_down
    a:hover
        text-decoration: none

.cover
    color: white
    position: relative
    .blog_title
        position: absolute

.blog_title
    text-align: center
    top: 20%
    margin-right: auto
    margin-left: auto
    left: 0
    right: 0
    h1
        font-weight: bold

.cover_full
    height: 100vh

.cover_midscreen
    height: 50vh

.cover_narrow
    height: 100vh

.cover_mid_narrow
    height: 50vh
    overflow: hidden

.cover_footer_bg
    min-height: 350px
    height: 65vh

/* mobile preview: for blog h1,h2 font-size and cover-footer height of image overlapas */
@media (max-width: 768px)
    .blog_title
        h1
            font-size: 26px

    .blog_title
        h2
            font-size: 20px

    .cover_narrow
        height: 65vh

    #title
        .blog_title
            top: 10%

    .cover_footer
        min-height: 280px
        height: 50vh

    .cover_footer
        .blog_title
            top: 2%

mark + .popover, .cover_footer
    cursor: pointer

.blog_publish_btn
    padding-top: 16px

.cover_footer_bg[style*="background-image: none;"]
    background-color: #B8B8B8

#js_blogcover
    background-blend-mode: multiply
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 100%

.o_blog_post_title
  font-size: 24px

.o_blog_post_teaser
  width: 89%
  text-align: justify
