@charset "UTF-8";
.css_website_mail .has-error {
  border-color: red;
}
.css_website_mail .css_nav_month {
  display: none;
}
.css_website_mail .css_nav_month:first-of-type {
  display: block;
}

.blog_content a.oe_mail_expand:after {
  content: " →";
}
.blog_content a.oe_mail_expand {
  font-weight: bold;
}

p.post-meta {
  position: relative;
  top: -5px;
}

.blog_cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 400px;
  height: 100vh;
  color: white;
  padding-top: 30vh;
}

.cover_footer {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 200px;
  height: 50vh;
  color: white;
  padding-top: 5vh;
  cursor: pointer;
}
