$o-hr-holidays-border-color: map-get($grays, '300');

.o_hr_holidays_hierarchy {
    margin-left: -$o-horizontal-padding;
    margin-right: -$o-horizontal-padding;
    @include media-breakpoint-up(lg, $o-extra-grid-breakpoints) {
        margin-left: -$o-horizontal-padding*2;
        margin-right: -$o-horizontal-padding*2;
    }
    margin-bottom:-24px;
    background-color: rgba(128, 128, 128, 0.15);
    .o_hr_holidays_title {
        padding-left: 86px;
    }

    .o_hr_holidays_plan_level_container {
        counter-reset: o-hr-holidays-accrual-plan-level-counter;

        .o-kanban-button-new {
            padding: map-get($spacers, 1) map-get($spacers, 3);
            margin: 0 0 0 $spacer * 3.5;
            border-radius: map-get($rounded-sizes, pill);
        }

        .o_kanban_renderer.o_kanban_ungrouped .o_kanban_record {
            counter-increment: o-hr-holidays-accrual-plan-level-counter;
            display: flex;
            flex: 0 0 100%;
            border: 0px;
            padding: 0 0 0 100px;
            margin: 0;
            background-color: transparent;

            // Timeline Border
            &:before {
                content: '';
                display: block;
                @include o-position-absolute;
                height: 100%;
                margin-left: $spacer * 2/3;
                border-left: 1px dashed darken($o-hr-holidays-border-color, 10%);
            }

            .o_hr_holidays_plan_level_level::before {
                content: counter(o-hr-holidays-accrual-plan-level-counter);
            }

            // Whole record
            .o_hr_holidays_body {

                // Left side 'Level'
                .o_hr_holidays_timeline {
                    width: 90px;
                }

                // Actual kanban card
                .o_hr_holidays_card {
                    width: 500px;

                    // Triangle
                    &:before {
                        content: '';
                        @include o-position-absolute($top: map-get($spacers, 4), $left: map-get($spacers, 4) * -1);
                        width: map-get($spacers, 3);
                        height: map-get($spacers, 3);
                        margin-left: map-get($spacers, 3);
                        border-bottom: 1px solid $o-hr-holidays-border-color;
                        background-color: $o-btn-secondary-bg;
                        transform: rotate(45deg);
                    }

                    // Circle
                    &:after {
                        content: '';
                        @include o-position-absolute($top: map-get($spacers, 4), $left: map-get($spacers, 5) * -1);
                        width: map-get($spacers, 3);
                        height: map-get($spacers, 3);
                        border: 2px solid $o-brand-primary;
                        border-radius: 10px;
                        background: $o-btn-secondary-bg;
                    }
                }
            }
        }
    }
}
