.o_timeoff_calendar .o_content {
    .fc-dayGridYear-view {
        .fc-bgevent {
            border-radius: 25px;
        }
        > .fc-month-container {
            > .fc-month {
                .fc-dayGridMonth-view {
                    .fc-has-event {
                        background-color: unset;
                    }
                }
                .fc-content-skeleton {
                    padding: 0;

                    tbody {
                        display: none;
                    }
                }
            }
        }
    }

    .o_calendar_filter {
        > h5 {
            font-weight: bold;
        }
    }
    .fc-week-number {
        color: #adb5bd;
    }

    .o_legacy_calendar_view .o_calendar_widget .fc-dayGridMonth-view {
        .fc-week-number {
            padding-top: 0.2rem !important;
            padding-bottom: 0.3rem !important;
            padding-left: 0.3rem !important;
            line-height: unset;
            span {
                font-size: 0.85rem;
            }
        }
        .fc-week-number.fc-widget-header {
            font-size: 0.85rem;
        }
    }

    @for $size from 1 through length($o-colors) {
        .hr_stress_day_#{$size - 1} {
            background-color: lighten(nth($o-colors, $size), 25%) !important;
        }
    }
}

.o_timeoff_calendar .o_cp_bottom {
    @include media-breakpoint-down(md) {
        position: relative;
        flex-direction: column;
        margin-left: -16px;
        .o_cp_bottom_right {
            position: absolute;
            column-gap: 0;
            top: 0;
            right: 0;
        }
        .o_cp_bottom_left {
            flex: 1;
            width: auto;
            .o_cp_buttons {
                max-width: 100%;
            }
            .o_calendar_scale_buttons {
                display: block;
                max-width: 100vw;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .o_cp_bottom_left {
            button {
                padding: 7px 6px;
            }
        }
    }
    .o_cp_bottom_left {
        flex: 1;
        width: auto;
    }
    .o_cp_bottom_right {
        flex: none;
        width: auto;
    }
}

.o_timeoff_dashboard_popover {
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0px;
    }
}

.o_hr_leave_form {
    .o_form_sheet {
        padding: 0!important;
        overflow: hidden;
        .ribbon-top-right {
            top: 16px;
            right: -8px;
        }
    }
    .o_hr_leave_content {
        margin: 0;
        .o_group {
            margin: 0;
        }
        .o_hr_leave_title, .o_hr_leave_subtitle {
            line-height: 1.2;
            font-weight: 500;
            margin-bottom: 8px;
            * {
                margin-bottom: 0;
            }
        }
        .o_hr_leave_title {
            font-size: 1.8rem;
        }
        .o_hr_leave_subtitle {
            font-size: 1.2rem;
        }
        .o_hr_leave_column {
            padding: 16px;
        }
        .col_right {
            background-color: map-get($grays, '200');
            padding-top: 28px;
        }
        .o_hr_leave_date {
            display: flex;
            flex-direction: row;
            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
            @include media-breakpoint-down(md) {
                flex-direction: row;
            }
        }
        .o_leave_stats {
            margin-bottom: 16px;
        }
    }
}
