[data-embedded="view"] {
    position: relative;
    background-color: $o-webclient-background-color;
    // makes the EV take the full width
    margin-left: calc(-1 * var(--editor-gutter-size));
    margin-right: calc(-1 * var(--editor-gutter-size) - 2rem);

    .o_content {
        max-height: 80vh;
    }

    .o_view_nocontent_empty_folder:before {
        @extend %o-nocontent-empty-document;
    }

    // View adjustments:

    .o_pivot_add_spreadsheet,
    .o_graph_insert_spreadsheet {
        display: none;
    }
    .o_list_renderer {
        margin-bottom: 0 !important;
        &:has(.o_view_nocontent) {
            min-height: 300px;
        }
        thead {
            position: relative;
            z-index: auto;
        }
    }
    .o_kanban_renderer {
        min-height: 6rem;
        &.o_kanban_grouped {
            min-height: 250px;
            .o_kanban_group {
                background: #{$o-kanban-background};
            }
        }
        &:has(.o_view_nocontent) {
            min-height: 350px;
        }
    }
    .o_kanban_view {
        .o_project_updates_breadcrumb {
            display: none !important;
        }
        .o_field_properties {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    .o_graph_renderer {
        .o_graph_canvas_container {
            min-height: clamp(300px, 50vh, 800px);
        }
    }
    .o-map-renderer {
        .o-map-renderer--container,
        .o-map-renderer--pin-list-container {
            height: auto;
        }
        .o-map-renderer--container {
            min-height: clamp(300px, 50vh, 800px);
        }
        .leaflet-map-pane {
            @include o-position-absolute(0, 0, 0, 0);
        }
    }
    .o_calendar_renderer {
        height: auto !important;
        max-height: clamp(300px, 60vh, 800px);
        .o_calendar_widget {
            height: auto !important;
            min-height: clamp(300px, 60vh, 800px);
            // Calendar Renderer's height calculation doesn't work properly on embedded Year views
            background-color: $o-view-background-color;
        }
    }
    .o_calendar_container {
        .o_calendar_sidebar_container {
            max-height: clamp(300px, 60vh, 800px);
        }
    }
    .o_calendar_filter .ui-menu-item a {
        color: $o-gray-700 !important;
    }
}

// style to apply when the article is not if full view
.o_knowledge_article_view_form_dynamic_width ~ .o_knowledge_editor [data-embedded="view"] {
    margin-left: 0;
    margin-right: 0;
}
