/* ---- Background Color ---- */

.bg_color_blue {
  background: #4E8FB4;
}
.bg_color_yellow {
  background: #E4C337;
}
.bg_color_pink {
  background: #ea3e9d;
}
.bg_color_red {
  background: #cb0f0e;
}
.bg_color_green {
  background: #64b725;
}
.bg_color_orange {
  background: #ff6a00;
}
.bg_color_purple {
  background: #6c1eb3;
}
.bg_color_brown {
  background: #7C4B30;
}
.bg_color_dark {
  background: #565656;
}
.bg_color_gray {
  background: #e9e9e9;
}
.bg_color_blue_light {
  background: #A2C9E0;
}
.bg_color_yellow_light {
  background: #fff9b9;
}
.bg_color_pink_light {
  background: #F391C7;
}
.bg_color_red_light {
  background: #F35C5B;
}
.bg_color_green_light {
  background: #AAF06A;
}
.bg_color_orange_light {
  background: #FFA86B;
}
.bg_color_purple_light {
  background: #9F7CE8;
}
.bg_color_brown_light {
  background: #AD988B;
}
.bg_color_dark_light {
  background: #939393;
}
.bg_color_gray_light {
  background: #f7f7f7;
}
.bg_color_blue_dark {
  background: #0d3951;
}
.bg_color_yellow_dark {
  background: #68550d;
}
.bg_color_pink_dark {
  background: #650a37;
}
.bg_color_red_dark {
  background: #590f0f;
}
.bg_color_green_dark {
  background: #2d401e;
}
.bg_color_orange_dark {
  background: #913000;
}
.bg_color_purple_dark {
  background: #401f5e;
}
.bg_color_brown_dark {
  background: #432b1e;
}
.bg_color_dark_dark {
  background: #000;
}
.bg_color_gray_dark {
  background: #C8C8C8;
}

/* ---- Front Color ---- */

.txt_color_blue {
  color: #4E8FB4;
}
.txt_color_yellow {
  color: #E4C337;
}
.txt_color_pink {
  color: #ea3e9d;
}
.txt_color_red {
  color: #cb0f0e;
}
.txt_color_green {
  color: #64b725;
}
.txt_color_orange {
  color: #ff6a00;
}
.txt_color_purple {
  color: #6c1eb3;
}
.txt_color_brown {
  color: #7C4B30;
}
.txt_color_dark {
  color: #565656;
}
.txt_color_gray {
  color: #e9e9e9;
}
.txt_color_blue_light {
  color: #A2C9E0;
}
.txt_color_yellow_light {
  color: #fff9b9;
}
.txt_color_pink_light {
  color: #F391C7;
}
.txt_color_red_light {
  color: #F35C5B;
}
.txt_color_green_light {
  color: #AAF06A;
}
.txt_color_orange_light {
  color: #FFA86B;
}
.txt_color_purple_light {
  color: #9F7CE8;
}
.txt_color_brown_light {
  color: #AD988B;
}
.txt_color_dark_light {
  color: #939393;
}
.txt_color_gray_light {
  color: #f7f7f7;
}
.txt_color_blue_dark {
  color: #0d3951;
}
.txt_color_yellow_dark {
  color: #68550d;
}
.txt_color_pink_dark {
  color: #650a37;
}
.txt_color_red_dark {
  color: #590f0f;
}
.txt_color_green_dark {
  color: #2d401e;
}
.txt_color_orange_dark {
  color: #913000;
}
.txt_color_purple_dark {
  color: #401f5e;
}
.txt_color_brown_dark {
  color: #432b1e;
}
.txt_color_dark_dark {
  color: #000;
}
.txt_color_gray_dark {
  color: #C8C8C8;
}
