@charset "utf-8";
/* ---- Common---- {{{ */
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  min-height: 24px;
}

/* ---- MOBILE PREVIEW ---- {{{ */
.oe_mobile_preview.modal .modal-content {
  height: 660px;
  background-color: #000000;
  border: 2px solid #1C1F1F;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 330px;
}
.oe_mobile_preview.modal .modal-content .modal-header {
  background-color: #000000;
  border-bottom: 0;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
.oe_mobile_preview.modal .modal-content .modal-header .modal-title {
  color: #1C1F1F;
}
.oe_mobile_preview.modal .modal-content .modal-header .close {
  color: lightgrey;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.oe_mobile_preview.modal .modal-content .modal-header .close:hover {
  color: #E00101;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.oe_mobile_preview.modal .modal-content .modal-body {
  background-color: #000000;
  max-height: 600px;
  padding: 0;
  margin: 0;
}
.oe_mobile_preview.modal .modal-content .modal-body .oe_mobile_viewport {
  width: 320px;
  height: 568px;
  padding: 5px;
  border: none;
}
.oe_mobile_preview.modal .modal-content .modal-footer {
  background-color: #000000;
}

/* ---- SEO TOOLS ---- {{{ */
.oe_seo_configuration .modal-dialog {
  width: 80%;
}
.oe_seo_configuration .oe_remove {
  color: #E00101;
}
.oe_seo_configuration .oe_seo_suggestion {
  cursor: pointer;
}
.oe_seo_configuration .oe_seo_keyword {
  padding: 0.2em 0.4em 0.2em 0.5em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
}
.oe_seo_configuration li.oe_seo_preview_g {
  line-height: 1.2;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  font-size: small;
  font-family: arial, sans-serif;
}
.oe_seo_configuration li.oe_seo_preview_g h3 {
  font-size: medium;
}
.oe_seo_configuration li.oe_seo_preview_g .r {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
}
.oe_seo_configuration li.oe_seo_preview_g .r a {
  color: #1e0fbe;
  text-decoration: underline;
  text-transform: none;
}
.oe_seo_configuration li.oe_seo_preview_g .r a em {
  font-style: normal !important;
}
.oe_seo_configuration li.oe_seo_preview_g .s {
  color: #444;
  max-width: 42em;
}
.oe_seo_configuration li.oe_seo_preview_g .kv, .oe_seo_configuration li.oe_seo_preview_g .slp {
  display: block;
  margin-bottom: 1px;
}
.oe_seo_configuration li.oe_seo_preview_g .f {
  color: #666;
  margin-bottom: 1px;
}
.oe_seo_configuration li.oe_seo_preview_g .f cite {
  color: #006621;
  font-style: normal;
  font-size: 14px;
}
.oe_seo_configuration li.oe_seo_preview_g .st {
  line-height: 1.24;
}

/* ---- ACE EDITOR ---- {{{ */
.oe_ace_view_editor {
  position: fixed;
  right: 0;
  z-index: 1001;
  height: 100%;
  background: #2F3129;
  color: white;
}
.oe_ace_view_editor .oe_ace_view_editor_title {
  width: 100%;
  padding-top: 0;
  padding-left: 0;
  height: 30px;
}
.oe_ace_view_editor .oe_ace_view_editor_title .oe_view_list {
  width: 50%;
  height: 30px;
  font-size: 14px;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  line-height: normal;
}
.oe_ace_view_editor .oe_ace_view_editor_title .btn {
  height: 30px;
  padding: 0 4px 0 4px;
  font-size: 14px;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  line-height: normal;
}
.oe_ace_view_editor .ace_editor {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
}
.oe_ace_view_editor .ace_editor .ace_gutter {
  cursor: ew-resize;
}
.oe_ace_view_editor #ace-view-id {
  padding: 0 1em;
}
.oe_ace_view_editor.oe_ace_open {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  opacity: 0.97;
}
.oe_ace_view_editor.oe_ace_closed {
  z-index: -1000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.oe_include_bundles {
  font-weight: normal;
  padding: 0 8px;
}

/* ---- CUSTOMIZE THEME ---- {{{ */
#theme_error {
  background: #ffc;
}

#theme_customize_modal {
  overflow: auto;
  z-index: 1020;
  background: transparent;
  display: block;
}
#theme_customize_modal .modal-dialog {
  top: 75px;
  width: auto;
  margin: 0;
  position: absolute;
  right: 10px;
  font-family: "Lato-Regular";
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: normal;
}
#theme_customize_modal .modal-h5 {
  color: #ffffff;
  font-family: "Lato-Regular";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  font-size: 14px;
  color: white;
  padding: 4px 0 4px 4px;
  background-color: #bdc3c7;
}
#theme_customize_modal table {
  width: 100%;
  margin-bottom: 8px;
}
#theme_customize_modal label {
  display: block;
  text-align: center;
}
#theme_customize_modal label > div, #theme_customize_modal label > img {
  border: 1px solid #fff;
  line-height: 30px;
  font-size: 0.9em;
  margin: 2px 4px;
}
#theme_customize_modal label.checked > div, #theme_customize_modal label.checked > img {
  box-shadow: 2px 2px 3px #888;
  border: 1px solid #666;
}
#theme_customize_modal label img {
  width: 60px;
  height: 35px;
  margin: 2px;
  border: 1px solid rgba(136, 136, 136, 0.5);
}
#theme_customize_modal label input {
  display: none;
}
#theme_customize_modal .loading_backdrop {
  display: none;
}
#theme_customize_modal.loading .loading_backdrop {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
}
