.pos-scenario-card {
    &:hover {
        background: var(--ScenarioCard-background-hover, #{$o-gray-200});
    }

    &:focus-visible {
        box-shadow: 0 0 0 #{$btn-focus-width} RGBA(#{$btn-link-focus-shadow-rgb}, .5);
        outline: none;
    }

    &:active {
        background: #{mix($o-action, $o-gray-100, 15%)};
        border: $border-width solid #{$o-action};
    }
}

.pos-scenario-card.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color:  $o-brand-secondary;

    img {
        opacity: 0.5;
    }
}
