// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_CallInviteRequestPopup_partnerInfo {
    width: 130px;
}

.o_CallInviteRequestPopup_partnerInfoImage {
    width: 70%;
    height: 70%;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_CallInviteRequestPopup_buttonListButton {
    user-select: none;
}

.o_CallInviteRequestPopup_partnerInfoImage {
    border: 3px solid gray;
}
