#spreadsheet-mount-anchor {
  background-color: #DDDDDD;
  flex-grow : 1;
}
.o-spreadsheet {
  font-size: 12px;
  height: 100%;

  .o-topbar-toolbar .o-readonly-toolbar.text-muted {
      color: $info !important;
  }
}
