.oe_website_sale {
    .td-wish-btn {
        width: 140px;
    }
}

// XS size
@media (max-width: @screen-xs-max) {
    .oe_website_sale {
        .td-wish-btn {
            width: 100px;
        }
    }
}

.s_catalog {
    .add_to_wishlist {
        display: none;
    }
    &.products_add_to_wishlist {
        .add_to_wishlist {
            display: inline-block;
        }
    }
}
