.o-discuss-NotificationSettings {

    .o-mail-NotificationSettings-submenu {
        max-width: 250px !important;
    }
    .o-discuss-NotificationSettings-separator {
        min-width: 20px;
    }

    button:hover {
        background-color: var(--mail-NotificationSettings-btnHoverBg, $gray-200);
    }
}

.o-discuss-NotificationSettings-defaultValue {
    color: $o-action;
}
