cryptocode==0.1
cryptography==36.0.2
evdev==1.6.0; sys_platform == "linux"
freezegun==1.2.1
gatt
ghostscript==0.7; sys_platform == "win32"
netifaces==0.11.0; sys_platform == "win32"
num2words==0.5.13
polib
pycups; sys_platform == "linux"
PyKCS11==1.5.16
PyPDF2==1.26.0
pyOpenssl==22.0.0
pysmb==1.2.9.1
pyusb; sys_platform == "linux"
RPi.GPIO; sys_platform == "linux"
rjsmin==1.1.0
schedule==1.2.1
screeninfo==0.8.1
urllib3==1.26.5
v4l2; sys_platform == "linux"
vcgencmd; sys_platform == "linux"
websocket-client==1.6.3
Werkzeug==2.0.2
zeep==4.2.1
