cryptocode==0.1
cryptography==36.0.2
evdev==1.6.0; "rpi" in platform_release
freezegun==1.2.1
gatt
ghostscript==0.7; sys_platform == "win32"
netifaces==0.11.0; sys_platform == "win32" or "rpi" not in platform_release
pycups; "rpi" in platform_release
PyKCS11==1.5.16
PyPDF2==1.26.0
pyOpenssl==22.0.0
pysmb==1.2.9.1
pyusb; "rpi" in platform_release
RPi.GPIO; "rpi" in platform_release
rjsmin==1.1.0
schedule==1.2.1
screeninfo==0.8.1
urllib3==1.26.5
v4l2; "rpi" in platform_release
vcgencmd; "rpi" in platform_release
websocket-client==1.6.3
Werkzeug==2.0.2
zeep==4.2.1
