{% extends "layout.html" %}
{% block head %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table tr {
        border-bottom: 1px solid #f1f1f1;
    }
    table tr:last-child {
        border-width: 0px;
    }
    table td {
        padding: 8px;
        border-left: 1px solid #f1f1f1;
    }
    table td:first-child {
        border-left: 0;
    }
    td.heading {
        font-weight: bold;
    }
    .device-status {
        margin-bottom: 6px;
    }
    .device-status .message {
        font-size: 0.8rem;
    }
    .device-status .indicator {
        margin-left: 4px;
        font-size: 0.7rem;
        text-transform: uppercase;
    }
    .device-status .device {
        font-weight: 500;
    }
</style>
{% endblock %}
{% block content %}
    <h2 class="text-center text-green">Your IoTBox is up and running</h2>
    <table align="center" cellpadding="3">
        <tr>
            <td class="heading">Name</td>
            <td> {{ hostname }} <a class="btn btn-sm float-right" href='/server'>configure</a></td>
        </tr>
        <tr>
            <td class="heading">Version</td>
            <td>V18.10 <a class="btn btn-sm float-right" href='/hw_proxy/upgrade/'>update</a></td>
        </tr>
        <tr>
            <td class="heading">IP Address</td>
            <td>{{ ip }}</a></td>
        </tr>
        <tr>
            <td class="heading">Mac Address</td>
            <td> {{ mac }}</td>
        </tr>
        <tr>
            <td class="heading">Network</td>
            <td>{{ network_status }} <a class="btn btn-sm float-right" href='/wifi'>configure wifi</a></td>
        </tr>
        <tr>
            <td class="heading">Server</td>
            <td><a href='{{ server_status }}' target=_blank>{{ server_status }}<a class="btn btn-sm float-right" href='/server'>configure</a></td>
        </tr>
        <tr>
            <td class="heading">IOT Device</td>
            <td>
                {% if iot_device_status|length == 0 %}
                    No Device Found
                {% else %}
                    {% for device in iot_device_status %}
                        <div class="device-status">
                            <span class="device">{{ device['type'] }}</span>
                            <span class="device">{{ device['name'] }}</span>
                            <div class="message">{{ device['message'] }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <br><center><a class="btn btn-sm" href='/list_drivers'>drivers list</a></center>
            </td>
        </tr>
    </table>
    <div style="margin: 20px auto 10px auto;" class="text-center">
        <a class="btn" href='/point_of_sale/display'>POS Display</a>
        <a class="btn" style="margin-left: 10px;" href='/remote_connect'>Remote Debug</a>
    </div>
{% endblock %}
