<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="pragma" content="no-cache" />

        <title>Odoo's IoT Box</title>

        <script src="/web/static/lib/owl/owl.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/dom/data.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/dom/event-handler.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/dom/manipulator.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/dom/selector-engine.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/base-component.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/alert.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/button.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/carousel.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/collapse.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/dropdown.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/modal.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/offcanvas.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/tooltip.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/popover.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/scrollspy.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/tab.js"></script>
        <script src="/web/static/lib/bootstrap/js/dist/toast.js"></script>

        <link href="/web/static/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
        <link href="/hw_posbox_homepage/static/src/app/css/override.css" rel="stylesheet"/>
        <link href="/web/static/src/libs/fontawesome/css/font-awesome.css" rel="stylesheet"/>
    </head>
    <body>
        <script src="/hw_posbox_homepage/static/src/app/main.js" type="module"></script>
    </body>
</html>
