// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_MessageReactionsSummaryView_partnerAvatarContainer {
    flex: 0 0 $o-mail-message-sidebar-width;
    height: 36px;
    max-width: $o-mail-message-sidebar-width;
    width: 36px;
}

.o_MessageReactionsSummaryView_reactionsGroup {
    cursor: pointer;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_MessageReactionsSummaryView {
    background: gray('200');
}
