# -*- coding: utf-8 -*-
{
    'name': "{{ config.module }}",
    # short description, used as subtitles on modules listings
    'summary': "{{ config.summary }}",
    # long description of module purpose
    'description': """
""",
    # Who you are
    'author': "{{ config.author_name }}",
    'website': "{{ config.author_website }}",

    # categories can be used to filter modules in modules listing
    'category': '{{ config.category }}',
    'version': '0.1',

    # any module necessary for this one to work correctly
    'depends': ['{{ config.dependency }}'],
    'data': [
        {{- "'security/ir.model.access.csv'" if config.model -}}
    ],
    'tests': [
    ],
}
