<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>OpenERP</title>
        <link rel="shortcut icon" href="/web/static/src/img/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/web/static/src/css/full.css" />
        <script src="/web/static/lib/es5-shim/es5-shim.min.js" type="text/javascript"></script>
        <script src="/web/static/lib/underscore/underscore.js" type="text/javascript"></script>
        <script src="/web/static/lib/underscore.string/lib/underscore.string.js" type="text/javascript"></script>
        <script src="/web/static/lib/datejs/globalization/en-US.js" type="text/javascript"></script>
        <script src="/web/static/lib/spinjs/spin.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery/jquery.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.blockUI/jquery.blockUI.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.hotkeys/jquery.hotkeys.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.placeholder/jquery.placeholder.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.timeago/jquery.timeago.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.form/jquery.form.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.ba-bbq/jquery.ba-bbq.js" type="text/javascript"></script>
        <script src="/web/static/lib/datejs/core.js" type="text/javascript"></script>
        <script src="/web/static/lib/datejs/parser.js" type="text/javascript"></script>
        <script src="/web/static/lib/datejs/sugarpak.js" type="text/javascript"></script>
        <script src="/web/static/lib/datejs/extras.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.validate/jquery.validate.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.autosize/jquery.autosize.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.scrollTo/jquery.scrollTo-min.js" type="text/javascript"></script>
        <script src="/web/static/lib/cleditor/jquery.cleditor.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.textext/jquery.textext.js" type="text/javascript"></script>
        <script src="/web/static/lib/select2/select2.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.ui/js/jquery-ui-1.9.1.custom.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.ui.timepicker/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
        <script src="/web/static/lib/jquery.ui.notify/js/jquery.notify.js" type="text/javascript"></script>
        <script src="/web/static/lib/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <script src="/web/static/lib/backbone/backbone.js" type="text/javascript"></script>
        <script src="/web/static/lib/qweb/qweb2.js" type="text/javascript"></script>
        <script src="/web/static/src/js/openerpframework.js" type="text/javascript"></script>
        <script src="/web/static/lib/py.js/lib/py.js" type="text/javascript"></script>
        <script src="/web/static/src/js/boot.js" type="text/javascript"></script>
        <script src="/web/static/src/js/testing.js" type="text/javascript"></script>
        <script src="/web/static/src/js/pyeval.js" type="text/javascript"></script>
        <script src="/web/static/src/js/core.js" type="text/javascript"></script>
        <script src="/web/static/src/js/formats.js" type="text/javascript"></script>
        <script src="/web/static/src/js/chrome.js" type="text/javascript"></script>
        <script src="/web/static/src/js/views.js" type="text/javascript"></script>
        <script src="/web/static/src/js/data.js" type="text/javascript"></script>
        <script src="/web/static/src/js/data_export.js" type="text/javascript"></script>
        <script src="/web/static/src/js/search.js" type="text/javascript"></script>
        <script src="/web/static/src/js/view_list.js" type="text/javascript"></script>
        <script src="/web/static/src/js/view_form.js" type="text/javascript"></script>
        <script src="/web/static/src/js/view_list_editable.js" type="text/javascript"></script>
        <script src="/web/static/src/js/view_tree.js" type="text/javascript"></script>
        <script src="/base/static/src/js/apps.js" type="text/javascript"></script>
        <script src="/web/static/src/js/tour.js" type="text/javascript"></script>
        <link href="/web/static/lib/fontawesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="/web/static/lib/cleditor/jquery.cleditor.css" rel="stylesheet"/>
        <link href="/web/static/lib/jquery.textext/jquery.textext.css" rel="stylesheet"/>
        <link href="/web/static/lib/select2/select2.css" rel="stylesheet"/>
        <link href="/web/static/lib/jquery.ui.bootstrap/css/custom-theme/jquery-ui-1.9.0.custom.css" rel="stylesheet"/>
        <link href="/web/static/lib/jquery.ui.timepicker/css/jquery-ui-timepicker-addon.css" rel="stylesheet"/>
        <link href="/web/static/lib/jquery.ui.notify/css/ui.notify.css" rel="stylesheet"/>
        <link href="/web/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <link href="/web/static/src/css/base.css" rel="stylesheet"/>
        <link href="/web/static/src/css/data_export.css" rel="stylesheet"/>
        <link href="/base/static/src/css/modules.css" rel="stylesheet"/>
        <script type="text/javascript">
            $(function() {
                var s = new openerp.init({{ modules|safe }});
                var wc = new s.web.WebClient(null, { action: 'database_manager' });
                wc.setElement($(document.body));
                wc.start();
            });
        </script>
    </head>
    <body>
        <nav id="oe_main_menu_navbar" class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>    
            </div>
            <div class="navbar-collapse collapse" id="oe_main_menu_placeholder">              
                <ul class="nav navbar-nav navbar-right oe_user_menu_placeholder"></ul>
            </div>
        </nav>
        <div class="openerp openerp_webclient_container oe_webclient">
            <div class="oe_leftbar">
                <a class="oe_logo">
                    <span class="oe_logo_edit">Edit Company data</span>
                    <img src='/web/binary/company_logo'/>
                </a>
                <div class="oe_secondary_menus_container"></div>
                <div class="oe_footer">
                    Powered by <a href="http://www.odoo.com" target="_blank"><span>Odoo</span></a>
                </div>
            </div>
            <div class="oe_application">
            </div>
        </div>

        <!--[if lte IE 8]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
        <script>CFInstall.check({mode: "overlay"});</script>
        <![endif]-->
    </body>
</html>