.history-container {
    --HistoryDialog__container-diff-added-bg: #265426;
    --HistoryDialog__container-diff-removed-bg: #7b2b2b;
}

.nav-link {
    --historyDialog__link-color--active: #{o-text-color('primary')};
    --historyDialog__link-border-top-color--active: #{o-text-color('primary')};
}
