.o_cw_popover .o_cw_popover_link.o_event.fc-bgevent {
    &:hover {
        --o-bg-opacity: .75;
    }

    margin-top: 2px;
    outline-color: var(--o-event-bg--subtle);
    padding: 0 map-get($spacers, 1);

    &.o_event_hatched, &.o_attendee_status_tentative {
        --o-event-bg-rgb: var(--o-event-bg--subtle-rgb);

        &:hover {
            opacity: .75;
        }
    }

    &:not(.o_event_dot) {
        border: 1px solid var(--o-event-bg--subtle);
    }

    &.o_event_dot {
        --o-bg-opacity: 0;
        outline-color: transparent;

        &:hover {
            --o-bg-opacity: .5;
        }
    }
}
