.o_cw_popover_link {
    border: solid 2px;
    padding-left: 5px;
    margin-top: 2px;
    color: black;
    @for $i from 1 through length($o-colors-complete) {
        $color: nth($o-colors-complete, $i);

        &.o_calendar_color_#{$i - 1} {
            border-color: $color;
            background: $color;
        }
    }
}
