.break-line {
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.o_self_order_item_card_image {
  width: 110px !important;
  min-width: 110px;
  min-height: 110px;
  height: 110px !important;

  & img {
    object-fit: cover;
  }
}
.o_self_order_item_card {
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @include media-breakpoint-down(md) {
    &:nth-child(1n) {
      border-right: 0;
    }
  }
  @include media-breakpoint-up(md) {
    &:nth-child(2n + 1) {
      border-right: 0;
    }
  }
  @include media-breakpoint-up(xl) {
    &:nth-child(2n + 1) {
      border-right: 1px solid $border-color;
    }

    &:nth-child(4n + 1) {
      border-right: 0;
    }
  }
}