.content_container {
  display: flex;
  padding: 16px 84px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.birthday_container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 8px;
  background: #fff;
}

.birthday_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.birthday_title {
  color: #323030;
  font-family: "Rubik";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}

.birthday_header h4 {
  align-self: stretch;
  margin: 0;
  color: #5b5959;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.birthday_author {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.birthday_subtitle {
  align-self: stretch;
  color: #5b5959;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.birthday_photo {
  display: flex;
  height: 662px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}

.birthday_section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;
}

.comment_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px !important;
  align-self: stretch;
  width: 80%;
}

.comment {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.comment img {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 160px;
}

.input_with_icons {
  display: flex;
  align-items: center;
  flex: 1 0 0;
  padding: 0px 10px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #a1a0a0;
  background: #f0f8ff;
}

.insert_comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 4px;
  outline: none;
  gap: 8px;
  flex: 1 0 0;
  border: none;
  background: #f0f8ff;
}

.emoji {
  background-image: url("/mi_website_ext/static/src/img/Cake.svg");
  width: 32px;
  height: 32px;
  border-radius: 160px;
  border: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.attach {
  background-image: url("/mi_website_ext/static/src/img/Cake.svg");
  width: 32px;
  height: 32px;
  border-radius: 160px;
  border: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.send_button {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #f9aa4e;
  box-shadow: 0px 4px 5.2px 0px rgba(63, 64, 123, 0.06);
  margin-left: 57px;
  border: none;
  font-weight: 800;
}
