.content_container {
  display: flex;
  padding: 16px 84px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.news_container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 8px;
  background: #fff;
}

.news_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.news_title {
  color: #323030;
  font-family: "Rubik";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
}

.news_header h4 {
  align-self: stretch;
  margin: 0;
  color: #5b5959;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.news_author {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.news_subtitle {
  align-self: stretch;
  color: #5b5959;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.news_photo {
  display: flex;
  height: 662px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}

.news_section {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.album_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  row-gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

.album_item {
  display: flex;
  width: 285px;
  padding: 16px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  border-radius: 22px 22px 0px 0px;
  background: #fcfdff;
  box-shadow: 0px 1.491px 2.72px 0px rgba(131, 51, 39, 0.2);
}

.album_item img {
  display: flex;
  align-items: center;
  width: 260px;
  height: 220px;
  gap: 3px;
  border-radius: 22px 22px 0px 0px;
}

.album_item h3 {
  margin: 0;
  color: #323030;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  flex: 1 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3.6em; 
}

.album_item p {
  margin: 0;
  color: #656463;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

@media (max-width: 576px) {
  .news_container {
    width: 100%;
    max-height: none;
    position: static;
  }

  .content_container {
    padding: 16px !important;
  }
}
