.profile-title {
  text-align: center !important;
  margin-bottom: 1.5rem !important;
  color: white;
  font-family: "Rubik";
  font-weight: 800;
  letter-spacing: 0.36px;
}

.profile-email {
  margin: 0;
  color: rgba(33, 37, 41, 0.7) !important;
}

.profile-hr {
  margin: 8px 0px !important;
  color: inherit;
  border: 0;
  border-top: var(--border-width) solid var(--o-border-color);
  opacity: 1;
}

.profile-name {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 5px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin: 6px 0px;
}

.profile-subtitle {
  font-family: "Roboto";
  font-weight: 800;
  margin-top: 1.5rem;
}

.profile-button {
  color: #191816;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  padding: 8px 16px;
  border-radius: 8px;
  background: #f9aa4e;
  box-shadow: 0px 4px 5.2px 0px rgba(63, 64, 123, 0.06);
  border: none;
  transition: 400ms;
}

.profile-button:hover {
  background: #ffdaaf;
}
