body {
    position: relative;
    :not(.debug) .modal-backdrop, :not(.debug) .modal, :not(.debug) .ui-autocomplete {
        opacity: 0 !important;
    }
}

#qunit-testrunner-toolbar label {
    font-weight: inherit;
    margin-bottom: inherit;
}

#qunit-testrunner-toolbar input[type=text] {
    width: inherit;
    display: inherit;
}
