.o_kanban_view .o_marketing_card_campaign_kanban {
    .oe_kanban_action_a:hover > .badge {
        background-color: $o-brand-primary;
        color: white;
    }
}

.o_marketing_card_image_preview img {
    border: 3px solid $border-color !important;
}

.o_card_campaign_form .o_field_reference .o_row {
    select {
        width: 40% !important;
        padding-right: 10px;
    }
    .o_field_many2one_selection{
        margin-left: 10px;
        width: 60% !important;
    }
}
