
.o_my_status_table {
    text-align: right;
    tr > :first-child {
        text-align: left;
    }
    tr th {
        text-align: center;
    }
}

.o_my_home_content > .page-header > a:hover {
    text-decoration: none;
}

.portal-wrap table.table tr {
    word-wrap: break-word;
}

.search_panel_fixed_width {
    overflow: hidden;
    max-width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
