.oe_module_survey{
    font-size: 12px;
    border-style:dotted;
    border-radius: 15px;
    text-align: left;
    height:145px;
    width:220px;
}

.oe_survey_title{
    font-size: 15px;
    height: auto;
    font-size: 16px;
    font-weight:bold;
    width: 205px;
}

.oe_survey_responsible{
    height: auto;
    width: 200px;
    font-size: 14px;
}

.oe_survey_start_date{
    height: auto;
    width: 200px;
    font-size: 14px;
}

.oe_survey_fill{
	align:right;
	padding: 1px 165px;
}

.oe_survey_rate{
    font-size: 14px;
}
