.oe_survey_responsible{
    height: auto;
    width: 200px;
    font-size: 14px;
}

.oe_survey_start_date{
    height: auto;
    width: 200px;
    font-size: 14px;
}
.oe_survey_rate{
    font-size: 14px;
}
