.openerp .oe_survey_title {
    font-weight: bold;
    font-size: 19px;
    margin: 8px 0px 8px 0px;
    color: #5B5B5B;
}

.openerp .oe_kanban_survey {
    /* Customize height and width according bootstrap3 */
    width: 212px;
    min-height: 86px !important;
    /* End of customize */
}
