.o_form_label sup {
    color: $o-action;
}

.o_touch_device .o_form_label sup {
    height: 1em;
    width: 1em;
    padding: .5em !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    font-size: 1em;
    top: 0;
}
