.o_new_content_container {
    --new-content-item-size: 150px;

    font-family: $o-we-font-family;

    .popover {
        max-width: calc(var(--new-content-item-size) * 3 + #{$popover-body-padding-y} * 2 + #{$spacer} * 3);
        transform: translateX(calc((var(--new-content-item-size) * 3 + #{$popover-body-padding-y} * 2 + #{$spacer} * 2) * -1));
        top: calc(100% + #{$o-navbar-padding-v} * 2);
        z-index: $zindex-modal;
    }

    .popover-body{
        width: calc(var(--new-content-item-size) * 3 + #{$spacer} * 4);
    }

    .o_new_content_element {
        width: var(--new-content-item-size);

        &.o_uninstalled_module {
            mix-blend-mode: luminosity;
            opacity: .4;
        }

        &:hover, &:focus {
            mix-blend-mode: initial;
            opacity: 1;
        }
    }
}
