.o-filter-value {
    .o_datepicker_input {
        color: $o-main-text-color;
    }
    .date_filter_values {
        display: flex;
        gap: map-get($spacers, 2);
        align-items: baseline;
    }
}
