.o-filter-value {
    .o-text-filter-input {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .o_datepicker_input {
        color: $o-main-text-color;
    }
}
