.o_project_role_users .many2many_tags_avatar_field_container{

width: 100%;
}
.o_project_role_items_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.o_project_role_item {
    display: flex;
    align-items: flex-start;
    min-height: 58px;
}