// = Table UI
// ============================================================================
// No CSS hacks, variables overrides only

.o_table_ui {
    --o-table-ui-bg: #{$o-gray-300};
    --o-table-ui-color: #{$o-gray-900};
    --o-table-ui-border: #{$o-gray-200};
    --o-table-ui-hover: #{$o-gray-200};
}

