.o_web_client:where(:has(.o-mail-Discuss)) {
    --mail-Discuss-surface-dark: #{mix($white, $o-webclient-background-color, 15%)};
    --NavBar-entry-backgroundColor: var(--mail-Discuss-surface-dark);

    .o_main_navbar, .o_control_panel {
        background-color: var(--mail-Discuss-surface-dark);
    }
}
