.openerp .oe_kanban_view .oe_kanban_stock_picking_type {
    width: 345px;
    cursor: default;
    min-height: 245px !important;
}
.openerp .oe_stock_scan_image {
   opacity: 0.2;
   margin: 0 5px 0;
}
.openerp .oe_stock_scan_image:hover {
   opacity: 1
}
.oe_gauge_labels {
   width: 100%;
}
.oe_gauge_labels .oe_gauge_label_column {
   width: 49%;
   text-align: center;
   display: inline-block;
   margin: -7px;
}

.oe_stock_scan_image_btn {
   /*height : 42px;*/
}
.oe_stock_scan_button {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}
.openerp .oe_stock_kanban_content {
  margin-right: 16px;
}
