// Selector for full-day events that are not half-left or half-right
$full-day-event: ".fc-bg-event:where(:not(.o_event_half_left):not(.o_event_half_right))";

.o_timeoff_calendar {
    background-color: $o-view-background-color;
    flex-grow: 1;
    flex-basis: fit-content;

    .o_calendar_renderer .o_calendar_widget {
        .hr_mandatory_day {
            .fc-daygrid-day-number {
                font-weight: 600;
            }
        }

        > .fc-view-container > .fc-dayGridYear-view .hr_mandatory_day:not(.fc-day-disabled):not(.fc-day-today) .fc-daygrid-day-top:not(:hover),
        > .fc-view-harness > .fc-dayGridMonth-view .hr_mandatory_day:not(.fc-day-disabled):not(.fc-day-today) {
            .fc-daygrid-day-number {
                color: var(--mandatory-day-color) !important;
            }
        }

        .fc-bg-event {
            border-radius: var(--o-half-event-border-radius, $border-radius-pill);
        }

        .fc-dayGridMonth-view .fc-day.fc-day-today[class*="hr_mandatory_day_"] {
            --o-cw-bg: var(--mandatory-day-color);
        }

        @for $size from 1 through length($o-colors) {
            .hr_mandatory_day_#{$size - 1} {
                --mandatory-day-color: #{nth($o-colors, $size)};
            }
        }

        .o_event_half_left, .o_event_half_right {
            --o-half-event-border-radius: 0;

          width: 50%;
        }

        .o_event_half_right {
          margin-left: 50%;
        }

        // Full-day event followed by a left-half day.
        .fc-day:has(+ .fc-day .o_event_half_left) {
            #{$full-day-event} {
                --o-half-event-border-radius: #{$border-radius-pill} 0 0 #{$border-radius-pill};
            }
        }

        // Half-right day followed by a full-day event.
        .fc-day:has(.o_event_half_right) + .fc-day {
            #{$full-day-event} {
                --o-half-event-border-radius: 0 #{$border-radius-pill} #{$border-radius-pill} 0;
            }
        }

        // Full-day event between a half-right and a half-left day.
        .fc-day:has(.o_event_half_right) + .fc-day:has(+ .fc-day .o_event_half_left) {
            #{$full-day-event} {
                --o-half-event-border-radius: 0;
            }
        }
    }
}
