.o_timeoff_calendar {
    background-color: $o-view-background-color;
    flex-grow: 1;
    flex-basis: fit-content;

    .o_calendar_renderer .o_calendar_widget {
        .hr_mandatory_day {
            .fc-daygrid-day-number {
                font-weight: 600;
            }
        }

        > .fc-view-container > .fc-dayGridYear-view .hr_mandatory_day:not(.fc-day-disabled):not(.fc-day-today) .fc-daygrid-day-top:not(:hover),
        > .fc-view-harness > .fc-dayGridMonth-view .hr_mandatory_day:not(.fc-day-disabled):not(.fc-day-today) {
            .fc-daygrid-day-number {
                color: var(--mandatory-day-color) !important;
            }
        }

        .fc-bg-event {
            border-radius: $border-radius-pill;
        }

        .fc-dayGridMonth-view .fc-day.fc-day-today[class*="hr_mandatory_day_"] {
            --o-cw-bg: var(--mandatory-day-color);
        }

        @for $size from 1 through length($o-colors) {
            .hr_mandatory_day_#{$size - 1} {
                --mandatory-day-color: #{nth($o-colors, $size)};
            }
        }

        .o_event_half_left {
          clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
        }

        .o_event_half_right {
          clip-path: polygon(100% 0, 50% 0, 50% 100%, 100% 100%);
        }
    }
}
