.point-of-sale {
    padding: 0;
    margin: 0;
    background-color: #f0eeee;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.point-of-sale table {
    border-spacing: 0;
    border-collapse: collapse;
}
.point-of-sale td {
    border: 1px solid #e9eaec;
}
.point-of-sale input {
    color: #555555;
}
.point-of-sale a {
    text-decoration: none;
    color: #555555;
}
.point-of-sale button, .point-of-sale a.button {
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    font-size: 11px;
    border: 1px solid #cacaca;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #e2e2e2;
    background: -moz-linear-gradient(#f0f0f0, #e2e2e2);
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e2e2e2));
}
.point-of-sale ul, .point-of-sale ol {
    padding: 0;
    margin: 0;
}
.point-of-sale li {
    list-style-type: none;
}
.point-of-sale button img {
    vertical-align: bottom;
}
.point-of-sale .pos-right-align {
    text-align: right;
}
.point-of-sale .pos-right-align input {
    text-align: right;
}
.point-of-sale #container {
    width: 100%;
    height: 100%;
}
.point-of-sale #topheader {
    width: 100%;
    height: 54px;
    color: gray;
    border-top: solid 1px #d3d3d3;
    border-bottom: solid 1px black;
    background: #393939;
    background: -moz-linear-gradient(#7b7979, #393939);
    background: -webkit-gradient(linear, left top, left bottom, from(#7b7979), to(#393939));
}
.point-of-sale #topheader button {
    color: black;
    border: 1px solid black;
    background: #7f82ac;
    background: -moz-linear-gradient(#b2b3d7, #7f82ac);
    background: -webkit-gradient(linear, left top, left bottom, from(#b2b3d7), to(#7f82ac));
}
.point-of-sale #branding, .point-of-sale #rightheader {
    float: left;
    overflow: hidden;
    height: 35px;
    padding: 10px;
}
.point-of-sale #rightheader {
    float: none;
    margin-left: 440px;
}
.point-of-sale #branding {
    border-right: 1px solid #373737;
    text-align: left;
    width: 419px;
}
.point-of-sale #branding img {
    height: 32px;
    width: 116px;
} 
.point-of-sale #neworder-button {
    width: 32px;
    padding: 4px 10px;
}
.point-of-sale #loggedas {
    float: right;
    padding: 5px 9px;
    text-align: center;
    color: white;
    border-left: 1px solid #373737;
}
.point-of-sale #loggedas p {
    margin: 0 0 3px 0;
}
.point-of-sale #content {
    width: 100%;
    position: absolute;
    top: 56px;
    bottom: 0;
}
.point-of-sale #leftpane {
    -webkit-box-sizing:border-box;
    position:absolute;
    left:0;
    width:440px;
    top:0px;
    bottom:105px;
    /*height: 87%;
    width: 440px;
    position: relative;*/
    border-right: solid 1px #afafb6;
    background-color: white;
}
.point-of-sale #leftpane footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;
    background-image: url(../img/headerbackground.jpg);
    white-space: nowrap;
}
.point-of-sale #current-order {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 271px;
    overflow: auto;
}
.point-of-sale #current-order thead {
    background-color: #cccccc;
    background-image: url(../img/headerbackground.jpg);
    border: 0px;
    font-size: 12px;
    width: 440px;
}
.point-of-sale #current-order thead td {
    text-align: center;
    padding: 8px 0px;
    min-width: 40px;
    font-size: 12px;
}
.point-of-sale #current-order td {
    padding: 6px 4px;
    font-size: 11px;
    text-align: right;
    min-width: 40px;
    white-space: nowrap;
}
.point-of-sale #current-order td:first-child {
    width: 320px;
    padding: 6px;
    text-align: left;
    text-overflow: ellipsis;
}
.point-of-sale #current-order td:last-child {
    border-right: none;
}
.point-of-sale #current-order tr.selected {
    background-color: #e9eaf2;
}
.point-of-sale #current-order tr.selected td {
    border-top: 2px solid #d5d6e0;
    border-bottom: 1px solid #d5d6e0;
    padding-top: 5px;
    color: #555555;
}
.point-of-sale #amounts {
    background: white;
    border-bottom: solid 1px #d2d2d2;
    border-top: solid 1px #e9eaec;
    font-weight: bold;
    text-align: right;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.point-of-sale #amounts li {
    display: inline-block;
    padding: 8px;
    width: 29%;
}
.point-of-sale #paypad {
    padding: 8px 4px 8px 8px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.point-of-sale #paypad button {
    height: 54px;
    width: 208px;
    margin: 0 -3px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-top: 1px solid #efefef;
}
.point-of-sale #paypad button:hover {
    color: white;
    background: #7f82ac;
    background: -moz-linear-gradient(#9d9fc5, #7f82ac);
    background: -webkit-gradient(linear, left top, left bottom, from(#9d9fc5), to(#7f82ac));
}
.point-of-sale #numpad {
    padding: 8px 8px 8px 4px;
    display: inline-block;
    text-align: center;
}
.point-of-sale #numpad button {
    height: 54px;
    width: 54px;
    margin: 0 -3px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-top: 1px solid #efefef;
}
.point-of-sale #numpad button:hover {
    color: white;
    background: #7f82ac;
    background: -moz-linear-gradient(#9d9fc5, #7f82ac);
    background: -webkit-gradient(linear, left top, left bottom, from(#9d9fc5), to(#7f82ac));
}
.point-of-sale #numpad .selected-mode {
    color: white;
    background: #7f82ac;
    background: -moz-linear-gradient(#9d9fc5, #7f82ac);
    background: -webkit-gradient(linear, left top, left bottom, from(#9d9fc5), to(#7f82ac));
}
.point-of-sale .payment-button {
    font-size: 14px;
}
.point-of-sale .input-button {
    font-size: 24px;
}
.point-of-sale .mode-button, .point-of-sale #numpad-delete, .point-of-sale #numpad-minus {
    font-size: 14px;
}
.point-of-sale #rightpane {
    position: absolute;
    top: 0;
    bottom: 105px;
    left: 440px;
    //height:100%;
    right: 0;
    vertical-align: top;
}
.point-of-sale #rightpane header {
    padding: 0;
    height: 32px;
    border-bottom: 1px solid #cecbcb;
    background: #d3d3d3;
    background: -moz-linear-gradient(white, #d3d3d3);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#d3d3d3));
}
.point-of-sale .product-list {
    overflow: auto;
    position: absolute;
    top: 72px;
    bottom: 0;
}
.point-of-sale .breadcrumb li {
    float: left;
    line-height: 32px;
    height: 32px;
}
.point-of-sale .breadcrumb li:last-child {
    padding-right: 3px;
    border-right: 1px solid #c5c5c5;
}
.point-of-sale .breadcrumb a {
    display: inline-block;
    padding: 0 9px;
    vertical-align: top;
    text-shadow: #f7f7f7 0 1px 1px;
    color: #555555;
    font-weight: bold;
}
.point-of-sale .bc-arrow {
    height: 33px;
}
.point-of-sale .homeimg {
    width: 19px;
    height: 19px;
    margin: 6px 0;
}
.point-of-sale .searchbox {
    position: absolute;
    right: 2px;
}
.point-of-sale .searchbox input {
    width: 130px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #cecbcb;
    padding: 3px 19px;
    margin: 6px;
    background: url("../img/search.png") no-repeat 5px;
    background-color: white;
}
.point-of-sale .search-clear {
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
    display: none;
}
.point-of-sale #categories {
    border-bottom: 1px solid #cecbcb;
}
.point-of-sale #categories h4 {
    display: inline-block;
    margin: 9px 5px;
}
.point-of-sale #categories ol {
    display: inline;
}
.point-of-sale #categories li {
    display: inline-block;
}
.point-of-sale #categories .button {
    padding: 6px 14px;
    margin: 4px 0;
    font-size: 12px;
}
.point-of-sale .product {
    vertical-align: top;
    display: inline-block;
    font-size: 11px;
    margin: 5px;
    max-width: 120px;
    border: 1px solid lightgray;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 4px #777777;
    -webkit-box-shadow: 0px 1px 4px #777777;
    -box-shadow: 0px 1px 4px #777777;
}
.point-of-sale .product-img {
    position: relative;
    width: 120px;
    height: 100px;
    background: white;
    text-align: center;
}
.point-of-sale .price-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    background: #7f82ac;
    padding: 2px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.point-of-sale .price-subtag {
    position: absolute;
    top: 24px;
    right: 2px;
    vertical-align: top;
    color: white;
    background: #7f82ac;
    padding: 2px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.point-of-sale .product-name {
    padding: 3px;
}
.point-of-sale #login-form label, .point-of-sale #login-form input {
    display: block;
}
.point-of-sale #login-form input {
    margin: 4px 0 12px;
    padding: 4px;
    width: 96%;
}
.point-of-sale div#order-selector {
    display: inline;
}
.point-of-sale ol#orders {
    display: inline;
}
.point-of-sale li.order-selector-button {
    display: inline;
}
.point-of-sale li.selected-order button {
    font-weight: 900;
}

.point-of-sale .step-screen {
    text-align: center;
}
.point-of-sale .step-screen header h2 {
    margin-top: 0px;
    padding-top: 7px;
}
.point-of-sale .step-screen p{
    font-size: 18px;
}

.point-of-sale .pos-step-container {
    display: inline-block;
    font-size: 1.5em;
}
.point-of-sale .pos-payment-container {
    text-align: left;
}
.point-of-sale .pos-payment-container .payment-due {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 6px 0px 6px;
    background-color: white;
    border:1px solid grey;
    border-radius: 3px;
}
.point-of-sale .pos-payment-container table {
    width: 100%;
    margin-bottom: 20px;
}
.point-of-sale .pos-payment-container .paymentline-type {
    font-size: 0.8em;
    font-weight: bold;
}
.point-of-sale .step-screen button {
    width: 50%;
    text-align: center;
    padding: 7px 0 7px 0;
    font-size: 0.8em;
    font-weight: bold;
}
.point-of-sale .pos-sale-ticket {
    text-align: left;
    width: 300px;
    background-color: white;
    margin: 20px;
    padding: 10px;
    display: inline-block;
}
.point-of-sale .pos-sale-ticket table {
    width: 100%;
    border: 0;
}
.point-of-sale .pos-sale-ticket table td {
    border: 0;
}
.point-of-sale .pos-receipt-container {
    font-size: 0.75em;
}

.point-of-sale .oe_pos_synch-notification-button {
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 3px 2px 3px;
    background-color: #D92A2A;
}

.receipt-buttons {
	white-space: nowrap;
}

.pos-payment-buttons {
    white-space: nowrap;
}

@media print {
    #oe_header, #oe_menu, .point-of-sale #topheader, .point-of-sale #leftpane {
        display: none;
    }
    .point-of-sale #content {
        top: 0px;
    }
    .point-of-sale #rightpane {
        left: 0px;
        background-color: white;
    }
    #receipt-screen header, .receipt-buttons {
        display: none;
    }
    #receipt-screen {
        text-align: left;
    }
    .pos-sale-ticket {
        margin: 0;
    }
}

.point-of-sale .pos-actionbar{
    position:absolute;
    left:    0;
    bottom:  0px;
    height: 105px;
    width:  100%;
    margin: 0;
    background: #f5f5f5;    /*#ebebeb;*/
    border-top: solid 1px #afafb6;
    z-index:900;
}

.point-of-sale .pos-actionbar ul{
    list-style:  none;
}

.point-of-sale .pos-actionbar-left-pane{
    height: 100%;
    width:  434px;
    margin: 0px;
    padding-left:3px;
    padding-right:3px;
    border-right: solid 1px #dfdfdf;
    float:  left;
}

.point-of-sale .pos-actionbar-button-list{
    height: 100%;
    margin: 0px;
    padding-left:3px;
    padding-right:3px;
    overflow:hidden;
}

.point-of-sale .pos-actionbar .button{
    width: 90px;
    height: 90px;
    text-align:center;
    margin:3px;
    margin-top:6px;
    float:left;

    font-size:   14px;
    font-weight: bold;

    cursor: pointer;

    border: 1px solid #cacaca;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    background: #e2e2e2;
    background: -moz-linear-gradient(#f0f0f0, #e2e2e2);
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e2e2e2));
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);
}
.point-of-sale .total{
    line-height: 105px;
    font-size: 26px;
    margin: 0;
    margin-left: 180px;
    font-weight: bold;
}
.point-of-sale .pos-actionbar .button .label{
    margin-top: 37px;
}
.point-of-sale .pos-actionbar .button .icon{
    margin-top: 10px;
}
.point-of-sale .pos-actionbar .button:hover {
    color: white;
    background: #7f82ac;
    border: 1px solid #7f82ac;
    background: -moz-linear-gradient(#9d9fc5, #7f82ac);
    background: -webkit-gradient(linear, left top, left bottom, from(#9d9fc5), to(#7f82ac));

    -webkit-transition-property: background, border;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
}

.point-of-sale .pos-actionbar .button.rightalign{
    float:right;
}

.point-of-sale .modal-dialog{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:1000;
}
.point-of-sale .modal-dialog .popup{
    position: absolute;
    left:50%;
    top:50%;
    width:500px;
    height:400px;
    margin-left: -250px;
    margin-top: -200px;
    padding:10px;
    padding-top:20px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: #F0EEEE;
    border: 1px solid #E0DDDD;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0, 0.3);
    z-index:1200;
}
.point-of-sale .popup .footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    border-top: 1px solid #E0DDDD;
}
.point-of-sale .popup .button{
    float:right;
    width: 110px;
    height: 40px;
    line-height:40px;
    text-align:center;
    margin:3px;
    margin-top:10px;
    margin-right:10px;

    font-size:   14px;
    font-weight: bold;

    cursor: pointer;

    border: 1px solid #cacaca;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    background: #e2e2e2;
    background: -moz-linear-gradient(#f0f0f0, #e2e2e2);
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e2e2e2));
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0, 0.3);
}
.point-of-sale .popup .button:hover {
    color: white;
    background: #7f82ac;
    border: 1px solid #7f82ac;
    background: -moz-linear-gradient(#9d9fc5, #7f82ac);
    background: -webkit-gradient(linear, left top, left bottom, from(#9d9fc5), to(#7f82ac));

    -webkit-transition-property: background, border;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
}

.point-of-sale .popup .button.big-left{
    position:absolute;
    top: 120px;
    left:40px;
    width: 180px;
    height: 180px;
    line-height:180px;
}

.point-of-sale .popup .button.big-right{
    position:absolute;
    top: 120px;
    right:40px;
    width: 180px;
    height: 180px;
    line-height:180px;
}

/* Onscreen Keyboard http://net.tutsplus.com/tutorials/javascript-ajax/creating-a-keyboard-with-css-and-jquery/ */

.point-of-sale .keyboard_frame{
    display: none;
    position:absolute;
    left:    0;
    bottom:  0px;
    margin:  0;
    padding: 0;
    padding-top: 15px;
    width: 100%;
    height: 0px;    /* 235px, animated via jquery */
	background-color: #BBB;
    overflow:hidden;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0, 0.3);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.point-of-sale .keyboard_frame .close_button{
    height:40px;
    width:60px;
    text-align:center;
    background-color: #DDD;
    font-size: 12px;
    line-height:40px;
    border: 1px solid #CCC;
	-webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
    position:absolute;
    top:0;
    right:15px;
	cursor: pointer;
}
.point-of-sale .keyboard li {
	float: left;
	text-align: center;
	background-color: #fff;
	border: 1px solid #f0f0f0;
    top:0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
    -webkit-transition-property: top, background-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
}
.point-of-sale .keyboard li:hover {
	position: relative;
	top: 2px;
	left: 0px;
	border-color: #ddd;
    background-color:#e5e5e5;
	cursor: pointer;
    -webkit-transition-property: top, background-color;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
}
.point-of-sale .uppercase {
	text-transform: uppercase;
}
.point-of-sale .on {
	display: none;
}
.point-of-sale .firstitem{
	clear: left;
}
.point-of-sale .keyboard .lastitem {
	margin-right: 0;
}

/* ---- full sized keyboard ---- */

.point-of-sale .full_keyboard {
    list-style: none;
    font-size: 14px;
    width: 680px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.point-of-sale .full_keyboard li{
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.point-of-sale .full_keyboard .tab, .point-of-sale .full_keyboard .delete {
	width: 70px;
}
.point-of-sale .full_keyboard .capslock {
	width: 80px;
}
.point-of-sale .full_keyboard .return {
	width: 77px;
}
.point-of-sale .full_keyboard .left-shift {
	width: 95px;
}
.point-of-sale .full_keyboard .right-shift {
	width: 109px;
}
.point-of-sale .full_keyboard .space {
	clear: left;
	width: 673px;
}

/* ---- simplified keyboard ---- */

.point-of-sale .simple_keyboard {
    list-style: none;
    font-size: 16px;
    width: 545px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}
.point-of-sale .simple_keyboard li{
    margin: 0 5px 5px 0;
    width: 49px;
    height: 49px;
    line-height: 49px;
}
.point-of-sale .simple_keyboard .firstitem.row_asdf{
    margin-left:25px;
}
.point-of-sale .simple_keyboard .firstitem.row_zxcv{
    margin-left:55px;
}
.point-of-sale .simple_keyboard .delete{
    width: 103px;
}
.point-of-sale .simple_keyboard .return{
    width: 103px;
}
.point-of-sale .simple_keyboard .space{
    width:268px;
}
.point-of-sale .simple_keyboard .numlock{
    width:103px;
}

