.self_order_pills_selection_popup_dialog {
    --modal-footer-border-width: 0;
}

.o_tip_numpad {
    .numpad-button.o_colorlist_item_numpad_color_6 {
        --bg: #ead1c8;
        --hover-bg: #e0bdaf;
        --border-color: #d3a999;
        background-color: var(--bg);
    }

    .numpad-button.o_colorlist_item_numpad_color_1 {
        --bg: #f5a5a5;
        --hover-bg: #f28787;
        --border-color: #e36f6f;
        background-color: var(--bg);
    }
}
