@import "compass/css3"

.oe_ecommerce
  input
    border: 1px solid #ddd
    font-size: 13px
    +border-radius(3px)
    padding: 5px
    padding-left: 7px
    margin-bottom: 10px
  .oe_total
    margin-top: 10px
    td
      padding: 10px
  font-family: "Lato"
  font-size: 13px
  .oe_product
    .oe_hidden
      visibility: hidden
    .oe_ecommerce_price
      +text-shadow(0px 1px 3px rgba(255, 255, 255, 0.7))
      text-align: center
      font-size: 25px
      margin: 10px
      span
        font-weight: bold
        margin: 5px
    .oe_ecommerce_description
      display: none
    h4
      height: 50px
      text-align: center
      +text-shadow(0px 1px 1px rgba(200, 200, 200,.2))
    img
      max-height: 128px
      margin: 0 auto 
      padding-bottom: 20px
    +box-shadow(0 0 3px 1px rgba(0,0,0,.1))
    text-align: center 
    vertical-align: top 
    position: relative
    display: inline-block
    padding: 5px
    width: 230px
    height: 300px
    margin-top: 0
    margin-bottom: 10px
    margin-right: 10px
    +border-radius(5px)
    border: 1px solid rgba(0,0,0,.1)
    .oe_button_cart
      width: 230px
      font-size: 11px
      position: absolute
      bottom: 5px
      button
        +text-shadow(0px 1px 1px rgba(0, 0, 0, 0.44))
        overflow: hidden
        text-align: center
        font-size: 12px
        margin: 0 auto
        margin-bottom: 5px
        &:first-child
          @include background(linear-gradient(#aaaaaa,#999999))
        &:last-child
          @include background(linear-gradient(#0088cc,#0076b1))
          &.btn-success
            @include background(linear-gradient(#51a351, #418541))
