

.openerp .oe_fold_column .oe_kanban_card {
    text-decoration:none;
    color:#000;
    display:block;
    padding:1em;
    margin-right: 1em;
    margin-bottom: 1em;
    
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}



.oe_kanban_record .oe_kanban_card   {
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -moz-transform:rotate(-2deg);
}

.oe_kanban_record:nth-of-type(even) .oe_kanban_card   {
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -moz-transform:rotate(-1deg);
}


.oe_kanban_record:nth-of-type(3n) .oe_kanban_card   {
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -moz-transform:rotate(4deg);
}

.oe_kanban_column:nth-of-type(even) .oe_kanban_record .oe_kanban_card   {
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -moz-transform:rotate(2deg);
}

.oe_kanban_column:nth-of-type(even) .oe_kanban_record:nth-of-type(even) .oe_kanban_card   {
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -moz-transform:rotate(-3deg);
}

.oe_kanban_column:nth-of-type(even) .oe_kanban_record:nth-of-type(3n) .oe_kanban_card   {
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -moz-transform:rotate(1deg);
}
/* .openerp .oe_fold_column:nth-child(even) .oe_kanban_card { */
/*     -webkit-transform: rotate(-3deg); */
/*     -o-transform: rotate(-3deg); */
/*     -moz-transform:rotate(-3deg); */
/* } */

/* .openerp  .oe_kanban_groups_records .oe_kanban_column .oe_fold_column:nth-child(even) .oe_kanban_card { */
/*     -o-transform:rotate(1deg); */
/*     -webkit-transform:rotate(1deg); */
/*     -moz-transform:rotate(1deg); */
/*     position:relative; */
/*     top:3px; */
/* } */

/* .openerp  .oe_fold_column:nth-child(3n) .oe_kanban_card { */
/*     -o-transform:rotate(-2deg); */
/*     -webkit-transform:rotate(-2deg); */
/*     -moz-transform:rotate(-2deg); */
/*     position:relative; */
/*     top:-3px; */
/* } */

/* .openerp.oe_fold_column:nth-child(5n) .oe_kanban_card { */
/*     -o-transform:rotate(2deg); */
/*     -webkit-transform:rotate(2deg); */
/*     -moz-transform:rotate(2deg); */
/*     position:relative; */
/*     top:-5px; */
/* } */

.openerp .oe_webclient .oe_application .oe_view_manager .oe_view_manager_body .oe_view_manager_view_kanban .oe_kanban_view .oe_kanban_groups .oe_kanban_groups_records .oe_kanban_column .oe_fold_column .oe_kanban_card:hover, 
.openerp .oe_webclient .oe_application .oe_view_manager .oe_view_manager_body .oe_view_manager_view_kanban .oe_kanban_view .oe_kanban_groups .oe_kanban_groups_records .oe_kanban_column .oe_fold_column .oe_kanban_card:focus
{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}
