.o_kanban_group .note_text_line_through {
  text-decoration: line-through;
}

.openerp .oe_form .oe_pad.oe_memo {
  width: auto;
}
.openerp .oe_form .oe_form_field.oe_memo {
  margin: 0;
  padding: 0px;
  width: 100%;
  min-height: 200px; }
