.o-mobile-figure.o-figure {
    padding: 4px;

    .o-chart-menu {
        visibility: visible !important;
        /* Compensate for the padding of the figure */
        top: 4px !important;
        right: 4px !important;
    }

    .o-carousel-full-screen-button,
    .o-carousel-tabs-dropdown,
    .o-carousel-tab[data-type="carouselDataView"],
    .o-chart-menu-item:not([name="chart-granularity"]) {
        display: none !important;
    }

}
