[Unit]
Description=Odoo LED Status Indicator: makes LEDs blink based on Odoo status

[Service]
Type=simple
User=root
ExecStart=/home/pi/odoo/addons/iot_box_image/configuration/led_manager.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
