.o_blockUI {
	cursor: wait;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	background: rgba(#000, .5);
	color: #fff;
	// NOTE: The value of the z-index below mirrors the $zindex-tooltip one
	z-index: 1070 !important;
}
