.o-mail-SubChannelPreview {
    background-color: color-mix(in srgb, var(--gray-100), var(--gray-200));

    &:hover {
        background-color: var(--gray-100) !important;
    }
}

.o-mail-SubChannelPreview-lastMessage {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
