.slide-box {
  border: solid #dddddd;
  border-width: 0 1px 1px 1px;
  padding-top: 5px;
  padding: 5px;
}
.slide-box .slide-container {
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}
.slide-box .slide-container:hover {
  background: #efeff0;
}
.slide-box .image-box {
  width: 90px;
  height: 60px;
  border: 1px solid #dddddd;
}
.slide-box .text-truncation {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
