.o_sp_dashboard_search {
    min-width: 50vw;

    .o_sp_date_filter_button {
        height: fit-content;
    }

    @media (min-width: 768px){
        .o_searchview .o_searchview_input_container {
            overflow-y: auto;
            max-height: 200px;
        }
    }

    .o_searchview_dropdown_toggler {
        margin-left: calc(var(--border-width) * -1);
    }

}
