.o-livechat-ChannelKanban-highlighted {
    background-color: $o-component-active-bg !important;
    color: $o-component-active-color;

    &::before {
        background-color: $o-component-active-bg !important;
    }
}
