// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ThreadView {
    min-height: 0;
}

.o_ThreadView_bottomPart {
    min-height: 0;
}

.o_ThreadView_channelMemberList {
    width: $o-mail-chat-sidebar-width;
}

.o_ThreadView_callSettingsMenu {
    width: $o-mail-chat-sidebar-width;
}

.o_ThreadView_core {
    min-width: 0;
}
