#header_background {
    background-color: #04bca6 !important;
}
#button_connect {
    background-color: #04bca6 !important;
}
#button_open_report {
    background-color: #04bca6 !important;
}

