// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_EmojiList {
    display: flex;
    flex-flow: row wrap;
    max-width: 200px;
}

