/** Shame css to counteract dark mode */
.o-spreadsheet .o-thread-popover {
    .text-primary {
        color: #714b67 !important;
    }

    .border,
    .border-top {
        border-color: #d8dadd !important;
    }

    .o-mail-Composer-bg {
        background-color: white !important;
        color: #374151 !important;
    }

    .o-mail-Composer .btn {
        color: white;
    }

    .o-mail-Composer-actions button,
    .o-mail-Message-actions button {
        color: #374151 !important;

        &:hover,
        &:focus {
            color: black !important;
        }
    }
}
