Source: odoo
Section: net
Priority: optional
Maintainer: OpenERP SA <sle@odoo.com>
Build-Depends: debhelper (>= 9.0), python, rsync
Standards-Version: 3.9.5.0
Homepage: http://www.odoo.com/
Vcs-Git: https://github.com/odoo/odoo

Package: odoo
Section: net
Architecture: all
Depends:
 ${misc:Depends},
 adduser,
 postgresql-client,
 python,
 python-dateutil,
 python-decorator,
 python-docutils,
 python-feedparser,
 python-imaging,
 python-jinja2,
 python-ldap,
 python-libxslt1,
 python-lxml,
 python-mako,
 python-mock,
 python-openid,
 python-passlib,
 python-psutil,
 python-psycopg2,
 python-pybabel,
 python-pychart,
 python-pydot,
 python-pyparsing,
 python-pypdf,
 python-reportlab,
 python-requests,
 python-simplejson,
 python-tz,
 python-unittest2,
 python-vatnumber,
 python-vobject,
 python-werkzeug,
 python-xlwt,
 python-yaml,
Conflicts: tinyerp-server, openerp-server, openerp-web, openerp
Replaces: tinyerp-server, openerp-server, openerp-web, openerp
Recommends:
 antiword,
 graphviz,
 ghostscript,
 postgresql,
 python-gevent,
 poppler-utils
Description: OpenERP Enterprise Resource Management
 OpenERP, previously known as TinyERP, is a complete ERP and CRM. The main
 features are accounting (analytic and financial), stock management, sales and
 purchases management, tasks automation, marketing campaigns, help desk, POS,
 etc. Technical features include a distributed server, flexible workflows, an
 object database, a dynamic GUI, customizable reports, and an XML-RPC
 interface.
