Source: openerp
Section: net
Priority: optional
Maintainer: OpenERP SA <al@openerp.com>
Build-Depends: debhelper (>= 7.0.50~), python
Build-Depends-Indep:
 python-libxslt1, python-lxml, python-pychart, python-pydot, python-psycopg2,
 python-reportlab
Standards-Version: 3.9.1
Homepage: http://www.openerp.com/
Vcs-Bzr: https://code.launchpad.net/openobject

Package: openerp
Section: net
Architecture: all
Depends:
 ${misc:Depends}, adduser, python, python-dateutil, python-libxslt1,
 python-lxml, python-psycopg2, python-pydot, python-pychart, python-reportlab,
 python-tz, python-pyparsing, python-yaml, python-mako, postgresql-client
Conflicts: tinyerp-server, openerp-server
Replaces: tinyerp-server, openerp-server
Recommends:
 graphviz, ghostscript, postgresql, python-imaging, python-matplotlib
Description: OpenERP Enterprise Resource Management
 OpenERP, previously known as TinyERP, is a complete ERP and CRM. The main
 features are accounting (analytic and financial), stock management, sales and
 purchases management, tasks automation, marketing campaigns, help desk, POS,
 etc. Technical features include a distributed server, flexible workflows, an
 object database, a dynamic GUI, customizable reports, and NET-RPC and XML-RPC
 interfaces.

