[options]
db_host = localhost
db_port = 5432
db_user = 
db_password = 
default_productivity_apps = True
xmlrpc_port = 8079
proxy_mode = True
admin_passwd = 
gevent_port = 8082
workers = 4
max_cron_threads = 1
longpolling_port = False
