[Unit]
Description=Odoo Open Source ERP and CRM
Documentation=https://www.odoo.com/page/docs
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/usr/bin/odoo --config /etc/odoo/odoo.conf --logfile /var/log/odoo/odoo-server.log
KillMode=mixed
PrivateTemp=yes

[Install]
WantedBy=multi-user.target

