#!/usr/bin/make -f

%:
	dh ${@} --with quilt

override_dh_auto_clean:
	dh_auto_clean

	-find $(CURDIR) -type f -name "*.pyc" | xargs rm -f

override_dh_auto_install:
	python setup.py install --no-compile --prefix=$(CURDIR)/debian/openerp-server/usr

	# Adjusting program location
	sed -i -e 's|cd .*python.*/site-packages|cd /usr/lib|' debian/openerp-server/usr/bin/openerp-server
	mv debian/openerp-server/usr/lib/python*/site-packages/openerp-server debian/openerp-server/usr/lib
	rm -rf debian/openerp-server/usr/lib/python*

	# Fixing permissions
	find debian/openerp-server/usr/lib/openerp-server/addons -type f -print0 | xargs -0 chmod 0644

	# Removing double files
	rm -rf debian/openerp-server/usr/share/doc/openerp-server-*

override_dh_installchangelogs:
	dh_installchangelogs doc/Changelog

override_dh_installinit:
	dh_installinit --update-rcd-params='defaults 21'
