.o_field_event_state_selection {
    .o_status {
        width: $o-bubble-color-size-xl;
        height: $o-bubble-color-size-xl;
        text-align: center;
    }

    .oi {
        font-size: $o-bubble-color-size-xl;
    }
}

