label.o_wbooth_category_unavailable {
    opacity: 0.5;
    overflow: hidden;
}

#o_wbooth_contact_details_form {

    .col-form-label {
        width: 200px;
    }

}

.o_wbooth_registration_form label {

    position: relative;

    & > input {
        visibility: hidden;
        position: absolute;
    }

    & > input + div {
        opacity: .4;
        border: 3px solid $o-gray-600;
    }

    &:not(.o_wbooth_category_unavailable) > input + div {
        cursor: pointer;
    }

    &:not(.o_wbooth_category_unavailable):hover > input + div {
        opacity: .8;
    }

    & > input:checked + div,
    &:hover > input:checked + div {
        opacity: 1;
    }

    & img {
        min-height: 250px;
    }

}

.o_wbooth_booths .form-check{
    position: relative;
    padding-left: 0;

    & > input {
        visibility: hidden;
        position: absolute;
    }
    & > input + label {
        opacity: .4;
        padding: 1rem;
        border: 1px solid $o-gray-600;
    }

    &:hover > input + label  {
        opacity: 1;
    }

    & > input:checked + label,
    &:hover > input:checked + label {
        opacity: 1;
        background-color: $o-gray-600;
        color: $o-white;
    }

}

.o_wevent_booth_category {
    background-color: $o-wevent-bg-color-light;
}

.o_wevent_booth_order_progress {
    li {
        &.o_current_stage {
            font-weight: bold;
        }
    }
}
