/* Star Widget */
.o_rating_star_card{
    margin-bottom: 5px;
}

.o_rating_star_card .stars {
    display: inline-block;
    color: #FACC2E;
    margin-right: 15px;
}

.o_rating_star_card .stars i {
    margin-right: -3px;
    text-align: center;
}

.o_rating_star_card .stars.enabled{
    cursor: pointer;
}

.o_rating_star_card .rate_text{
    display: inline-block;
}


/* Rating Card */
.o_rating_card .progress {
    position: relative;
    height: 25px;
    margin-bottom: 3px;
}
.o_rating_card .progress-bar {
    background-color: #FACC2E;
}
.o_rating_card .progress > .progress_type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 10px 2px 10px;
    color: rgb(120, 100, 100);
    width: 100%;
}
.o_rating_card .progress > .progress_completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}