.o_loyalty_kanban_inline {

    width: 100% !important;

    .o_kanban_renderer {
        padding: 0px !important;

        .o_kanban_record {
            margin-right: 0px;
            margin-left: 0px;
            width: 100%;

            .o_field_many2many_tags .o_tag span {
                // Remove the small ball before the tags
                width: auto !important;
                height: auto !important;
                background-color: none !important;
            }
        }
    }

    .o_loyalty_kanban_card_right {
        text-align: center;
    }
}

.loyalty-templates-container {
    pointer-events: auto;

    .loyalty-template {
        padding: map-get($spacers, 2) !important;
        cursor: pointer !important;

        &:hover {
            background: var(--LoyaltyTemplate-background-hover, #{$o-gray-200});
        }
    }
}

.loyalty-rule-form {
    // The base width for this field is 100px which is problematic for us.
    .o_field_widget.o_field_monetary.o_input > input {
        width: 100%;
    }
}

.o_loyalty_program_list_view_view .o_list_renderer .o_view_nocontent{
    @include media-breakpoint-down(lg){
        height: fit-content;
    }
}
