/* This css contains the styling specific to the 'normal mode'. (as opposite to the embedded mode) */
/* In embedded mode [1], this stylesheet won't be loaded. */

/* [1] The web client features an embedded mode in which the webclient */
/*     or a part of it can be started in any element of any webpage host. */

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
}
