.o_image {
    background-image: url('/web/static/src/img/mimetypes/unknown.png');
    background-size: contain;
    width: 100px;
    height: 80px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}
.o_image[data-mimetype^='image'] {
    background-image: url('/web/static/src/img/mimetypes/image.png');
}
.o_image[data-mimetype^='audio'] {
    background-image: url('/web/static/src/img/mimetypes/audio.png');
}
.o_image[data-mimetype*='octet-stream'], .o_image[data-mimetype*='download'] {
    background-image: url('/web/static/src/img/mimetypes/binary.png');
}
.o_image[data-mimetype^='video'], .o_image[title$='.mp4'], .o_image[title$='.avi'] {
    background-image: url('/web/static/src/img/mimetypes/video.png');
}
.o_image[data-mimetype$='archive'], .o_image[data-mimetype$='compressed'], .o_image[data-mimetype*='zip'], .o_image[data-mimetype$='tar'], .o_image[data-mimetype*='package'] {
    background-image: url('/web/static/src/img/mimetypes/archive.png');
}
.o_image[data-mimetype='application/pdf'] {
    background-image: url('/web/static/src/img/mimetypes/pdf.png');
}
.o_image[data-mimetype^='text'], .o_image[data-mimetype$='rtf'] {
    background-image: url('/web/static/src/img/mimetypes/text.png');
}
.o_image[data-mimetype^='text-master'], .o_image[data-mimetype*='document'], .o_image[data-mimetype*='msword'] {
    background-image: url('/web/static/src/img/mimetypes/document.png');
}
.o_image[data-mimetype$='postscript'], .o_image[data-mimetype$='cdr'], .o_image[data-mimetype$='xara'], .o_image[data-mimetype$='cgm'], .o_image[data-mimetype$='graphics'], .o_image[data-mimetype$='draw'], .o_image[data-mimetype*='svg'] {
    background-image: url('/web/static/src/img/mimetypes/vector.png');
}
.o_image[data-mimetype*='xml'], .o_image[data-mimetype$='css'], .o_image[data-mimetype$='html'] {
    background-image: url('/web/static/src/img/mimetypes/html.png');
}
.o_image[data-mimetype*='-image'], .o_image[data-mimetype*='diskimage'] {
    background-image: url('/web/static/src/img/mimetypes/disk.png');
}
.o_image[data-mimetype$='csv'], .o_image[data-mimetype*='vc'], .o_image[data-mimetype*='excel'], .o_image[data-mimetype$='numbers'], .o_image[data-mimetype$='calc'], .o_image[data-mimetype*='mods'], .o_image[data-mimetype*='spreadsheet'] {
    background-image: url('/web/static/src/img/mimetypes/spreadsheet.png');
}
.o_image[data-mimetype^='key'] {
    background-image: url('/web/static/src/img/mimetypes/certificate.png');
}
.o_image[data-mimetype*='presentation'], .o_image[data-mimetype*='keynote'], .o_image[data-mimetype*='teacher'], .o_image[data-mimetype*='slideshow'], .o_image[data-mimetype*='powerpoint'] {
    background-image: url('/web/static/src/img/mimetypes/presentation.png');
}
.o_image[data-mimetype*='cert'], .o_image[data-mimetype*='rules'], .o_image[data-mimetype*='pkcs'], .o_image[data-mimetype$='stl'], .o_image[data-mimetype$='crl'] {
    background-image: url('/web/static/src/img/mimetypes/certificate.png');
}
.o_image[data-mimetype*='-font'] {
    background-image: url('/web/static/src/img/mimetypes/font.png');
}
.o_image[data-mimetype*='-dvi'] {
    background-image: url('/web/static/src/img/mimetypes/print.png');
}
.o_image[data-mimetype*='script'], .o_image[data-mimetype$='bat'], .o_image[data-mimetype$='cgi'], .o_image[data-mimetype$='-c'], .o_image[data-mimetype*='java'], .o_image[data-mimetype*='ruby'] {
    background-image: url('/web/static/src/img/mimetypes/script.png');
}
.o_image[data-mimetype*='calendar'], .o_image[data-mimetype$='ldif'] {
    background-image: url('/web/static/src/img/mimetypes/calendar.png');
}
