<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_finance_legal_statement"
              name="Financial Reports"
              sequence="10"
              parent="account.menu_finance_reports"/>

    <menuitem id="menu_finance_partner_reports"
              name="Partner Reports"
              sequence="20"
              parent="account.menu_finance_reports"/>

    <menuitem id="menu_finance_audit_reports"
              name="Audit Reports"
              sequence="30"
              parent="account.menu_finance_reports"/>

    <record id="account.account_reports_management_menu" model="ir.ui.menu">
        <field name="sequence" eval="40"/>
    </record>

</odoo>

