.o-mail-MessagingMenu {
    --mail-MessagingMenu-filterBorderColor: #{rgba($dark, .35)};
    --mail-MessagingMenu-filterActiveBgOpacity: 0.2;
    --mail-MessagingMenu-filterActiveBorderOpacity: 0.5;
}
