# Note this package in the repos is known just as `faker`, previously known as `python3-fake-factory`.
# The latter is still present in the repos, but is not actively maintained.
faker==22.0.0 ; python_version >= '3.12' and python_version < '3.13'  # (Noble)
faker==33.3.1 ; python_version >= '3.13' and python_version < '3.14'  # (Trixie)
faker==39.0.0 ; python_version >= '3.14'  # (Resolute)
