// ======= ANIMATIONS =======
// Generic fade-in
@keyframes o-wblog-fade-In {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes o-wblog-loader {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

.website_blog {
    --Avatar-size: 2.5rem;

    .text-wrap-pretty {
        text-wrap: pretty;
    }

    // Blog Index Pages
    // ==============================================

    #o_wblog_posts_loop {

        .o_wblog_author_avatar {
            --Avatar-size: 1.5rem;
        }

        // Needed for sticky promoted layout
        clip-path: inset(0);

        .o_wblog_post_date {
            width: 7ch;
        }

        .o_wblog_teaser_list {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .o_wblog_heading_list_no_cover {
            max-width: 40ch;
        }

        .o_wblog_teaser_list_no_cover {
            max-width: 65ch;
        }

        .o_wblog_unpublished {
            @include o-position-absolute(0, 0, auto, auto);
        }
    }

    // Blog Post Pages
    // ==============================================

    .o_wblog_post_page_cover_regular {
        --aspect-ratio: 50%;

        @include media-breakpoint-down(lg) {
            --aspect-ratio: calc(3 / 4 * 100%);
        }
    }

    .o_wblog_post_page_cover_split {
        --aspect-ratio: calc(10 / 16 * 100%)
    }

    .breadcrumb-item {
        @include media-breakpoint-down(lg) {
            --breadcrumb-divider: "";
        }
    }

    #o_wblog_post_main.o_wblog_post_main_transition {
        animation: o-wblog-fade-In 1s cubic-bezier(.02, .01, .47, 1);
    }
}
