:not(.dropstart) > .dropdown-item {
    &.active, &.selected {
        &:not(.dropdown-item_active_noarrow)::before {
            top: 50%;
            transform: translate(-1.5em, -50%);
        }
    }
}

.dropdown-toggle .o_select_item_only {
    display: none; 
}
