$o-hb-form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$o-we-fg-light}'/></svg>") !default;
$o-hb-form-switch-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$o-we-fg-lighter}'/></svg>") !default;
$o-hb-form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$o-we-bg-dark}'/></svg>") !default;

$o-hb-form-check-input-height: 1.2em !default;
$o-hb-form-check-input-checked-bg-color: $o-we-color-success !default;
$o-hb-form-check-input-checked-border-color: $o-we-color-success !default;
