@charset "UTF-8";
/* ---- SNIPPET EDITOR ---- {{{ */
#oe_snippets #o_left_bar, #oe_snippets #o_arrow {
  position: fixed;
  top: 34px;
  left: 0px;
  bottom: 0;
  background: #282828;
  -moz-box-shadow: 0px 10px 10px -10px black inset;
  -webkit-box-shadow: 0px 10px 10px -10px black inset;
  box-shadow: 0px 10px 10px -10px black inset;
  font-size: 14px;
}
#oe_snippets #o_left_bar .snippets_loading, #oe_snippets #o_arrow .snippets_loading {
  color: white;
}
#oe_snippets #o_arrow {
  z-index: 1009;
  width: 24px;
  opacity: 0.75;
}
#oe_snippets #o_arrow > * {
  position: absolute;
  color: white;
}
#oe_snippets #o_arrow div {
  -moz-transform: translateX(-36%) rotate(-90deg);
  -ms-transform: translateX(-36%) rotate(-90deg);
  -webkit-transform: translateX(-36%) rotate(-90deg);
  transform: translateX(-36%) rotate(-90deg);
  top: 50%;
  white-space: nowrap;
}
#oe_snippets #o_arrow .fa {
  width: 100%;
  left: 40%;
}
#oe_snippets #o_left_bar {
  left: -228px;
  z-index: 1010;
  width: 210px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
#oe_snippets #o_left_bar ul {
  text-align: center;
  margin: 0;
  padding: 6px 0;
  list-style-type: none;
}
#oe_snippets #o_left_bar ul li {
  display: inline-block;
  padding: 0 3px;
}
#oe_snippets #o_left_bar ul li a {
  color: #aaa;
}
#oe_snippets #o_left_bar ul li .fa-stack {
  overflow: hidden;
}
#oe_snippets #o_left_bar ul li.active a.fa, #oe_snippets #o_left_bar ul li.active .fa-stack-1x {
  color: #428bca;
}
#oe_snippets.o_open #o_left_bar {
  left: 0;
}
#oe_snippets .o_panel {
  margin: 0;
  border: 0;
  width: 210px;
}
#oe_snippets .o_panel_header {
  background: #dff0d8;
  padding: 1px 8px;
  color: #414141;
  text-align: center;
}
#oe_snippets .o_panel_header .fa-stack {
  overflow: hidden;
  font-size: 1em;
}
#oe_snippets .o_panel_body {
  white-space: normal;
  background: black;
  padding: 7px 3px;
}
#oe_snippets .o_panel_body > div {
  background: black;
}
#oe_snippets .o_panel_body > div label {
  width: 44px;
  color: #fff;
  padding-left: 10px;
}
#oe_snippets .o_panel_body > div label div {
  width: 100px;
  text-align: center;
  -moz-transform: translate(-39px, 44px);
  -webkit-transform: translate(-39px, 44px);
  transform: translate(-39px, 44px);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.oe_snippet {
  display: inline-block;
  vertical-align: top;
  width: 93px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  position: relative;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}
.oe_snippet .oe_snippet_thumbnail {
  text-align: center;
  height: 100%;
  background: transparent;
  color: white;
  position: relative;
}
.oe_snippet .oe_snippet_thumbnail:hover .oe_snippet_thumbnail_img {
  -moz-transform: scale(0.95, 0.95);
  -ms-transform: scale(0.95, 0.95);
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}
.oe_snippet .oe_snippet_thumbnail .oe_snippet_thumbnail_title {
  font-size: 12px;
  display: block;
  text-shadow: 0 0 2px black;
}
.oe_snippet .oe_snippet_thumbnail .oe_snippet_thumbnail_img {
  height: 74px;
  width: 92px;
  background-size: cover;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.oe_snippet .oe_snippet_thumbnail span, .oe_snippet .oe_snippet_thumbnail div {
  line-height: 18px;
}
.oe_snippet > :not(.oe_snippet_thumbnail) {
  display: none !important;
}
.oe_snippet.disable .oe_snippet_thumbnail {
  background-color: rgba(255, 0, 0, 0.75);
}
.oe_snippet.disable .oe_snippet_thumbnail_img {
  opacity: 0.8;
}

#oe_snippets .oe_snippet_thumbnail {
  background: #747474, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: #747474, -moz-radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4));
  background: #747474, -webkit-radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4));
  background: #747474, radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4));
}

/* ---- SNIPPETS DROP ZONES ---- {{{ */
.oe_drop_zone.oe_insert {
  display: block;
  height: 48px;
  margin: 0px;
  margin-top: -4px;
  margin-bottom: -44px;
  -moz-transition: margin 250ms linear;
  -o-transition: margin 250ms linear;
  -webkit-transition: margin 250ms linear;
  transition: margin 250ms linear;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
.oe_drop_zone.oe_insert:not(.oe_vertical):before {
  content: "";
  display: block;
  border-top: dashed 2px rgba(209, 178, 255, 0.72);
  position: relative;
  top: 0px;
}
.oe_drop_zone.oe_insert.oe_hover:before {
  border-top: dashed 2px rgba(116, 255, 161, 0.72);
}
.oe_drop_zone.oe_insert.oe_vertical {
  width: 48px;
  float: left;
  position: relative;
  margin: 0px -24px !important;
}
.oe_drop_zone.oe_insert.oe_vertical_text {
  width: 48px;
  float: none;
  display: inline-block;
  position: relative;
  margin: 0px -24px !important;
}
.oe_drop_zone.oe_insert.oe_overlay {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(153, 0, 255, 0.5);
}

.oe_drop_zone, .oe_drop_zone_style {
  border: none;
  background: rgba(153, 0, 255, 0.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.oe_drop_zone.oe_hover, .oe_drop_zone_style.oe_hover {
  background: rgba(0, 255, 133, 0.3);
  z-index: 1001;
}

.oe_drop_zone_style {
  color: white;
  height: 48px;
  margin-bottom: 32px;
  padding-top: 12px;
}

/* ---- SNIPPET MANIPULATOR ----  {{{ */
#oe_manipulators {
  position: absolute;
  top: 0;
  z-index: 1050;
}
.resize_editor_busy {
  background-color: rgba(0, 0, 0, 0.3);
}

.oe_overlay {
  display: none;
  height: 0;
  position: absolute;
  background: transparent;
  z-index: 1001;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: opacity 100ms linear;
  -o-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.oe_overlay.oe_active {
  display: block;
}
.oe_overlay .oe_handle {
  display: block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: -2px;
}
.oe_overlay .oe_handle > div {
  z-index: 1;
  position: absolute;
  border-style: dashed;
  border-width: 1px;
  border-color: #666666;
  -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5), 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5), 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5), 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
}
.oe_overlay .oe_handle.e:before, .oe_overlay .oe_handle.w:before, .oe_overlay .oe_handle.s:before, .oe_overlay .oe_handle.n:before, .oe_overlay .oe_handle.size .oe_handle_button {
  z-index: 2;
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  margin: -9px;
  padding-left: 1px;
  font-size: 14px;
  line-height: 14px;
  font-family: FontAwesome;
  color: rgba(0, 0, 0, 0.5);
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
}
.oe_overlay .oe_handle.e:hover:before, .oe_overlay .oe_handle.w:hover:before, .oe_overlay .oe_handle.s:hover:before, .oe_overlay .oe_handle.n:hover:before {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  -moz-box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.7);
}
.oe_overlay .oe_handle.e, .oe_overlay .oe_handle.w {
  top: 4px;
  height: 100%;
}
.oe_overlay .oe_handle.e:before, .oe_overlay .oe_handle.w:before {
  content: "";
  line-height: 16px;
}
.oe_overlay .oe_handle.e > div, .oe_overlay .oe_handle.w > div {
  width: 0;
  height: 100%;
  top: 2px;
  left: 8px;
}
.oe_overlay .oe_handle.e {
  left: auto;
  right: -6px;
  cursor: w-resize;
}
.oe_overlay .oe_handle.w {
  left: -6px;
  cursor: e-resize;
}
.oe_overlay .oe_handle.s, .oe_overlay .oe_handle.n {
  left: 2px;
  width: 100%;
}
.oe_overlay .oe_handle.s:before, .oe_overlay .oe_handle.n:before {
  content: "";
  text-align: center;
  padding: 1px;
}
.oe_overlay .oe_handle.s > div, .oe_overlay .oe_handle.n > div {
  width: 100%;
  height: 0;
  top: 7px;
  left: 1px;
}
.oe_overlay .oe_handle.s {
  top: auto;
  cursor: n-resize;
}
.oe_overlay .oe_handle.n {
  cursor: s-resize;
}
.oe_overlay .oe_handle.n > div {
  top: 5px;
}
.oe_overlay .oe_handle.size {
  z-index: 3;
  top: auto;
  left: 50%;
  bottom: -6px;
  margin-left: -50px;
}
.oe_overlay .oe_handle.size .oe_handle_button {
  position: relative;
  z-index: 3;
  text-align: center;
  margin-left: -52px;
  margin-top: -10px;
  left: 0px;
}
.oe_overlay .oe_handle.size .oe_handle_button:hover {
  background: rgba(30, 30, 30, 0.8);
  color: #fff;
  -moz-box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.7);
}
.oe_overlay .oe_handle.size .size {
  position: absolute;
  width: 64px;
  cursor: row-resize;
  top: 9px;
  margin-left: 52px;
  padding: 0 5px;
}
.oe_overlay .oe_handle.size .auto_size {
  position: absolute;
  width: 100px;
  top: 9px;
  cursor: pointer;
}
.oe_overlay .oe_handle.readonly {
  cursor: auto !important;
}
.oe_overlay .oe_handle.readonly:before, .oe_overlay .oe_handle.readonly.size {
  display: none !important;
}
.oe_overlay .icon.btn {
  display: inline-block;
}
.oe_overlay .oe_overlay_options {
  position: absolute;
  width: 100%;
  top: -35px;
  z-index: 1002;
}
.oe_overlay .oe_overlay_options > .btn-group {
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.oe_overlay .oe_overlay_options > .btn-group > * {
  cursor: pointer;
  -ms-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
.oe_overlay .oe_overlay_options .btn, .oe_overlay .oe_overlay_options a {
  cursor: pointer;
}
.oe_overlay .oe_overlay_options .dropdown {
  display: inline-block;
}
.oe_overlay .oe_overlay_options .dropdown-menu {
  text-align: left;
  min-width: 180px;
}
.oe_overlay .oe_overlay_options .dropdown-menu select, .oe_overlay .oe_overlay_options .dropdown-menu input {
  display: block;
}
.oe_overlay.block-w-left .w:before {
  content: "" !important;
}
.oe_overlay.block-w-right .w:before {
  content: "" !important;
}
.oe_overlay.block-w-left.block-w-right .w:before {
  display: none !important;
}
.oe_overlay.block-e-left .e:before {
  content: "" !important;
}
.oe_overlay.block-e-right .e:before {
  content: "" !important;
}
.oe_overlay.block-e-left.block-e-right .e:before {
  display: none !important;
}
.oe_overlay.block-s-top .s:before {
  content: "" !important;
}
.oe_overlay.block-s-bottom .s:before {
  content: "" !important;
}
.oe_overlay.block-n-top .n:before {
  content: "" !important;
}
.oe_overlay.block-n-bottom .n:before {
  content: "" !important;
}
.oe_overlay.o_keypress {
  opacity: 0;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -transition: 0.8s;
}

.s-resize-important, .s-resize-important * {
  cursor: s-resize !important;
}

.n-resize-important, .n-resize-important * {
  cursor: n-resize !important;
}

.e-resize-important, .e-resize-important * {
  cursor: e-resize !important;
}

.w-resize-important, .w-resize-important * {
  cursor: w-resize !important;
}

.move-important, .move-important * {
  cursor: move !important;
}
