/* COLORS --------------------------------------------------------- */

$color-primary:         $color-orange;
$color-success:         $color-red;
$color-info:            $color-yellow-dark;
$color-warning:         $color-red-dark;
$color-danger:          $color-orange-dark;
