 /*TODO review BS4 custo for theme default*/

 /* GRAYS --------------------------------------------------------- */

 $gray-900: lighten(#000, 30%);

 /* TEXTS & LINKS --------------------------------------------------- */

 $text-muted: $color-primary;
 $link-color: $color-primary;
 $link-hover-color: $color-success;

/* BUTTONS --------------------------------------------------------- */

 $btn-primary-bg: $color-silver;
 $btn-success-bg: $color-concrete;
 $btn-info-bg: $color-purple;
 $btn-warning-bg: $color-purple-light;
 $btn-danger-bg: $color-red;
