/* COLORS --------------------------------------------------------- */

$color-primary:         $color-blue;
$color-success:         $color-turquoise;
$color-info:            $color-green;
$color-warning:         $color-asphalt;
$color-danger:          $color-midnight;
