// Overal page bg-color: Blend it 'over' the color chosen by the user
// ($body-bg), rather than force it replacing the variable's value.
$o-nursery-color-bg: mix($body-bg, #efeff4);

.o_nursery_body {
    background-color: $o-nursery-color-bg;
}

.o_nursery_wrap {

    .o_nursery_gradient {
        background-image: linear-gradient(120deg, #875A7B, darken(#875A7B, 10%));
	}

    .o_nursery_banner {
        max-height: 10rem;
        object-fit: cover;
    }

    // Truncate text descriptions to a specific number of lines.
    // If '-webkit-line-clamp' is not supported, a less effective
    // 'line-height' fallback will be used instead.
    $truncate-limits: 2, 3, 10;

    @each $limit in $truncate-limits {
        .o_nursery_text_truncate_#{$limit} {
            $line-height: 1.3;
            max-height: $limit * $line-height * 1em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            line-height: $line-height;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: $limit;
        }
    }

    .o_nursery_bordered {
        border: 1px solid $border-color;
    }
}
