.o_main_navbar {
    background-color: #FFC100 !important;
    border-bottom: 1px solid #cc9a00 !important;
    color: black !important;
}

.btn-fill-primary, .btn-primary {
    color: #212529 !important;
    background-color: #FFC100 !important;
    border-color: #FFC100 !important;
}


.o_main_navbar .o_menu_systray > * > a, .o_main_navbar .o_menu_systray > * > .dropdown > a, .o_main_navbar .o_menu_systray > * > button, .o_main_navbar .o_menu_systray > * > label, .o_main_navbar .o_menu_brand, .o_main_navbar .o_navbar_apps_menu .dropdown-toggle, .o_main_navbar .dropdown-toggle, .o_main_navbar .o_nav_entry {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: auto;
    height: var(--o-navbar-height, 40px);
    user-select: none;
    background: transparent;
    font-size: 1.08333333rem;
    color: rgba(0, 0, 0, 0.9) !important;
}

:root {
    --100: #f8f9fa;
    --200: #e9ecef;
    --300: #dee2e6;
    --400: #ced4da;
    --500: #adb5bd;
    --600: #6c757d;
    --700: #495057;
    --800: #343a40;
    --900: #212529;
    --white-85: rgba(255, 255, 255, 0.85);
    --white-75: rgba(255, 255, 255, 0.75);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-25: rgba(255, 255, 255, 0.25);
    --black-75: rgba(0, 0, 0, 0.75);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-25: rgba(0, 0, 0, 0.25);
    --black-15: rgba(0, 0, 0, 0.15);
    --black: #000000;
    --white: #FFFFFF;
    --o-cc1-text: #212529;
    --o-cc1-headings: #212529;
    --o-cc1-h2: #212529;
    --o-cc1-h3: #212529;
    --o-cc1-h4: #212529;
    --o-cc1-h5: #212529;
    --o-cc1-h6: #212529;
    --o-cc1-link: #b38700;
    --o-cc1-btn-primary: #FFC100;
    --o-cc1-btn-primary-border: #FFC100;
    --o-cc1-btn-secondary: #fff;
    --o-cc1-btn-secondary-border: #fff;
    --o-cc2-text: #212529;
    --o-cc2-h2: #35979c;
    --o-cc2-h3: #35979c;
    --o-cc2-h4: #35979c;
    --o-cc2-h5: #35979c;
    --o-cc2-h6: #35979c;
    --o-cc2-link: #b38700;
    --o-cc2-btn-primary: #FFC100;
    --o-cc2-btn-primary-border: #FFC100;
    --o-cc2-btn-secondary: #fff;
    --o-cc2-btn-secondary-border: #fff;
    --o-cc3-text: #fff;
    --o-cc3-headings: #fff;
    --o-cc3-h2: #fff;
    --o-cc3-h3: #fff;
    --o-cc3-h4: #fff;
    --o-cc3-h5: #fff;
    --o-cc3-h6: #fff;
    --o-cc3-link: #ffd44d;
    --o-cc3-btn-primary: #FFC100;
    --o-cc3-btn-primary-border: #FFC100;
    --o-cc3-btn-secondary-border: #F6F6F6;
    --o-cc4-text: #fff;
    --o-cc4-headings: #fff;
    --o-cc4-h2: #fff;
    --o-cc4-h3: #fff;
    --o-cc4-h4: #fff;
    --o-cc4-h5: #fff;
    --o-cc4-h6: #fff;
    --o-cc4-link: #16181b;
    --o-cc4-btn-primary-border: #383E45;
    --o-cc4-btn-secondary-border: #F6F6F6;
    --o-cc5-text: #fff;
    --o-cc5-h2: #FFFFFF;
    --o-cc5-h3: #FFFFFF;
    --o-cc5-h4: #FFFFFF;
    --o-cc5-h5: #FFFFFF;
    --o-cc5-h6: #FFFFFF;
    --o-cc5-link: #ffd44d;
    --o-cc5-btn-primary: #FFC100;
    --o-cc5-btn-primary-border: #FFC100;
    --o-cc5-btn-secondary-border: #F6F6F6;
    --o-grid-gutter-width: 32px;
    --o-md-container-max-width: 720px;
}

.o_searchview_facet .o_searchview_facet_label {
    background: var(--SearchBar-facet-background, #FFC100) !important;
    color: var(--SearchBar-facet-color, rgba(0, 0, 0, 0.9)) !important;
}


.o_tooltip::before {
    background: #FFC100 !important;
}

.btn-link {
    color: #e6ae00 !important;
}