.product-card .card-header img {
    aspect-ratio: 1;
    object-fit: contain;
}

.product-card:hover {
    border: (1 * $border-width) solid $primary;
}

.product-card.selected {
    border: (2 * $border-width) solid $primary;
}
