@charset "utf-8";
.openerp .oe_form_readonly .oe_timesheet_weekly .oe_timesheet_button_add {
  display: none;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_body {
  overflow-x: auto;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_body table {
  border-collapse: separate;
}
.openerp .oe_timesheet_weekly .oe_timesheet_white {
  color: white;
}
.openerp .oe_timesheet_daily .oe_timesheet_white {
  color: white !important;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_account, .openerp .oe_timesheet_daily .oe_timesheet_daily_account {
  font-weight: bold;
  color: black;
}
.openerp .oe_timesheet_weekly .oe_timesheet_background_white, .openerp .oe_timesheet_daily .oe_timesheet_background_white {
  background: white;
}
.openerp .oe_timesheet_weekly td input.oe_timesheet_box {
  padding-right: 2px !important;
  width: 40px;
  text-align: right;
  min-width: 0 !important;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_adding_tot {
  display: table;
  width: 100%;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_adding {
  display: table-cell;
  text-align: left;
}
.openerp .oe_timesheet_weekly .oe_timesheet_weekly_daytotal {
  float: right;
}
.openerp .oe_timesheet_weekly_day {
  border: 1px solid;
  border-color: #cccccc;
  border-left: 0px;
  border-bottom: 1px solid;
  border-style: solid solid solid none;
  border-color: #cccccc #cccccc #cccccc;
}
.openerp .oe_timesheet_weekly_day:first-child {
  border: none;
}
.openerp .oe_timesheet_weekly_day:nth-child(2) {
  border-left: 1px solid #cccccc;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.openerp .oe_timesheet_weekly_day:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  vertical-align: middle;
  opacity: 0.65;
}
.openerp .oe_timesheet_add_row .oe_form_field_many2one {
  display: inline-block;
  width: 200px;
}
.openerp .oe_timesheet_weekly .oe_hide {
  display: none;
}
.openerp .oe_mt {
  margin-top: 20px;
}
.openerp .oe_mb {
  margin-bottom: 20px;
}
.openerp .oe_timesheet_daily .oe_daily_header {
  width: 100%;
}
.openerp .oe_timesheet_daily .oe_nav {
  margin: 0px !important;
}
.openerp .oe_timesheet_daily h5 {
  color: #428bca !important;
}
.openerp .oe_timesheet_daily .oe_header {
  width: 12.5%;
}
.openerp .oe_timesheet_daily .oe_header.oe_active_day {
  background-color: #428bca;
  color: white !important;
}
.openerp .oe_timesheet_daily .oe_hide {
  display: none;
}
.openerp .oe_timesheet_daily .oe_timesheet_box {
  text-align: right;
}
.openerp .oe_timesheet_daily .oe_timesheet_daily_footer {
  width: 100%;
  max-width: 100%;
}
.openerp .oe_timesheet_daily .oe_timesheet_daily_footer h4 {
  text-align: right;
  color: #428bca;
  padding-right: 8px;
}
.openerp .oe_timesheet_daily .oe_timer {
  float: right !important;
}
.openerp .oe_timesheet_daily .oe_timer .oe_timer_clock {
  bottom: 0;
  right: 0px;
  left: initial;
  line-height: initial;
  width: initial;
}
.openerp .oe_timesheet_daily .oe_timesheet_daily_delete {
  float: right;
  padding-top: 5px;
}
.openerp .oe_timesheet_daily .oe_timesheet_daily_delete button {
  border: none;
  background: transparent;
  padding: 0;
}
.openerp .oe_timesheet_daily .oe_display_day_total {
  font-size: 12px;
}
