@charset "utf-8";
.openerp .oe_kanban_view .oe_kanban_crm_salesteams {
  /* Customize width and height of kanban according bootstrap3 */
  width: 357px;
  min-height: 254px !important;
  /* End of customize */
  cursor: default;
}
.openerp .oe_kanban_view .oe_kanban_salesteams_avatars img {
  width: 30px;
}
.openerp .oe_salesteams_kanban_content {
  margin-right: 16px;
}
.openerp .oe_kanban_view .oe_deadline {
    padding-left: 0.5em;
}
.openerp .oe_salesteam_kanban_view{
    margin-left: 0px;
    margin-right: -2px;
}
.openerp .oe_margin_top_16 {
  margin-top: 16px;
}