graft debian
graft doc
graft install
graft openerp
graft tests
graft win32
include README
include LICENSE
include MANIFEST.in
include gunicorn.conf.py
include openerp-server
include setup*
global-exclude *pyc *~    # Exclude possible garbage from previous graft.
