.o-mail-ChannelInvitation {
    width: Min(95vw, 400px);
    max-height: Min(calc(100vh - 140px), 530px);
}

.o-mail-ChannelInvitation-selectedList {
    max-height: 100px;
}

.o-mail-ChannelInvitation-avatar {
    width: $o-mail-Avatar-size;
    height: $o-mail-Avatar-size;
}
