[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
User=pi
Group=pi
ExecStartPre=sudo timedatectl set-ntp true
ExecStart=/usr/bin/python3 /home/pi/odoo/odoo-bin --config /home/pi/odoo/addons/point_of_sale/tools/posbox/configuration/odoo.conf --logfile=/var/log/odoo/odoo-server.log --load=hw_drivers,hw_escpos,hw_posbox_homepage,point_of_sale,web --max-cron-threads=0
Restart=on-failure
RestartSec=5s
StandardOutput=append:/var/log/odoo/odoo-server.log
StandardError=append:/var/log/odoo/odoo-server.log

[Install]
WantedBy=multi-user.target
