.o_mail_theme_selector {

    .o_mail_theme_selector_btn, .o_mail_theme_save_btn {
        .o-flex-display();
        .o-align-items(center);
        .o-justify-content(center);
        height: 34px;
        color: @o-we-color-text-normal;

        &:hover {
            color: @o-we-color-text-light;
        }
    }

    .o_mail_save_template_button {
        width: 40%;
        .o-position-absolute(@top: 0, @left: 0);
    }

    > a.dropdown-toggle {
        width: 60%;
        .o-position-absolute(@top: 0, @left: 40%);
    }

    &.open > a.dropdown-toggle {
        color: white;
        background-color: @o-we-color-dark;
    }

    .dropdown-menu {
        .o-position-absolute(@odoo-navbar-height - 1, -1px, -1px, -1px);
        margin: 0;
        border-radius: 0;
        overflow: auto;
        background-color: @o-we-color-dark;
        color: white;

        > li {
            margin: 0;

            > a {
                padding: 10px 10px;

                .o_thumb {
                    display: none;
                    background-size: cover;
                    padding-top: 50%;
                    border: 1px solid @o-we-color-light;
                    border-top: 1px solid @o-we-color-text-normal;

                    &.logo {
                        display: block;
                    }
                }
            }

            &:hover > a {
                background-color: @o-we-color-darker;

                .o_thumb {
                    border: 1px solid white;
                }
            }

            &.selected > a .o_thumb {
                border: 2px solid @odoo-brand-primary;
                background-color: @o-we-color-dark;
            }
        }
    }
}

body.o_force_mail_theme_choice {
    #oe_snippets {
        width: 100%;

        .o_mail_theme_selector {
            .o_mail_theme_selector_btn, .o_mail_theme_save_btn {
                display: none;
            }

            .dropdown-menu {
                display: block;

                li {
                    margin: 0;
                    float: left;
                    width: 100%;
                    max-width: 20%;

                    a {
                        .o-transition(all, 0.3s, ease);

                        .o_thumb {
                            display: none;
                            padding-top: 107%;
                            border: 1px solid @o-we-color-light;
                            border-top: 1px solid @o-we-color-text-normal;
                            box-shadow: 0 5px 10px fade(black, 80%);
                            will-change: transform;
                            .backface-visibility(hidden);
                            .o-transition(all, 0.3s);

                            &.small {
                                display: block;
                            }

                            @media screen and (min-width: 900px) {
                                &.small {
                                    display: none;
                                }
                                &.large {
                                    display: block;
                                }
                            }
                        }
                    }

                    &:hover a {
                        background-color: @o-we-color-dark;

                        .o_thumb {
                            box-shadow: 0 5px 30px 1px fade(black, 60%);
                        }
                    }

                    &.o_mass_mailing_themes_upgrade > a .o_thumb {
                        position: relative;
                        display: block;
                        border: 1px dashed white;
                        opacity: 0.2;

                        > .fa {
                            .o-position-absolute(0, 0, 0, 0);
                            text-align: center;
                            font-size: 50px;
                            color: white;

                            &::before {
                                vertical-align: middle;
                            }
                            &::after {
                                content: "";
                                display: inline-block;
                                height: 100%;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

.o_mass_mailing_snippet_menu {
    .o_mail_search_theme_input {
        color: white;
        background: @o-we-color-dark;
        border: 1px solid darken(@o-we-color-dark, 5%);
        box-shadow: 0px 0px 7px rgba(29, 29, 35, 0.89) inset;
    }

    .o_mail_switch_theme_btn {
        color:  @o-we-color-text-normal;
        border: 1px solid darken(@o-we-color-dark, 5%);
        &:hover {
            color: @o-we-color-text-light;
        }
        &.active {
            color: white;
            box-shadow: 0px 0px 7px rgba(29, 29, 35, 0.89) inset;
        }
    }
}

.o_mail_user_saved_templates {
    margin: 10px;
    position: relative;

    .o_mail_template_image {
        background-color: white;
        background-size: cover;
    }

    .o_mail_custom_template_name {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: @o-we-color-dark;
    }

    .o_mail_delete_template_btn {
        position: absolute;
        right: 0px;
        display: none;
        z-index: 1101;
    }

    &:hover {
       .o_mail_delete_template_btn {
            display: block;
        }
    }

    .o_mail_update_template_success {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

.o_mail_selected_image_area img {
    height: 128px;
    max-width: 100%;
    border: 1px solid @o-we-color-light;
    border-top: 1px solid @o-we-color-text-normal;
    box-shadow: 0 5px 10px fade(black, 80%);
}
