.openerp .oe_view_editor {
  width: 100%;
  border-collapse: collapse;
  margin-left: -12px;
  width: 100%;
  background-color: white;
  border-spacing: 0;
}
.openerp .oe_view_editor td {
  text-align: center;
  white-space: nowrap;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  font-size: 90%;
}
.openerp .oe_view_editor_field td {
  border: 0px !important;
}
.openerp .oe_view_editor tr:hover {
  background-color: #ecebf2;
}
