// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------
.o_EmojiSearchBar {
    margin: 0.5rem;
    border-bottom: 1px solid #C9CCD2;
}

.o_EmojiSearchBar:focus-within {
  border-bottom-color: #017e84;
}

.o_EmojiSearchBar_searchInput:focus {
    outline: none;
}

.o_EmojiSearchBar_icon {
    text-align: center;
    margin: auto;
}
