// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_MobileMessagingNavbarView {
    z-index: 1;
}

.o_MobileMessagingNavbarView_tab {
    flex-basis: 0;
}

.o_MobileMessagingNavbarView_tabIcon {
    margin-bottom: 4%;
}
