.module-icon, .module-desc {
  display: inline-block;
  vertical-align: top;
}

.module-icon {
  width: 80px;
  height: 80px;
  padding: 0 4px;
}

.module-desc {
  width: 220px;
  font-size: 13px;
  padding: 2px 4px 8px;
  color: #4c4c4c;
}

.module-desc h4 {
  margin: 3px 0;
  font-size: 13px;
}

.module-desc p {
  margin: 3px 0 5px;
}

.oe_kanban_record {
  margin: 5px 0;
  min-height: 80px;
}
