.row tr{
    background-color: #FFFFFF;
    font-size: 0.9em;
    height: 22px;
}

tr.ui-selected td {
    background-color: #CCCCCC;
}

.row:hover{
    background-color: #F3F3F3;
    color : blue;
}

.fields-selector-export {
    width: 100%;
    height: 400px;
}

.fields-selector-left {
    width: 45%;
}

div#left_field_panel {
    overflow: scroll;
    width: 100%;
    height: 400px;
    border: solid #999999 1px;
}

.fields-selector-center {
    width: 15%;
}

.fields-selector-right {
    width: 45%;
    height: 400px;
}

.fields-selector-export select{
    width: 100%;
    height: 100%;
}

.tree_header{
    border: 0.5px solid #E3E3E3;
    text-align: left;
    white-space: nowrap;
    padding: 4px 5px;
    background: url(/base_export/static/src/img/header.gif);
}


table.tree-grid{
    border: 1px solid #E3E3E3;
    text-align: left;
    white-space: nowrap;
    background-color:#E3E3E3;
    border-collapse: collapse;
    width: 100%;
}

table.tree-grid a:hover {
    color: blue;
    border: none;
}

table.tree-grid a {
    color: #5F5C5C;
    border: none;
}

.button {
	border: 1px solid #006;
}
