# Part of Odoo. See LICENSE file for full copyright and licensing details.

from odoo import fields, models


class HrVersion(models.Model):
    _inherit = ['hr.version']

    l10n_{{code}}_field = fields.Char()
