.o_field_many2one_avatar_leader_user {
    .dropdown-item {
        text-indent: 0 !important;
        .o_icon {
            height: var(--Avatar-size, #{$o-avatar-size});
            aspect-ratio: 1;
        }
    }
}
