.o_cp_action_menus {
    .o-dropdown {
        min-width: 5px;
    }
}

.o_cog_menu_item_icon {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

.o_cog_menu_item_icon > svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}
