.oe-slides-grid-thumbnail {
  background-color:#f8f8f8 !important;
  min-height: 280px;
}

.play_button {
  position:absolute;
  left:45%;
  top:20%;
  color: gray;
}

.badge-active {
  background-color: #428bca;
}