
/* ---- FOLLOW ---- */
a[data-follow]
    text-decoration: none !important
    z-index: 2
    .label
        padding: 5px 8px
    .css_unfollow, .css_follow, .css_unfollowed, .css_followed
        display: none
    &[data-follow='off']
        .css_unfollowed, &:hover .css_follow
            display: inline
        &:hover .css_unfollowed
            display: none
    &[data-follow='on']
        .css_followed, &:hover .css_unfollow
            display: inline
        &:hover .css_followed
            display: none

[data-follow='off']:not(a)
    >:not([data-follow])
        opacity: 0.5
[data-follow]:not(a)
    position: relative
    overflow: visible
    >[data-follow]
        position: absolute
        right: -6px
        top: -10px
        display: none
    /*&:hover > [data-follow]*/
    /*     display: block*/
