/* ---- FOLLOW ---- */
a[data-follow] {
  text-decoration: none !important;
  z-index: 2;
}
a[data-follow] .label {
  padding: 5px 8px;
}
a[data-follow] .css_unfollow, a[data-follow] .css_follow, a[data-follow] .css_unfollowed, a[data-follow] .css_followed {
  display: none;
}
a[data-follow][data-follow='off'] .css_unfollowed, a[data-follow][data-follow='off']:hover .css_follow {
  display: inline;
}
a[data-follow][data-follow='off']:hover .css_unfollowed {
  display: none;
}
a[data-follow][data-follow='on'] .css_followed, a[data-follow][data-follow='on']:hover .css_unfollow {
  display: inline;
}
a[data-follow][data-follow='on']:hover .css_followed {
  display: none;
}

[data-follow='off']:not(a) > :not([data-follow]) {
  opacity: 0.5;
}

[data-follow]:not(a) {
  position: relative;
  overflow: visible;
  /*&:hover > [data-follow] */
  /*     display: block */
}
[data-follow]:not(a) > [data-follow] {
  position: absolute;
  right: -6px;
  top: -10px;
  display: none;
}
