div.o_field_password_meter {
    position: relative;
}

meter.o_password_meter {
    position: absolute;
    height: 15px;
    bottom: calc(50% - 7px);
    right: 5px;
}

input.o_field_password:placeholder-shown + meter.o_password_meter {
    display: none;
}
