.o_kanban_dashboard.o_hr_department_kanban {
    --KanbanRecord-width: 450px;
    --KanbanRecord-width-small: 350px;
}

.o_employee_form {
    div.o_field_widget.oe_avatar {
        display: inline;
    }
}
