// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_MessageContextContainer {
    height: 40% !important;
    width: 25% !important;
    
}


.o_AttachmentViewer_main {
    z-index: -1;
    padding: ($o-navbar-height * 1.125) 0;
}

.o_AttachmentViewer {
    z-index: -1;
}