.o_field_resume_one2many {
    .o_resume_line_display_certification {
        .o_resume_line_desc:not(:hover) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
