.chair_box_website{
    text-align: center;
    border: 1px solid #666;
    padding: 10px 15px;
    box-shadow: 7px 8px 5px #888888;
    background-color: #337ab7;
    color: #000000;
}
.field_booking_chair{
    font-weight: bold;
}
input[type="text"]{
    width: 100%;
}
input[type="email"]{
    width: 100%;
}
input[type=checkbox] + label {
  color: #7c7bad;
  font-style: italic;
}
input[type=checkbox]:checked + label {
  color: #00a09d;
  font-style: normal;
}
select{
    width: 100%;
}
.selection_service{
    height: 6em;
    overflow: auto;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    background-color: #fcfcfc;
}
#booking_chair_details{
    height: 200px!important;
    text-align: center;
    border: 1px solid #666;
    padding: 15px 0px;
    box-shadow: 7px 8px 5px #888888;
    background-color:#7c7bad;
    border-radius:58px;
    color:#fff;
    margin-bottom: 10px;
}
