.o-LinkPreviewCard {
    max-width: $o-LinkPreview-width;

    .row {
        min-height: $o-LinkPreviewCard-height;
    }
}

.o-LinkPreviewCard-hasMultineLines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.o-LinkPreviewCard-imageLinkWrap {
    border-right: 1px solid $card-border-color;
}

.o-LinkPreviewImage img {
    max-height: $o-LinkPreview-height;
    max-width: $o-LinkPreview-width;
}

.o-LinkPreviewVideo {
    max-width: $o-LinkPreview-width;

    .row {
        min-height: $o-LinkPreviewCard-height;
    }
}

.o-LinkPreviewVideo-hasDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    &.o-LinkPreviewVideo-description {
        -webkit-line-clamp: 2;
    }
    &.o-LinkPreviewVideo-title {
        -webkit-line-clamp: 3;
    }
}

.o-LinkPreviewVideo-videoWrap {
    border-right: 1px solid $card-border-color;
}

.o-LinkPreviewVideo-play {
    background: #000000;

    i {
        color: #ffffff;
    }
}

.o-LinkPreview-aside {
    display: none;
}
.o-LinkPreviewCard:hover, .o-LinkPreviewImage:hover, .o-LinkPreviewVideo:hover {
    .o-LinkPreview-aside {
        display: block;
    }
}
