.o-mail-ActivityMenu {
    width: 350px;
    max-height: 400px;
    min-height: 50px;

    img {
        width: 40px;
        height: 40px;
    }

    .o-mail-ActivityGroup:hover {
        background-color: map-get($theme-colors, "light");
    }
}

.o-mail-ActivityMenu-empty {
    min-height: inherit;
}
