.o-mail-ActivityMenu {
    width: 350px;
    max-height: 400px;
    min-height: 50px;

    img {
        height: 3em;
        aspect-ratio: 1;
    }

    i {
        height: 3em;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.o-mail-ActivityMenu-empty {
    min-height: inherit;
}
