.o-mail-ChatWindow.o-focused {
    box-shadow: $box-shadow, 0 0 1px 1px rgba(lighten($o-action, 5%), 0.5) !important;
}

.o-mail-ChatWindow-command {
    &:hover {
        background-color: $gray-200;
    }
    &.o-active {
        background-color: mix($gray-100, $gray-200);
    }
}
