.o-mail-MessagingMenu-headerFilter {
    border: 1px solid transparent;

    &.o-active {
        background-color: rgba($o-action, .075);
        border-color: rgba($o-action, .1);
    }
}

.o_web_client.o-mail-discuss-systray-menu-open .o_main_navbar {
    @include media-breakpoint-down(md) {
        background-color: $o-navbar-background !important;
    }
}
