.oe_translate_examples {
    li {
        margin: 10px;
        padding: 4px;

        &[data-oe-translation-state] {
            background: $o-we-translated-content-color;
        }
        &[data-oe-translation-state="to_translate"] {
            background: $o-we-content-to-translate-color;
        }
    }
}
