.o_pager {
    display: flex;
    align-items: center;

    .o_pager_counter {
        min-width: $o-statbutton-height;
    }

    .o_pager_value {
        display: inline-block;
    }
    
    span.o_pager_value {
        border-bottom: 1px solid transparent;
    }
    
    input.o_pager_value {
        text-align: right;
        width: 60px;
        &:focus {
            outline: none;
        }
    }
}
