.o_pager {
    .btn-group {
        padding: map-get($spacers, 1)  map-get($spacers, 1);
        background: var(--o-Pager-backgroundColor, #{$o-view-background-color});
        border: var(--o-Pager-border, #{$border-width solid var(--border-color)});
        border-radius: calc(#{map-get($spacers, 1)} + #{$btn-border-radius});
    }

    .btn {
        --#{$prefix}btn-disabled-bg: transparent;
        --#{$prefix}btn-disabled-border-color: transparent;
        --#{$prefix}btn-border-color: transparent;
        --#{$prefix}btn-bg: transparent;
        --#{$prefix}btn-padding-x: #{map-get($spacers, 1) * 1.5};
        --#{$prefix}btn-padding-y: #{map-get($spacers, 1) * 0.5};
        --#{$prefix}btn-hover-border-color: transparent;
        --#{$prefix}btn-hover-bg: #{rgba($o-gray-200, 0.5)};
        --#{$prefix}btn-active-bg: #{$o-gray-200};
        --#{$prefix}btn-active-border-color: transparent;
        --#{$prefix}gradient: none;

        border-radius: var(--border-radius) !important;
    }
}
