@charset "UTF-8";
.oe_event_input_right {
  padding-left: 16%;
}
.oe_event_icon_left {
  left: 0px;
}
.oe_event_dropdown_menu {
  padding: 0px;
  border-radius: 8px;
}
.oe_event_btn {
  line-height: 1.35;
  border-right-width: 0px;
}
.oe_event_submit_btn {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  line-height: 1.35;
}
.oe_event_tag_padding {
  padding-right: 11px;
}
@media (max-width: 768px) {
  .oe_event_icon_left {
    left: 0px;
    top: 0px
  }
}
