.o_ChannelMemberView:hover {
    background-color: map-get($grays, '300');
}

.o_ChannelMemberView_avatar {
    object-fit: cover;
}

.o_ChannelMemberView_avatarContainer {
    width: 32px;
    height: 32px;
}

.o_ChannelMemberView_name {
    min-width: 0;
}
