.product {
    --btn-border-color: #{$o-gray-200};

    &:hover {
        border: $border-width solid $border-color;
        --btn-hover-bg: #{$o-view-background-color};
    }

    .rightpane & {
        min-height: 6rem;
        border: $border-width solid var(--border-color);
        background-color: var(--bg, var(--btn-bg));
        box-shadow: 0 ($border-width * 4) var(--border-color);
        &:active, .active {
            transform: translateY($border-width * 2);
            box-shadow: 0 ($border-width * 2) var(--border-color);
        }
    }
}

.product-img img {
    border-top-right-radius: $border-radius-lg - o-to-rem($border-width);
    border-top-left-radius: $border-radius-lg - o-to-rem($border-width);
}

.pos-receipt {
    .product-name {
        -webkit-line-clamp: unset;
        overflow-wrap: anywhere;
    }
}

.product-name {

    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &.no-image {
        -webkit-line-clamp: 7;
        aspect-ratio: 16 / 9;
    }
}

@media screen and (max-width: 768px) {
    .product:active {
        box-shadow: 0 0 0 2px $primary;
    }
}

.product-information-tag {
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #9a9ea180 transparent transparent;
}

.product-information-tag-logo {
    position: absolute;
    left: 19px;
    top: 3px;
}
.red-tag {
    border-color: transparent #e75b5b63 transparent transparent;
}
.favorite-product {
    border-color: transparent #f3cc00 transparent transparent;
}

.product-cart-qty {
    font-size: 1.75rem;
}