
.s_comparisons:not([data-vcss]) {
    .card-body {
        .card-title {
            margin: 0;
        }
        .s_comparisons_currency,
        .s_comparisons_price,
        .s_comparisons_decimal {
            display: inline-block;
            vertical-align: middle;
        }
        .s_comparisons_currency,
        .s_comparisons_decimal {
            font-size: 80%;
        }
        .s_comparisons_price {
            font-size: 200%;
        }
    }
}
