.o_we_preview_favicon {
    .o_image {
        max-width: 100%;
        max-height: 100%;
        background-position: top;
        margin-top: 0.3em;
    }

    > img {
        max-height: 16px;
        max-width: 16px;
    }
}

.o-we-linkpopover {
    max-height: 440px;
    scrollbar-width: thin;

    .custom-fill-color, .custom-text-color, .custom-border, .input-group {
        label {
            width: 70px;
        }
    }

    .form-check-input {
        --border-color: var(--dark-border-subtle) !important;
    }

    .form-control:focus, .form-select:focus, .form-check-input:focus {
        border-color: $input-focus-border-color !important;
        box-shadow: 0 0 0 $focus-ring-width rgba($input-focus-border-color, $focus-ring-opacity);
    }

    .o_popover_sliding_panel {
        width: 300px;

        .icon-sup {
            @include o-he-icon-sup();
        }

        .o_popover_sliding_panel_card_content {
            span {
                flex: 0 0 35%;
            }

            input {
                height: 24px;
                border-color: $o-we-item-border-color;
                border-radius: $o-we-item-border-radius;
                padding: 0 map-get($spacers, 1);
                background-color: $o-view-background-color;
                font-size: inherit;
            }
        }
    }

    .o_link_popover_container {
        min-width: 300px;
    }

    .o_we_link_preview {
        width: 300px;

        .btn {
            white-space: nowrap;
        }
    }

    .o_we_input_label {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba($body-color, 0.7);
        border: var(--border-width) solid var(--dark-border-subtle);
        border-radius: var(--border-radius) 0 0 var(--border-radius);
        width: 35px !important;
    }

    .oe_link_label_icon {
        fill: rgba($body-color, 0.7);
    }

    .o_we_label_link,
    .o_we_href_input_link {
        height: 100%;
    }

    .o_we_preview_favicon, .o_we_url_link, .o_we_replace_title_btn:has(i.oi[data-icon="wand_stars"]) {
        min-width: 24px;
        min-height: 24px;
        display: flex;
        align-items: center;
    }
}

/* rtl:begin:ignore */
.o_rtl {
    .o-we-linkpopover {
        .o_we_href_input_link {
            direction: ltr;
            text-align: right;
        }
    }
}
/* rtl:end:ignore */

.custom-border {
    @include o-input-number-no-arrows();

    input.form-control {
        width: 35px;
    }
    .input-group-text {
        padding: 0 0.35rem;
    }
    select.form-select {
        width: 60px;
    }
}

.o-we-linkpopover {
    .o-autocomplete--dropdown-menu {
        width: 100%;
    }
}
