// Frontend general
#wrapwrap {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100%;

    > * {
        flex: 0 0 auto;
    }
    > main {
        flex: 1 0 auto;
    }
}
