//------------------------------------------------------------------------------
// Bootstrap Mixins and Functions Extensions
// Those will affect the way bootstrap is generated wherever bootstrap is used
//------------------------------------------------------------------------------

// Override background utilities so that they come with a default contrasted
// color (especially useful in the frontend editor for example). Also modifies
// the way .text-muted elements are rendered in those environments.
@mixin bg-variant($parent, $color, $text-color: null) {
    #{$parent} {
        $-yiq-color: if($text-color, $text-color, color-yiq($color));
        background-color: $color !important;
        color: $-yiq-color; // not important so that text utilities still work

        .text-muted {
            color: rgba($-yiq-color, 0.4) !important;
        }
    }
    a#{$parent},
    button#{$parent} {
        $-darken-color: darken($color, 10%);
        @include hover-focus {
            background-color: $-darken-color !important;
            color: if($text-color, $text-color, color-yiq($-darken-color));
        }
    }
}
@mixin bg-gradient-variant($parent, $color, $text-color: null) {
    #{$parent} {
        $-yiq-color: if($text-color, $text-color, color-yiq($color));
        background: $color linear-gradient(180deg, mix($body-bg, $color, 15%), $color) repeat-x !important;
        color: $-yiq-color;

        .text-muted {
            color: rgba($-yiq-color, 0.4) !important;
        }
    }
}
