// Media
$o-webclient-media: print !default;

// Color-scheme
$o-webclient-color-scheme: bright !default;

// Colors
$o-gray-100: #f8f9fa !default;
$o-gray-200: #e9ecef !default;
$o-gray-300: #dee2e6 !default;
$o-gray-400: #ced4da !default;
$o-gray-500: #adb5bd !default;
$o-gray-600: #6c757d !default;
$o-gray-700: #495057 !default;
$o-gray-800: #343a40 !default;
$o-gray-900: #212529 !default;

$o-grays: (
    100: $o-gray-100,
    200: $o-gray-200,
    300: $o-gray-300,
    400: $o-gray-400,
    500: $o-gray-500,
    600: $o-gray-600,
    700: $o-gray-700,
    800: $o-gray-800,
    900: $o-gray-900,
) !default;

// Grid System
$grid-breakpoints: (
    xs: 0,
    sm: 100mm,
    md: 188mm,
    lg: 190mm,
    xl: 220mm,
    xxl: 250mm,
) !default;

// Borders
$o-border-color: var(--border-color, #{$o-gray-500}) !default;

// Webclient
$o-webclient-background-color: #FFFFFF !default;

// Text
$o-main-text-color: $o-gray-800 !default;

$o-root-font-size: 13px !default;
$o-line-height-base: 1.3 !default;
$o-line-height-sm: 1 !default;
$o-line-height-lg: 1.5 !default;

// Spacing
$o-spacer: $o-root-font-size !default;
$o-horizontal-padding: $o-spacer !default;

// Tables
$o-table-cell-padding-x-sm: .15rem !default;
$o-table-cell-padding-y-sm: .25rem !default;

// Breadcrumbs
$o-breadcrumb-item-padding-x: .15rem !default;
