.o-discuss-ChannelMember .o-mail-DiscussAvatar.o-isTalking {
    border-radius: $border-radius-lg;
    outline: 2px solid var(--discuss-talkingColor, $o-discuss-talkingColor);
    outline-offset: 1px;
}
