.o-mail-Meeting {
    background-color: #111827;
}

.o-mail-Meeting-composer {
    padding-bottom: 0 !important;
}

.o-mail-Meeting-sidePanelContainer {
    flex: 0 0 MAX(25%, 400px);

    & .o-mail-ActionPanel {
        flex-shrink: unset !important;
        max-width: unset !important;
    }
}

.o-mail-Meeting-sidePanel {
    background-color: $o-webclient-background-color;
}

.o-mail-Meeting-closeSidePanel {
    opacity: .15;
}

.o-mail-Meeting-sidePanelActions button {
    aspect-ratio: 1;
}
