.o-discuss-PinnedMessagesPanel {
    flex-basis: 425px;
}

.o-discuss-PinnedMessagesPanel-title {
    z-index: 1;
}

.o-discuss-PinnedMessagesPanel-jump {
    color: white;
}

.card-body:hover .o-discuss-PinnedMessagesPanel-jump {
    opacity: 100 !important;
}

.o_touch_device .o-discuss-PinnedMessagesPanel-jump.btn {
    font-size: 0.9rem;
}
