.s_process_steps {
    .s_process_step_icon {
        margin: $grid-gutter-width 0;
        .fa {
            display: block;
        }
    }
    .s_process_step_content {
        padding: 0 $grid-gutter-width/2;
    }
    @include media-breakpoint-up(lg) {
        overflow-x: hidden;
        .s_process_step {
            .s_process_step_icon {
                position: relative;
                z-index: 1;
            }

            &:nth-child(odd) .s_process_step_curved_arrow {
                top: -5%;
            }
        }
    }

    .s_process_step_connector {
        position: absolute;
        top: 50%;
        z-index: -1;
        display: none;
    }

    .s_process_step_curved_arrow {
        top: 105%;
    }
}

svg {
    overflow: visible;
}
