[data-embedded="file"] {
    [data-embedded-editable] {
        background-color: white;
    }

    .o_file_name_container {
        &:hover i {
            visibility: visible !important;
        }
    }

    input[type="text"] {
        width: 190px;
    }

    &:has(iframe) {
        display: block;
        width: 100%;
    }
    iframe.o_file_preview_iframe {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}
