.control-buttons {
    white-space: nowrap;
    gap: 1px;
}

.control-buttons button{
    flex: 1 1 29%;
    padding: $o-horizontal-padding * 0.5;
}

.button.altlight {
    background: #7F82AC !important;
    border: solid 1px #756A99 !important;
    color: white !important;
}

.modal-body .control-buttons button {
    min-width:40%;
}
