.o_fleet_form_view .o_form_renderer {

    .oe_stat_button.text-warning,
    .oe_stat_button.text-danger {
        .o_stat_text {
            color: $o-main-text-color;
        }
    }
}

.o_fleet_narrow_field {
    max-width: 14rem;

    .o_fleet_odometer_value {
        max-width: 6rem;
    }

    .o_fleet_odometer_unit {
        max-width: 3rem;
    }
}
