
#odoo-screenshare-mousecanvas{
    position: absolute;
    left: Opx;
    top: 0px;
    height: 20px;
    width: 20px;
    background-image: url(../img/mouse.png);
    background-size: 20px 20px;
    z-index:5000;
}

table{
    font-size: inherit;
}

.oe_screenshare_message_zone{
    background-color: #7c7bad;
    color: white;
    font-weight: bold;
    text-align: center;

    width: 50%;
    position: absolute;
    left: 25%;
    z-index: 4000;

     -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
