<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="pragma" content="no-cache" />

        <title class="origin">Odoo's IoT Box</title>

        <script src="/web/static/lib/owl/owl.js"></script>

        <link class="origin" rel="stylesheet" href="/web/static/lib/bootstrap/dist/css/bootstrap.css">
        <link class="origin" rel="stylesheet" href="/web/static/src/libs/fontawesome/css/font-awesome.css"/>
        <link class="origin" rel="stylesheet" href="/iot_drivers/static/src/app/css/status_display.css">
    </head>
    <body>
        <script src="/iot_drivers/static/src/app/status.js" type="module"></script>
    </body>
</html>
