.o_DiscussSidebarCategory_titleIcon {
    width: $o-mail-discuss-sidebar-category-title-icon-size;
    height: $o-mail-discuss-sidebar-category-title-icon-size;
}

.o_DiscussSidebarCategory_headerItem {
    user-select: none;
    -webkit-user-select: none;
}
