.self_order_popup_table {
    border-radius: 35px 35px 0 0;
    animation: popupAnimation 0.2s ease-in-out forwards;
}

@keyframes popupAnimation {
    0% {
      bottom: -40vh;
      opacity: 1;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }