.o_web_hotkey_overlay {
  @include o-position-absolute(0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 1rem;
  font-family: $font-family-sans-serif;
}
