@charset "utf-8"

.openerp
    .o_lunch
        .o_lunch_alert
            height: 22px
        .o_lunch_30pc
            width: 30%
            display: inline-block
            vertical-align: top
        .o_lunch_30pc:nth-child(3)
            padding-right: 0
        .o_lunch_30pc
            padding-right: 5%
        h2
            color: #7C7BAD
        .o_lunch_vignette
            border-bottom: 1px solid #dddddd
            padding-top: 5px
            padding-bottom: 5px
        .o_lunch_vignette:last-child
            border: none
        .oe_group_text_button
            margin-bottom: 3px
