@charset "utf-8";
.openerp .oe_lunch .oe_lunch_alert textarea {
  background-color: #ffc7c7;
  padding: 10px;
  height: 1em;
  margin-bottom: 20px;
}
.openerp .oe_lunch button.oe_button_add {
  position: relative;
  top: -2px;
  left: 3px;
}
.openerp .oe_lunch button.oe_button_plus {
  margin: -2px;
}
.openerp .oe_lunch .oe_lunch_30pc {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.openerp .oe_lunch .oe_lunch_30pc:nth-child(3) {
  padding-right: 0;
}
.openerp .oe_lunch .oe_lunch_30pc {
  padding-right: 5%;
}
.openerp .oe_lunch h2 {
  color: #7c7bad;
}
.openerp .oe_lunch .oe_lunch_button {
  float: right;
}
.openerp .oe_lunch .oe_lunch_vignette {
  border-bottom: 1px solid #dddddd;
  padding-top: 5px;
  padding-bottom: 5px;
}
.openerp .oe_lunch .oe_lunch_vignette:last-child {
  border: none;
}
.openerp .oe_lunch .oe_group_text_button {
  margin-bottom: 3px;
}
