*[contenteditable="true"] {
    outline: none;
}

.note-editable {
    border: $o-we-border-width solid $o-we-fg-light;
    overflow: auto;
    height: 100%;
    padding: 4px 40px 4px 4px;
    min-height: 10px;
    border-radius: 3px;
}
