.o_mailing_template_card_preview_wrapper {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    height: 362px;
    

    .o_mailing_shadow_root {
        width: 800px;
    }
    .o_mailing_shadow_root {
        transform: none;
        zoom: 0.4;
    }
}
