.openerp .oe_kanban_email_template {
    width: 360px;
    min-height: 270px !important;
}

.kanban_html_preview {
    width: 600px;
    height: 600px;
    -webkit-transform: scale(.50);
    -ms-transform: scale(.50);
    transform: scale(.50);
    -webkit-transform-origin: 0 0; 
    -ms-transform-origin: 0 0; 
    transform-origin: 0 0; 
    margin: 0 0px -300px 0;
    overflow: hidden !important;
}
