/* ---- thumbnail ----  */
.oe_snippet.o_mail_block_header_center_logo .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_header_center_logo.png");
}
.oe_snippet.o_mail_block_header_center_text .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_header_center_text.png");
}
.oe_snippet.o_mail_block_header_social .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_header_social.png");
}
.oe_snippet.o_mail_block_header_text_social .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_header_text_social.png");
}
.oe_snippet.o_mail_block_text_image .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_text-image.png");
}
.oe_snippet.o_mail_block_footer_copyright .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_footer_copyright.png");
}
.oe_snippet.o_mail_block_footer_social .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_footer_social.png");
}
.oe_snippet.o_mail_block_footer_text .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_footer_text.png");
}
.oe_snippet.o_mail_block_footer_seprator .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_footer_seprator.png");
}
.oe_snippet.o_mail_block_footer_tag_line .oe_snippet_thumbnail_img {
    background-image: url("/mass_mailing/static/src/img/blocks/block_footer_tag_line.png");
}
.oe_snippet.o_mail_block_two_cols .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_two-column-img.png");
}
.oe_snippet.o_mail_block_two_cols_content .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_two-column.png");
}
.oe_snippet.o_mail_block_title_text .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_title_text.png")
}
.oe_snippet.o_mail_block_title_sub .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_title.png")
}
.oe_snippet.o_mail_block_image_text .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_image-text.png")
}
.oe_snippet.o_mail_block_text_button .oe_snippet_thumbnail_img{
    background-image: url("/website/static/src/img/blocks/block_jumbotron.png")
}
.oe_snippet.o_mail_block_table_content .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_table.png")
}
.oe_snippet.o_mail_block_discount1 .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_discount.png")
}
.oe_snippet.o_mail_block_discount2 .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_discount2.png")
}
.oe_snippet.o_mail_block_event .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_event.png")
}
.oe_snippet.o_mail_block_image .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_image_text.png")
}
.oe_snippet.o_mail_block_profile .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_user.png")
}
.oe_snippet.o_mail_block_four_cols .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_four_columns.png")
}
.oe_snippet.o_mail_block_button .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_button.png")
}
.oe_snippet.o_mail_block_simple_text .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_simple_text.png")
}
.oe_snippet.o_mail_block_three_cols .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_three_columns.png")
}
.oe_snippet.o_mail_block_text_on_img .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_text_on_image.png")
}
.oe_snippet.o_mail_block_steps .oe_snippet_thumbnail_img{
    background-image: url("/mass_mailing/static/src/img/blocks/block_steps.png")
}
