/* ======================== COLORS ====================== */

.tech_template {
    background-color: #fff;
}
.tech_template_header {
    background-color: #e3e3e3;
}

.tech_template p {
    color: #494949;
}
.tech_template .bg-alpha {
    background-color: #fff;
}
.tech_template .bg-alpha .display-1, .tech_template .bg-alpha p, .tech_template .bg-alpha .display-2, .tech_template .bg-alpha .display-3{
    color: #000;
}
.tech_template .bg-beta {
    background-color: #dadada;
}
.tech_template .bg-beta p, .tech_template .bg-beta .display-1, .tech_template .bg-beta .display-2, .tech_template .bg-beta .display-3 {
    color: #000;
}
.tech_template .bg-beta .link-color {
    color: #de5745;
}
.tech_template .bg-gamma {
    background-color: #de5745;
}
.tech_template .bg-gamma p, .tech_template .bg-gamma .display-1, .tech_template .bg-gamma .display-2, .tech_template .bg-gamma .display-3 {
    color: #fff;
}
.tech_template .bg-gamma .link-color {
    color: #ccda3f;
}
.tech_template .bg-delta {
    background-color: #4a9fba;
}
.tech_template .bg-delta p, .tech_template .bg-delta .display-1, .tech_template .bg-delta .display-2, .tech_template .bg-delta .display-3 {
    color: #fff;
}
.tech_template .bg-delta .link-color {
    color: #ccda3f;
}
.tech_template .bg-epsilon {
    background-color: #ccda3f;
}
.tech_template .bg-epsilon p, .tech_template .bg-epsilon .display-1, .tech_template .bg-epsilon .display-2, .tech_template .bg-epsilon .display-3 {
    color: #000;
}
.tech_template .bg-epsilon .link-color {
    color: #de5745;
}

.tech_template .link-color {
    color: #ccda3f;
}

/*BTN styles*/

.tech_template .newsletter-btn {
    color: #fff;
    background-color: #ccda3f;
    font-size: 12px;
}
.tech_template .bg-epsilon .newsletter-btn {
    background-color: #de5745;
}

/*Snippet styles*/

.tech_template .snippet-general {
    margin:0 auto;
}