#monerisCheckout {
    position: relative !important;
    overflow: hidden;
}

.modal-content:has(> div#monerisCheckout) {
    height: 90%;
}
.modal-content > div#monerisCheckout {
    height: 90%;
}

.o_command_palette{
    height:90%;
    max-height:fit-content !important;
    max-width:90%;
}
