<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data noupdate="1">
        <record id="menu_patient_registration_form" model="website.menu">
            <field name="name">Patient Appointment</field>
            <field name="url">/patient_registration</field>
            <field name="parent_id" ref="website.main_menu"/>
            <field name="sequence">65</field>
        </record>

        <menuitem id="patient_registration_main_menu"
                  name="Patient Registration"
                  web_icon="mbs_online_appointment,static/description/icon.png"
                  sequence="1"/>

<!--        <menuitem id="sub_menu_patient_registration"-->
<!--                  name="Patient Registration"-->
<!--                  parent="patient_registration_main_menu"-->
<!--                  sequence="10"/>-->

        <menuitem id="menu_configuration"
                  name="Configurations"
                  parent="patient_registration_main_menu"
                  sequence="30"/>
    </data>
</odoo>