.options-container {
        .o_we_version_control {
        background-color: $o-we-color-info;

        div.title {
            margin-bottom: $o-we-sidebar-content-field-label-spacing;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}
