li.oe-nested {
    display: block;
}
.o_table tr {
    border-color: $o-gray-300;

    td {
        padding: 0.5rem;
    }
}
$sizes: '', 'xs-', 'sm-', 'md-', 'lg-', 'xl-', 'xxl-';
.o_text_columns {
    max-width: 100% !important;
    padding: 0 !important;
}
.o_text_columns > .row {
    margin: 0 !important;
    @each $size in $sizes {
        @for $i from 1 through 12 {
            & > .col-#{$size}#{$i}:first-of-type {
                padding-left: 0;
            }
            & > .col-#{$size}#{$i}:last-of-type {
                padding-right: 0;
            }
        }
    }
}
.oe-tabs {
    display: inline-block;
    white-space: pre-wrap;
    max-width: 40px;
    width: 40px;
}
$max-depth: 25;
@for $depth from 0 through $max-depth {
    $selectorOl: "";
    $selectorUl: "";
    @for $i from 0 through $depth {
        $selectorOl: $selectorOl + "ol ";
        $selectorUl: $selectorUl + "ul ";
    }
    $remainder: $depth % 3;
    #{$selectorOl} {
        @if $remainder == 0 {
            list-style-type: decimal;
        } @else if $remainder == 1 {
            list-style-type: lower-alpha;
        } @else if $remainder == 2 {
            list-style-type: lower-roman;
        }
    }
    #{$selectorUl} {
        @if $remainder == 0 {
            list-style-type: disc;
        } @else if $remainder == 1 {
            list-style-type: circle;
        } @else if $remainder == 2 {
            list-style-type: square;
        }
    }
}
