.pos-topheader {
    height: $navbar-height;
}

.pos-branding{
    max-width: $left-pane-width;
}

.status-buttons {
    > div {
        display: flex;
        align-items: center;
        padding: $o-horizontal-padding * 0.75;
    }

    .avatar {
        width: 25px;
    }
}

.menu {
    z-index: $zindex-dropdown;
}

.sub-menu {
    top: $navbar-height * 2/3;
    right: $navbar-height * -1/3 ;
}



