.o_location_selector_skeleton_title {
    height: $h5-font-size * $headings-line-height;
}

.o_location_selector_skeleton_content {
    height: $small-font-size;
    margin-bottom: ($line-height-base * $small-font-size) - $small-font-size;
}

.o_location_selector_skeleton_day {
    width: 9ch;
}

.o_location_selector_skeleton_btn {
    height: $btn-font-size * $btn-line-height + $btn-padding-y * 2;
    margin: $btn-border-width 0;
}
