/* ------ FLOOR BUTTON IN THE ORDER SELECTOR ------- */
.pos .actionpad .pay-order-button {
    border: none;
    border-bottom: solid 1px #C9CCD2;
}
.pos .actionpad  .pay-order-button.highlight {
    border-bottom-color: #C9CCD2;
}
.pos .actionpad .submit-order {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(var(--btn-height-size) * 3);
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 150ms linear;
    border-bottom: none;
}
@media screen and (max-width: 768px) {
    .pos .actionpad .submit-order{
        height: calc(var(--btn-height-size) * 2);
    }
}
.pos .actionpad .submit-order.highlight {
    background: $primary;
    color: #fff;
}
.pos .actionpad .submit-order.highlight:hover, .pos .actionpad .pay-order-button.highlight:hover{
    background: darken($primary, 5%);
}
.pos .submit-order .submit-circle {
    display: block;
    font-size: 20px;
    line-height: var(--btn-height-size);
    padding-top: 6px;
    background: $gray-900;
    color: white;
    width: 60px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 10px;
}

.pos .submit-order .submit-circle-smaller {
    display: block;
    font-size: 13px;
    line-height: var(--btn-height-size);
    background: $gray-900;
    color: white;
    width: 25px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    height: 25px;
    top: 4px;
    position: relative;
}
.pos .submit-order .submit-circle .fa {
    position: relative;
    top: -1px;
}
.pos .submit-order .submit-circle-smaller .fa {
    position: relative;
    top: -14px;
}
.pos .submit-order .smaller-display{
    gap: 10px; 
    display: flex; 
    align-items:center;
}
.break-line {
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.pos .order-button.floor-button {
    display: flex;
    align-items: center;
    background: $o-navbar-badge-bg;
    font-weight: bold;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-wrap: anywhere;
    text-overflow: hidden;
}
.pos .order-button.floor-button .table-name {
    margin-left: 5px;
}
.pos .order-button.floor-button .fa{
    font-size: 24px;
    line-height: 42px;
}

/* ------ SPLIT BILL SCREEN ------- */

.splitbill-screen.screen .contents {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px auto;
    max-width: 1024px;
    border-left: dashed 1px rgb(215,215,215);
    border-right: dashed 1px rgb(215,215,215);
    height: 100%;
}
.splitbill-screen.screen .main {
    display: flex;
    flex-flow: row nowrap;
    /* take the remaining vertical space */
    flex: 1;
    /* do not capture overflow in this element */
    overflow: hidden;
}
.splitbill-screen.screen .main .lines {
    display: flex;
    flex: 1;
    justify-content: center;
    /* show scrollbar inside this element if its content overflows */
    overflow-y: auto;
}
.splitbill-screen.screen .main .controls {
    display: flex;
    flex-flow: column nowrap;
}
.splitbill-screen.screen .pay-button {
    margin: 16px;
}
.splitbill-screen.screen .pay-button .button {
    background: $gray-200;
    line-height: 74px;
    font-size: 16px;
    border: solid 1px rgb(202, 202, 202);
    border-top-width: 0px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.splitbill-screen.screen .pay-button .button:first-child {
    border-top-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.splitbill-screen.screen .pay-button .button:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.splitbill-screen.screen .pay-button .button:active {
    background: black;
    border-color: black;
    color: white;
}

.splitbill-screen.screen .main .lines {
    border-right: dashed 1px rgb(215,215,215);
}

.splitbill-screen.screen .main .controls {
    flex: 1;
}

/* ------ NARROWER SCREEN ------ */
@media screen and (max-width: 768px) {
    .splitbill-screen.screen .main {
        flex-flow: column nowrap;
    }
    .splitbill-screen.screen .main .controls {
        border-top: dashed 1px rgb(215,215,215);
        flex: none;
    }
}

.tip-screen .tip-options .total-amount {
    text-align: center;
    font-size: x-large;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.tip-screen .tip-amount-options {
    background: white;
    border-radius: 3px;
    margin-left: 4rem;
    margin-right: 4rem;
}

.tip-screen .percentage-amounts {
    display: flex;
}

.tip-screen .tip-options .button {
    background: #FAFAFA;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 3px;
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    cursor: pointer;
}

.tip-screen .tip-options .button .percentage {
    text-align: center;
    font-size: xx-large;
    color: #2196F3;
    padding-top: 4rem;
    padding-bottom: 0.75rem;
}

.tip-screen .tip-options .button .amount {
    text-align: center;
    font-size: large;
    color: #757575;
    padding-bottom: 4rem;
}

.tip-screen .custom-amount-form {
    display: flex;
}

.tip-screen .custom-amount-form .item {
    font-size: x-large;
    color: #2196F3;
    margin: 1rem;
    flex: 1
}

.tip-screen .custom-amount-form .label {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.tip-screen .custom-amount-form .input {
    background: #FAFAFA;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 3px;
    margin: 1rem;
    text-align: right;
    overflow: hidden;
    position: relative;
}

.tip-screen .custom-amount-form .input .currency {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3rem;
    justify-content: center;
    align-items: center;
}

.tip-screen .custom-amount-form .input input {
    border: none;
    padding: 0;
    outline: none;
    font-size: x-large;
    text-align: right;
    margin-left: 1rem;
    margin-right: 3rem;
    height: 100%;
    width: calc(100% - 4rem);
    background: #FAFAFA;
    color: #2196F3;
}

.tip-screen .custom-amount-form .input input:focus {
    border: none;
    padding: 0;
    outline: none;
}

.tip-screen .custom-amount-form .add {
    text-align: center;
}

.tip-screen .no-tip {
    display: flex;
    color: #2196F3;
    font-size: x-large;
}

.tip-screen .no-tip .button {
    text-align: center;
    flex: 1;
    padding: 1.5rem;
}

.tip-screen .pos-receipt-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

@media print {
    .tip-screen .pos-receipt-container {
        display: block;
    }
    .tip-screen .pos-receipt-container * {
        visibility: visible;
    }
}

.pos-receipt .tip-form {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.pos-receipt .tip-form .title {
    text-align: center;
}

.pos-receipt .tip-form > div {
    margin-top: 1rem;
}

.pos-receipt .tip-form .option {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.pos-receipt .tip-form .percentage-options {
    display: flex;
    flex-flow: row nowrap;
}

.ticket-screen .tip-cell {
    height: 100%;
    width: 100%;
    text-align: right;
    white-space: nowrap;
}

.ticket-screen .tip-cell input {
    width: 100%;
    text-align: right;
    font-size: medium;
    color: #555555;
    padding-bottom: 5px;
    border: none;
    outline: none;
}

.ticket-screen .tip-cell input:focus {
    border: none;
    outline: none;
    border-bottom: solid 1px #555555;
}

.multiprint-flex {
    display: flex;
    margin-bottom: 10px;
}

.multiprint-flex .product-quantity {
    margin-right: 50px;
}
