.dropdown-menu .o_version > a:after {
  margin-right: 10px;
}

.navbar-inverse .btn-link.o_version:hover {
  color: #000;

}

.btn.o_version {
    text-align: left;
}

.o_required_field{
    background-color: #d2d2ff;
}