.o_kiosk_product_page {
    --product-image-offset: 10rem;

    .product-image {
        margin-bottom: calc(-1 * var(--product-image-offset));
    }

    .attributes {
        padding-top: var(--product-image-offset);
    }
}
