// Colors from Talento Design
$o-brand-primary: #6C5DD3 !default; // Main Purple
$o-brand-odoo: #6C5DD3 !default;    // Replace Odoo brand color
$o-brand-secondary: #FF754C !default; // A nice orange accent
$o-main-text-color: #11142D !default; // Dark Text

$body-bg: #FAFAFB !default; // Light background
$gray-100: #F7F7F9 !default;

// Border Radius for that modern look
$o-border-radius: 1rem !default;
$card-border-radius: 1rem !default;
