.news-container{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}
.btn{
    margin: 10px 0px 5px 10px
}

.card-img-top{
    height:150px;
}

.col{
    height: 500px;
    width: 450px;
    margin: auto;
}