.s_quotes_carousel_wrapper[data-vcss='002'] {
    .s_quotes_carousel {
        @extend %s_carousel_variants;
    }

    .s_blockquote {
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            width: 100% !important; // TODO add the right class in the xml when it's possible
        }
    }
}

section[data-snippet="s_quotes_carousel"][data-vcss="002"],
section[data-snippet="s_quotes_carousel_minimal"][data-vcss="002"] {
    // Prevent container padding to avoid visual misalignment.
    > .container-fluid, > .container, > .o_container_small {
        padding: 0;
    }
    .s_quotes_carousel:not([data-number-of-elements="1"]) {
        @include media-breakpoint-up(md) {
            .carousel-control-prev,
            .carousel-control-next {
                width: 4%;
            }
            $item-padding: 1%;
            $slide-padding: 4%;
            .carousel-item {
                padding: 0 $item-padding;
                .carousel-slide {
                    padding: 0 $slide-padding;
                }
            }
            &[data-scroll-mode="single"] .carousel-inner {
                // Forcefully remove gap between slides.
                gap: 0;
                > .carousel-item {
                    padding: 0 $slide-padding;
                }
            }
        }
    }
}
