/* Main container */
.openerp .oe_portal_crm_contact {
	width: 960px;
	margin: 0 auto;
}

/*  */
.openerp .oe_portal_crm_contact .oe_portal_crm_office .oe_fold_column.oe_kanban_record {
	float: none;
	display: block;
	width: 100%;
}