.s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_up > .tab-pane.fade, .s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_down > .tab-pane.fade, .s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_left > .tab-pane.fade, .s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_right > .tab-pane.fade {
  transition: all 0.2s;
}
.s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_up > .tab-pane.fade.show, .s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_down > .tab-pane.fade.show, .s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_left > .tab-pane.fade.show, .s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_right > .tab-pane.fade.show {
  transform: translateX(0rem) translateY(0rem);
}
.s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_up > .tab-pane.fade {
  transform: translateY(-1rem);
}
.s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_down > .tab-pane.fade {
  transform: translateY(1rem);
}
.s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_left > .tab-pane.fade {
  transform: translateX(-1rem);
}
.s_tabs[data-vcss="001"] .s_tabs_content.s_tabs_slide_right > .tab-pane.fade {
  transform: translateX(1rem);
}