.editor_enable .twitter {
    position: relative;
    .s_twitter_reload_btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer !important;
    }
}
