.o_select_menu {
    &.o_select_menu_multi_select input {
        flex: 1 0 50px;
    }
    .o_select_menu_toggler {
        display: grid;
        grid-template-columns: auto 25px;
    }

    .o_select_menu_toggler_slot {
        flex-grow: 2;
    }

    .o_select_menu_toggler_clear {
        grid-column: 2;
    }

    .o_select_menu_toggler_clear:hover i {
        color: red;
    }

    .o_tag {
        margin: 2px;
    }

    .o_select_menu_caret {
        @include o-position-absolute($o-input-padding-y, $o-input-padding-x, $input-border-width);
        visibility: hidden;

        &:after {
            @include o-caret-down;
        }
    }

    &:hover, &:focus-within {
        .o_select_menu_caret {
            visibility: visible;
        }
    }
}

.o_select_menu_menu {
    background-color: $dropdown-bg;
    div.o_input {
        position: sticky;
        top: $dropdown-padding-y * -1;
        height: 40px;
        input {
            cursor: text !important;
            padding: 5px;
        }
    }
    .o_select_menu_group {
        background-color: $dropdown-bg;
        top: 40px;
        &:not(.o_select_menu_searchable_group) {
            top: $dropdown-padding-y * -1;
        }
    }
}

.dropup .o_select_menu_menu {
    box-shadow: 0 -7px 10px rgba(8, 8, 8, 0.319);
}

.dropdown .o_select_menu_menu {
    box-shadow: 0 7px 10px rgba(8, 8, 8, 0.319);
}
