// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_CallView {
    min-height: 50%;

    &.o-isMinimized {
        height: 20%;
        min-height: 20%;
    }
}

.o_CallView_grid {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.3vw;
    }

    &.o-isTiled {
        overflow-y: hidden;

        .o_CallView_participantCard {
            width: var(--width);
            height: var(--height);
            min-width: var(--width);
            min-height: var(--height);
        }
    }

    &.o-isSidebar {
        width: 120px;
        min-width: 120px;
    }
}

.o_CallView_gridTile {
    aspect-ratio: 16/9;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_CallView_grid {

    &::-webkit-scrollbar {
        background: gray('900');
    }
    &::-webkit-scrollbar-thumb {
        background: gray('700');
    }
}
