{
  "name": "<%= name %>/<%= name %>",
  "description": "<%= description %>",
  "version": "<%= version %>",
  "type": "library",
  "keywords": <%= JSON.stringify(keywords) %>,
  "license": "<%= licenses[0].type %>",
  "authors": <%= JSON.stringify(_.filter(_.map(contributors, function(c) {
    var a;
    /* Does not currently support the NPM package.json string format (as opposed to object format) for "people" types */
    if (c && typeof c === "object") {
      /* The `name` property is required */
      if (c.name) {
        a = {};
        a.name = c.name;

        if (c.email) {
          a.email = c.email;
        }
        if (c.url) {
          a.homepage = c.url;
        }
        a.role = c.role || "Developer";
      }
    }
    return a;
  }), function(a) { return !!a; })) %>,
  "homepage": "<%= homepage %>",
  "support": {
    "source": "<%= repository.url %>",
    "issues": "<%= bugs.url %>"
  }
}