/*!
 * <%= title || name %>
 * <%= description %>
 * Copyright (c) <%= grunt.template.today("yyyy") %> <%= _.pluck(contributors, "name").join(", ") %>
 * Licensed <%= _.pluck(licenses, "type").join(", ") %>
 * <%= homepage %>
 * v<%= version %>
 */
