$o-kanban-large-record-width: 350px;

.o_kanban_view.o_slide_rating_kanban {
    .o_kanban_record {
		width: $o-kanban-large-record-width
    }

    .o_slide_rating_kanban_left {
    	min-width: 80px;

    	.o_slide_rating_value {
    	    font-size: 4rem;
    	}
    }
}
