.o-mail-DiscussUserPanel img {
    width: 28px;
    aspect-ratio: 1;
}

.o-mail-DiscussUserPanel-imgContainer {
    background-color: inherit !important;
}

.o-mail-DiscussUserPanel-imStatus {
    margin-top: - map-get($spacers, 3) / 2;
    margin-left: - map-get($spacers, 3) / 2;
}
