.o_control_panel:has(+ .o-mail-Discuss) {
    --border-opacity: .5;
    --ControlPanel-border-bottom: #{$border-width solid rgba($border-color, var(--border-opacity, 1))};
}

.o-mail-Discuss-content {
    .o-mail-Thread {
        flex-grow: 1;
    }
}

.o-mail-Discuss-core {
    background-color: $body-bg;
}

.o-mail-Discuss-selfAvatar {
    height: $o-mail-Avatar-sizeSmall;
    width: $o-mail-Avatar-sizeSmall;
}

.o-mail-Discuss-threadName {
    max-width: 75%;
}
.o-mail-Discuss-header {
    --border-opacity: .5;
    box-shadow: 0 .125rem .25rem rgba($black, .025); // 1/3rd of box-shadow-sm
    background-color: $white;
}

.o-mail-Discuss-headerActions button {
    --btn-disabled-opacity: 0.25;

    &:hover, &.o-isActive {
        background-color: $gray-300;
    }
    &.o-isActive {
        color: #{var(--btn-active-color)};
    }
}

.o-mail-Discuss-headerActionsGroup {
    --border-opacity: .025;
    background-color: mix($gray-100, $gray-200, 75%);
}

.o-mail-Discuss-headerCountry {
    width: 24px;
}

.o-mail-Discuss-rightPanel {
    --border-opacity: .5;
}

.o-mail-Discuss-threadAvatar {
    img {
        height: 32px;
        width: 32px;
    }

    a {
        i {
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        &:hover {
            background-color: rgba($black, 0.5);
            i {
                opacity: 1;
            }
        }
    }
}
