.o-mail-Discuss-content {
    .o-mail-Thread {
        flex-grow: 1;
    }
}

.o-mail-Discuss-core {
    background-color: $body-bg;
}

.o-mail-Discuss-selfAvatar {
    height: 30px;
    width: 30px;
}

.o-mail-Discuss-threadName {
    max-width: 75%;
}

.o-mail-Discuss-header {
    z-index: $o-mail-NavigableList-zIndex;
}

.o-mail-Discuss-headerCountry {
    width: 24px;
}

.o-mail-Discuss-headerImStatus {
    bottom: -2px;
    right: -2px;
}

.o-mail-Discuss-panelContainer {
    margin-top: 68px !important;
    z-index: $o-mail-NavigableList-zIndex;
}

.o-mail-Discuss-threadAvatar {
    img {
        height: 42px;
        width: 42px;
    }

    a {
        i {
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        &:hover {
            background-color: rgba($black, 0.5);
            i {
                opacity: 1;
            }
        }
    }
}

.o_web_client:has(.o-mail-Discuss) {
    .o_control_panel {
        --ControlPanel-border-bottom: #{$border-width} solid #{rgba($border-color, .35)};
    }
    .o_control_panel, .o_main_navbar {
        background-color: unset !important;
    }
}
