.o-mail-Discuss {
    --mail-Discuss-coreBgColor: #{mix($body-bg, $gray-200, 75%)};
    --mail-Discuss-headerActionsGroupBorderOpacity: .1;
}

.o-mail-Discuss-header {
    background-color: $o-webclient-background-color;
}

.o-mail-Discuss-headerActions button {

    &:not(.o-isActive):hover {
        background-color: mix($gray-200, $gray-300) !important;
    }
    &.o-isActive {
        background-color: $gray-300 !important;
    }
    &.o-isActive:hover {
        background-color: mix($gray-300, $gray-400) !important;
    }
}

.o_web_client:has(.o-mail-Discuss) {

    .o_main_navbar {
        background-color: unset;
    }

    .o_control_panel {
        background-color: unset;
    }
}
