.o-mail-MessagingMenu {
    --mail-MessagingMenu-bg: #{$gray-100};
    --mail-MessagingMenu-listBorderColor: #{rgba($gray-300, .25)};
}

.o-mail-MessagingMenu-navbar {
    --mail-MessagingMenu-bg: #{$gray-100};
}
