.o-mail-NotificationItem {
    --mail-NotificationItem-activeOutlineOpacity: 1;
    --mail-MessagingMenu-bg: #{mix($gray-100, $gray-200)};

    &.o-important {
        background-color: mix($o-gray-200, $o-info, 87.5%) !important;
    }
    &:hover, &.o-active {
        background-color: mix($o-gray-200, $o-gray-300) !important;
    }
}
