.o-mail-NotificationItem {
    --mail-NotificationItem-activeBackdropFilterContrast: .75;
    --mail-NotificationItem-activeBorderOpacity: .1;
    --mail-NotificationItem-activeOutlineOpacity: 1;
    --mail-Notification-badgeMutedBg: #{$gray-700};
    --mail-NotificationItem-textOpacity: .6;
    --mail-NotificationItem-textMutedOpacity: .4;

    &:hover, &.o-active {
        backdrop-filter: contrast(.7);
    }
}
