.web_help_overlay {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1151;

    .web_help_highlight {
        position: absolute;
        outline: 1000vw solid rgba(0, 0, 0, 0.7);
    }

    .popover {
        background-color: transparent;
        border: none;

        .popover-body {
            color: #fff;
            font-size: 1.2rem;
        }
    }
}
