.openerp
  .oe_kanban_job
    width: 355px
    min-height: 220px !important
  .oe_manager_name
    font-size: 11px
  .oe_gray
    color: gray
  .oe_applicant_kanaban
    width: 276px
  .oe_margin_top_4
    margin-top: 4px
  .oe_job_head
    margin-bottom: -4px
    font-size: 15px
  oe_job_font
    font-size: 15px
  .oe_job_avatar
    width: 24px
  oe_applications
    margin-top: 30px
