.openerp .oe_manager_name {
    font-size: 11px;
}
.openerp .oe_gray {
    color: gray;
}
.openerp .oe_link_hover:hover{
    text-decoration: underline;
}
.openerp .oe_applicant_kanban {
  width: 276px;
}
.openerp .oe_margin_top_4 {
    margin-top: 4px;
}
.openerp .oe_job_head {
    margin-bottom: -4px;
    font-size: 15px;
}
.openerp .oe_job_font {
    font-size: 15px;
}

.openerp .oe_job_avatar {
    width: 24px; 
}

.openerp .oe_applications {
    margin-top: 30px;
}
