.o_form_renderer .o_field_x2_many_media_viewer .o_website_sale_image_list_card_image {
    width: 12em;

    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
}
