@include media-breakpoint-down(md) {
    .o_wsale_delivery_price_badge {
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.o_website_sale_delivery_date_picker {
    .fa.fa-edit {
        cursor: pointer;
    }
}
.o_wsale_delivery_date_badge {
    .form-control:disabled {
        color: inherit;
        border: 0;
        background-color: inherit;
    }
}
.o_delivery_info_container .fa.fa-info-circle {
    color: $o-info;
}

.tooltip {
    --tooltip-zindex: 1040;
}
