@media (min-width: 768px){
.o_setting_right_pane .o_field_widget:not(.o_field_boolean) {
    width: auto !important;
    padding: 0px 8px !important;
    }
    }
.address_head{
    margin-left: 30px;
    margin-bottom: 22px;
}
#billing_country_id{
    width: 58%;
}
#shipping_country_id{
    width: 58%;
}
