/* --- Styling of OpenERP Elements --- */
/* .ui-dialog, .modal-dialog {
    background: white;
    padding: 10px;
    border-radius: 3px;
    font-family: sans-serif;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.4);
    position: absolute;
    top: 30px;
    height: 400px;
    overflow: scroll;
} */

.ui-dialog .ui-icon-closethick{
    float: right;
}
div.modal.in {
    position: absolute;
    background: white;
    padding: 20px;
    box-shadow: 0px 10px 20px black;
    border-radius: 3px;
    max-width: 600px;
    max-height: 400px;
    margin-top: -200px;
    margin-left: -300px;
    top: 50%;
    left: 50%;
}

/* @media screen and (max-width: 768px) {
    .ui-dialog, .modal-dialog {
        padding: 0;
        overflow: auto;
    }
} */
