.ticket-screen {
    .pos-search-bar {
        flex-basis: 200px;
    }

    .table> :not(caption)>*>* {
        background-color: unset;
    }

    .order-row.highlight {
        background-color: $o-component-active-bg;
        color: $o-action;
    }

    .delete-column {
        width: 30px;
    }

    .orders td {
        white-space: nowrap;
    }

    .order-tags {
        font-size: 0.75rem;
    }

    .address-cell {
        max-width: 180px;
    }

    .address-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
    }

    @include media-breakpoint-down(sm) {
        .screen-full-width {
            flex-direction: column;
            height: auto;
            min-height: 100%;
        }

        .order,
        .leftpane {
            max-width: inherit;
        }

        .rightpane {
            width: auto;
        }

        .orders {
            position: sticky;
            z-index: 1;
        }

        .search .fields {
            z-index: 2;
        }
    }
}
