{
    "community_modules": [
        // Your list of module names from community you want the tooling to track
    ],
   "enterprise_modules": [
        // Your list of module names from enterprise you want the tooling to track
    ]
}
