// ============================
// Mass Mailing "Theme Basic"
// ============================

// ===== Layout =====
.o_layout.o_basic_theme {
        margin: 0px;
        padding: 25px;
        background-color: white;
        p, h1,h2,h3,h4,h5,span {
            color: black;
        }
    }
