/* Kanban views */
.openerp .oe_kanban_view .oe_kanban_card.oe_kanban_goal,
.openerp .oe_kanban_view .oe_kanban_card.oe_kanban_badge {
  width: 200px;
  min-height: 200px;
}
.oe_kanban_badge_avatars {
    margin-top: 8px;
}
.oe_kanban_badge_avatars img {
    width: 30px;
    height: 30px;
    padding-left: 0;
    margin-top: 3px;
    border-radius: 2px;
    -box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.oe_kanban_goal .oe_goal_state_block {
    width:200px;
    height:130px;
    margin: auto;
    margin-bottom: -20px;
}
.oe_kanban_goal .oe_goal_state_block,p {
    text-align: center;
}
.oe_kanban_goal .oe_goal_state_block .oe_goal_state {
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 30px;
}
.oe_kanban_goal .oe_goal_state_block .oe_goal_state.oe_e{
    font-size: 7em;
}
.openerp .oe_kanban_view .oe_kanban_content .oe_goal_gauge:first-child {
    margin: auto; /* avoid margin-right: 16px; */
}
.oe_kanban_goal .oe_kanban_content .oe_goal_gauge svg {
    margin-top: -20px;
}


/* Mail Sidebar */

.openerp .oe_mail_wall .oe_mail_wall_aside {
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 300px;
}
.openerp .oe_mail_wall_aside .oe_gamification_goal {
    background: #EDEDF6;
    height: auto;
    padding: 15px;
    border: solid 1px rgba(0,0,0,0.03);
}

.openerp .oe_gamification_goal .oe_goal_reached:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QMSCREbCamR5gAAAXhJREFUOMuV0z9rlEEQBvDf7htFFIwQBCvRQuFAJSJooY29VrH0E1hcCqNign8SYzAxRfTA0nyAg3wBK1GCKSwTK8G7j6AgiHl3LbLmwOQu8Wl2mZ15Zp6ZnWC/GMcrjBvBdTRkX4P/QdNZrGKkWN7sn+CuE5IvsqOyKFnRMhb3DJwsZ2VV5ZgoCt5qGdsyD8ITzGJSW3BVkAUdlZsu++0T/SU8xxQeuyj7LKEWJKcs6Px16y9harv0NVEQBZWmBR33e26Dm/hMW3BLLUvW/XJBlM31XIZMlNsi7pWa5jGjIbiBXBLd8UL+N0e0WIInvMNp8+Wltqx2SBJk06Z98HRnkUHTOZWPomEVojOiUZV26foP2XkHdD3aSRBxXDIsSRKyddmyGklQa5vRtbl7myprvrnisOBa0TuEgyBhziXwfneCrTG+9kDSkgQJSbaJ2ix42H9QYXvTakdEG4KThfanoKHS9XIvgt7KjspW8F2wIbhtSRr0Vf4AD6Nod0TaN4kAAAAASUVORK5CYII=);
    margin-left:-20px;
}
.openerp .oe_gamification_goal .oe_goal_failed:before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QMVECkXmaDBcAAAAUxJREFUKM+N0jFrVEEUhuFnV1KICS7ExcLCSgiCYJXCxt5C8B+ohYVgYeUfMJBCUIydkCpRLG3EThSxU0ypxMZKYQkSzd7cO3dmLJxNNhckGTgMfHPe+c6ZOZ7Sb7gauOIIq+V2wwVjFjNtYhS4dgh0L1EnvhtzKbGdyQW+8R/ofmJc8r64Ra/hYuJHEbda7nSgB1PQRsVpc2j+xfnEZjncjtz9zLHIw0SdyZH3uwx/wmDq5oaFyKeJc2QzsVOgVzXDveRBp5fAucjbTJ5E5EWYhtDvPkJiC1878rdEdUAZHHQ7FVkrpdaJ35lQXJ8EZveST5a9Zr7lZYFS5HHF2cjztF/ys11OgDP0auYjbwrURFZGzMAvjkfW077z6z/MGjGMfCxQFXnU7fsdvcjq5FsSH1RcnkAty4eM3EqiyTTW6AeuB5aOOOTLgZt/AfLdvLh74DfrAAAAAElFTkSuQmCC);
    margin-left:-20px;
}
.openerp .oe_mail_wall_aside .oe_gamification_goal .oe_goal_reached,
.openerp .oe_mail_wall_aside .oe_gamification_goal .oe_goal_failed {
    text-decoration: line-through;
}

.openerp .oe_mail_wall .oe_mail_wall_aside ul {
    list-style-type: none; 
    padding-left: 20px;
    margin-bottom: 15px;
}
.openerp .oe_mail_wall .oe_mail_wall_aside li {
    margin-bottom: 15px;
}
.openerp .oe_mail_wall .oe_mail_wall_aside table {
    margin: 10px 0;
}
.oe_mail_wall_aside .oe_list_content tbody tr:nth-child(even) {
    background-color: #fff;
}
.openerp .oe_mail_wall .oe_mail_wall_aside table td,th {
    vertical-align: center;
    border: none;
}
.openerp .oe_mail_wall .oe_mail_wall_aside table td.col1 { width: 25%; }
.openerp .oe_mail_wall .oe_mail_wall_aside table td.col2 { width: 20%; }
.openerp .oe_mail_wall .oe_mail_wall_aside table td.col3 { width: 45%; }
/* ... and 10% left for ranking */

.openerp .oe_mail_wall .oe_mail_wall_aside table progress,.oe_form_field_progressbar {
    width: 100%;
    display: inline-block;
}
.openerp .oe_mail_wall .oe_mail_wall_aside li progress,.oe_form_field_progressbar {
    width: 80%;
    display: inline-block;
}
.openerp .oe_mail_wall .oe_mail_wall_aside li p {
    margin:5px 0;
}
.openerp .oe_mail_wall .oe_mail_wall_aside .oe_update_plan {
    display: inline-block;
    float: right;
}
.openerp .oe_mail_wall .oe_mail {
    display: inline-block;
}