.o_knowledge_form_view {
    --default-sidebar-size: 300px;
    --sidebar-size: clamp(300px, var(--default-sidebar-size), 50vw);

    .o_knowledge_header,
    .o_knowledge_aside,
    .o_knowledge_editor {
        background: white;
    }

    .o_knowledge_editor {
        min-height: 100%;
        .oe_form_field {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .note-editable {
            border: none;
            height: auto !important;
        }
        .note-editable,
        .o_readonly {
            flex-grow: 1;
            padding: 1rem !important;
        }
    }

    .o_knowledge_aside {
        width: var(--sidebar-size);
        transition: width 0.15s linear;
        .btn-link:hover {
            background-color: #CECECE;
        }
        #knowledge_search_bar:hover {
            cursor: pointer;
        }
        ul {
            padding-left: 15px; /* indentation space */
        }
        li {
            list-style-type: none;
            & > ul {
                border-left: 2px solid #eee;
            }
        }
        .o_section_header:not(:hover) .o_section_create,
        .o_article:not(:hover) .o_article_create {
            visibility: hidden;
        }
        .o_article_name,
        .o_article_dropdown i {
            cursor: pointer;
        }
        .o_placeholder {
            background-color: #eee;
        }
    }

    .o_knowledge_resizer {
        position: absolute;
        top: 0;
        left: -10px;
        width: 20px;
        height: 100%;
        cursor: ew-resize;
        touch-action: none;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 9px;
            width: 3px;
            height: 100%;
            background: $o-gray-100;
        }
        &:hover::after {
            background: $o-gray-300;
        }
    }

    .o_knowledge_chatter_container {
        li.nav-item {
            display: none;
        }
        .o_FormRenderer_chatterContainer {
            max-width: unset;
            &.o-aside {
                width: auto;
                padding: 1rem;
                border-left: 0px;
            }
        }
    }

    .dropdown-menu.o_knowledge_more_options_panel {
        min-width: 225px;
        width: 225px;
        .o_m2o_avatar span {
            overflow-wrap: break-word;
        }
    }
}

// Select2 style:

.select2-container,
.select2-results {
    img {
        width: 100%;
        max-width: 20px;
        max-height: 20px;
    }
}
.select2-highlighted {
    background: $o-brand-odoo !important;
    color: $o-brand-secondary;
}

.o_knowledge_kanban_view {
    .o_knowledge_kanban_card {
        min-height: 10rem;
    }
}

// Media queries:

@include media-breakpoint-up(sm) {
    .o_knowledge_form_view {
        .o_scroll_view {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

@include media-breakpoint-down(xs) {
    .o_knowledge_form_view {
        .o_knowledge_aside {
            width: 100%;
        }
    }
}

@media print {
    .o_knowledge_header,
    .o_knowledge_aside,
    .o_knowledge_resizer {
        display: none !important;
    }
}
