.o_legacy_field_widget .o_field_color_picker {
    display: flex;
    float: right;
    margin-right: 7px;
    width: 100%;
    ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        @include o-kanban-colorpicker;
        @include o-kanban-record-color;
        width: 100%;
        max-width: unset;
        margin: 0;
        padding: 0;
        > li {
            border: 2px solid white;
            box-shadow: 0 0 0 1px map-get($grays, '300');
            margin: $o-kanban-inner-hmargin 4px 0 0;
            > a:focus {
                outline: none;
            }
        }
    }
}
