.o_export .o_selected > .o_tree_column {
    background-color: $o-brand-odoo;
    color: white;
}

.o_short_field {
    @include o-grab-cursor;
}

@include media-breakpoint-down(md) {
    .ui-sortable-handle {
        display: none;
    }

    .o_left_panel, .o_right_panel {
        height: 50% !important;
    }
}
