.o_field_percent_pie {
    .o_pie {
        --PercentPieField-color-active: var(--o-action);
        --PercentPieField-color-static: var(--gray-300);

        height: var(--PercentPieField-size, var(--o-bs-font-size-lg));
        aspect-ratio: 1;
        margin-right: var(--PercentPieField-gap, var(--o-bs-spacer-2));
    }
}

.o_field_percent_pie .o_pie_text {
    display: none;
}

.oe_stat_button .o_field_percent_pie .o_pie_text {
    display: block;
}
